<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" type="image/jpg" href="../../static/SecondPage/assets/img/handshake.png"/>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Team iNova</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/SecondPage/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/SecondPage/assets/css/style.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  * {
    box-sizing: border-box;
  }

  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .card{
    width: 100%;
    height: 650px;
    margin: 5px auto;
  }
  .scrollable{
    overflow-y: auto;
    max-height: 630px;
  }
  </style>
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../../static/SecondPage/assets/img/intel.png" alt="">
        <h1 class="text-light"><a href="/intel/">Intel</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/intel/mission/" class="nav-link"><span>Mission & Vision</span></a></li>
          <li><a href="/intel/erg/" class="nav-link"><span>Employee Community</span></a></li>
          <li><a href="/intel/ratings/" class="nav-link"><span>Ratings & Reports</span></a></li>
          <li><a href="/intel/employee/" class="nav-link"><span>Employee Comments</span></a></li>
          <li><a href="/intel/hiring/" class="nav-link"><span>Inclusive Hiring </span></a></li>
          <li><a href="/intel/questions/" class="nav-link"><span>Feedback Form</span></a></li>
          <li> <a href="/" class="nav-link"><span> Return to Home </span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <section id="employee" class="employee">
      <div class="container" style="font-family: 'Raleway', sans-serif">
        <div class="section-title">
          <h2>Employee Comments</h2>
            <div class="row">
              <div class="column" style="font-family: 'Raleway', sans-serif">
                <center><h4>Positive Comments</h4></center>
                <div class="progress justify-content-end">
                  <div class="progress-bar" style="width: 74.56%"> 74.56% </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text"> 
                        <li>Employee Resource Groups are huge and they do an amazing job in connecting each other through many different type of events throughout the year. The culture of inclusion and the new values are exactly what everyone need to have a sense of belonging and be able to grow and contribute to our full potential.</li>
                        <li>Diversity & Inclusion - Commitment on leaderships part to ensure we are fully representative of diverse people and cultures, and dedication to ensuring we are at full pay parity for all of our employees. </li>
                        <li>I have worked for the company for several years and I love it, I love the culture, the propose, the genuine care for employees, the diversity on career opportunities, etc.</li>
                        <li>Good salary and inclusive culture</li>
                        <li>It's a very diverse and inclusive company as well.</li>
                        <li>High Technology, Great Diversity, Outstanding Peers</li>
                        <li>Solid initiatives and commitment to diversity and inclusion</li>
                        <li>There are many areas in the company in which you can move to and gain a diverse set of experiences, especially if you are willing to relocate periodically.</li>
                        <li>good team dynamic and diversity at work</li>
                        <li>Values Inclusion & Diversity.</li>
                        <li>Great Pay and Benefits, Good level of inclusion and culture</li>
                        <li>Very well Diversity, friendly environment</li>
                        <li>Very diverse and inclusive.</li>
                        <li>Great work culture with emphasis on diversity and inclusion</li>
                        <li>technology, IDM, packaging, steady, diversity</li>
                        <li>Challenging and rewarding technical projects, get to work with cutting edge technology, company has a concern for culture and diversity</li>
                        <li>Great technologies, great people, good diversity tracks</li>
                        <li>Strong work ethics, inclusive environment, technical resources</li>
                        <li>They continually lead the industry not only in technology advancement, but in inclusion, social equity, environmental responsiblity, etc.</li>
                        <li>Tries to support D&I.</li>
                        <li>Very Diverse work environment.</li>
                        <li>Diversity Culture Safety Quality Friendship</li>
                        <li>Very Diverse and Inclusive now</li>
                        <li>Very accommodating. </li>
                        <li>If you're female and especially a person of color, you'll have a really good chance of being hired, regardless of experience. The emphasis on diversity is strong. Years ago (before this recent push!) we were told that out of the candidates who applied, if we did not choose the woman, we had to justify that to a VP. A VP mind you that has no idea what we actually need. There used to be crazy large referral bonuses the more unique of a hire you could find. Get that koosh large company job, find a nice place to settle in and eventually become a manager that is simply just a warm body in a chair.</li>
                        <li>honestly pursuing diversity and inclusion</li>
                        <li>Good training opportunities for the most part, good ergonomic programs, and good pay. Skype meetings are at least 2X as effective as old in person meetings. Working with smart, highly skilled and competent individuals is very satisfying when designing and executing projects. Messaging about work-life balance, diversity, inclusion and results seems to come from the right place even if not always the reality, although I do appreciate their effort to create inclusive company language on official documents. Benefits are very good and most managers are flexible on off time after covering weekend or night time projects. </li>
                        <li>Committed to have ethnic diversity in employee populations</li>
                        <li>good culture, diversity and inclusion</li>
                        <li>Great environment with friendly and inclusive peers/lower management</li>
                        <li>Flexible hours, paid vacation time off, the company culture is very inclusive and excels in this area.</li>
                        <li>technology, multiple teams, good peers, benefits, diversity</li>
                        <li>Benefits, ethics, schedule, diversity, pro veteran.</li>
                        <li>Good Salary, High visibility and accessibility to higher manager (VP level), Very satisfying job, Get to work with intelligent team members</li>
                        <li>truly committed to diversity</li>
                        <li>Pay, co-worker, benefits, diversity and WLB</li>
                        <li>Inclusion is a pillar but ir is obviously ignored at lower levels</li>
                        <li>Benefits, Work atmosphere, Diversity, Integrity, Bonus</li>
                        <li>communication / diversity / fairness</li>
                        <li>Diverse culture, set up processes</li>
                        <li>encourage diversity, inclusion, fearlessness, no offices for anybody</li>
                        <li>Great people, competitive salary, diversity is taken seriously!</li>
                        <li>Embracing inclusion.</li>
                        <li>Culture diversity, One Intel, Customer obsession</li>
                        <li>Inclusive environment.</li>
                        <li>challenging, stability, salary, benefits, diversity</li>
                        <li>Great Benefits of women thanks to the Director of Diversity who made lots of changes in support to women</li>
                        <li>Good Work life balance , good diversity</li>
                        <li>Great place to work , Inclusion, Diversity</li>
                        <li>Lots of inclusion, diversity, good place to start career</li>
                        <li>Inclusive</li>
                        <li>Work flexibility, sabbatical, salary, focus on diversity</li>
                        <li>Diversity and Inclusion, can get a huge breadth of experience</li>
                        <li>Great Work Life Balance, Great Diversity , Encourage the Creativity</li>
                        <li>Team is very accommodating and helps, supports to grow technically</li>
                        <li>The people are very welcoming, understanding, accommodating, friendly and a lot of diversity of people from every nation.</li>
                        <li>Incredible diversity</li>
                        <li>work life balance, diverse and inclusive</li>
                        <li>Great culture and diversity in work and high responsibility.</li>
                        <li>Great pay and benefits, dedicated to diversity and fair compensation, nice working conditions, mostly great managers.</li>
                        <li>Diversity</li>
                        <li>Inclusive work environement.</li>
                        <li>Meaningful application of degree, fantastic benefits, very inclusive atmosphere, and great peers.</li>
                        <li>Plenty of career opportunities and diverse workforce.</li>
                        <li>inclusive culture; willingness to collaborate; almost anyone will give you time for a 1:1</li>
                        <li>Excellent focus on diversity, inclusion, teamwork, individual value, meaningful work, exciting tech/projects, awesome benefits.</li>
                        <li>Great work, ok perks and a lot of open and inclusive communities to engage with and feel part of something bigger. The company is currently pushing to change its outdated culture which I find exciting but long overdue. </li>
                        <li>Diverse employee workforce.</li>
                        <li>Work-life balance and genuine concern for a diverse workforce.</li>
                        <li>Good inclusion initiative</li>
                        <li>As a large company you have lots of opportunities to work on diverse projects and keep your skills current. If you don't like one manager you can easily go work for someone else.</li>
                        <li>Inclusive environment with great values</li>
                        <li>Free drinks and fruits, employee health benefits, positive work environment, inclusiveness, diverse, flexible hours.</li>
                        <li>Diverse and inclusive work culture</li>
                        <li>Company promotes equality, inclusion, diversity, Has great benefits</li>
                        <li>Diverse range of jobs, easy to switch internally</li>
                        <li>Inclusive, Great work and life balance</li>
                        <li>very inclusive and open office culture; you are free to debate with a senior exec.</li>
                        <li>Good life work balance, relaxed culture, good networking opportunities, interesting work being done and diverse job options</li>
                        <li>The workforce is certainly more racially diverse than in the surrounding area, which I consider a plus.</li>
                        <li>Diversity, talent, learning opportunities, taking risks, culture</li>
                        <li>Great benefits, Inclusive atmosphere, Friendly coworkers</li>
                        <li>Employee centric company that is serious about diversity and inclusion.</li>
                        <li>Inclusive and diverse work environment with cordial manager/subordinate relationship in most of the teams.</li>
                        <li>Career growth, good work & life balance, challenging engineering problems, diverse teams</li>
                        <li>intelligent coworkers, diverse workforce, onsite cafe/healthcare/gym</li>
                        <li>Diverse culture.</li>
                        <li>Great benefits, great compensation, great diversity and ample opportunity to learn from others.</li>
                        <li>You learn a lot, team spirit, inclusion</li>
                        <li>Very good work Culture, a lot of inclusion</li>
                        <li>Diverse and interesting areas</li>
                        <li>Diversity</li>
                        <li>diversity.</li>
                        <li>inclusion</li>
                        <li>the job is very diverse</li>
                        <li>The atmosphere is inclusive and polite. The company's policies are well established and generally people try to follow them.</li>
                        <li>challenging, expertise, knowledge, great culture, diversity</li>
                        <li>Supportive of flexibility; strong policies on inclusion, diversity, ethics, sustainability.</li>
                        <li>Inclusion (No matter your gender, sexuality, skin color, or nationality, you are welcome)</li>
                        <li>intel is a very accommodating and good employer</li>
                        <li>Awesome Diversity in the team.</li>
                        <li>Work life balance and diversity are valued</li>
                        <li>Great things to learn as the company is into diverse fields.</li>
                        <li>intel is quite diversity company at Germany</li>
                        <li>Diversity and Inclusion, stable with good people</li>
                        <li>D&I, cultural values and attributes are a priority from the CEO office down.</li>
                        <li>diversity and inclusions is the culture</li>
                        <li>Diverse Culture , Great Place to work, Great Benefits</li>
                        <li>global reach and exposure, diverse</li>
                        <li>opportunities, salary, career, people, inclusion</li>
                        <li>Diverse env</li>
                        <li>great company; inclusion; good salary</li>
                        <li>Good benefits, culture, and inclusion</li>
                        <li>goode inclusive environment, pay is medicore, but you don't have to work much</li>
                        <li>work environment, growth opportunities, rewards, cultural diversity</li>
                        <li>Great place for diversity and inclusion, smart, kind colleagues.</li>
                        <li>World-wide company with a big history, great culture and huge number of abilities to grow and learn</li>
                        <li>Great compensations, very inclusive, cares about the community, innovative.</li>
                        <li>Great culture, good bonuses, international experience, inclusion, opportunity to grow</li>
                        <li>Location is conveniently accessible to transit and bicycle paths</li>
                        <li>Diverse environment </li>
                        <li>Very diverse and Global company with lots of opportunities to learn new things and contribute at the same time.</li>
                        <li>Work like balance, GPTW, diversity, New tech, Open</li>
                        <li>Global exposure, diverse, fast paced, always providing new challenges</li>
                        <li>Inclusive environment, work with great engineers, foster innovation</li>
                        <li>Flexible and accommodating with great perks</li>
                        <li>Very Diverse</li>
                        <li>Really inclusive and great place to work.</li>
                        <li>It has lot of process and a diversity firm</li>
                      </p>
                    </div>
                  </div>
                </div>

              </div>
              <div class="column" style="font-family: 'Raleway', sans-serif">
                <center><h4>Negative Comments</h4></center>
                <div class="progress">
                  <div class="progress-bar" style="width:25.43%">25.43%</div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <li>The other issue I have, and this will not be a popular opinion probably, is that I feel that we have gone too far on diversity and inclusion. I am not against any diversity or inclusive activities. There should not be bonus kickers that relate to diverse hiring - that is nothing I can control nor should it be there at all. Go after people that offend vs telling a manager a diverse candidate is the requirement when the non-diverse candidate is clearly the better choice.</li>
                        <li>Learning curve droops fast, not much diversity</li>
                        <li>Locations are less desirable due to lack of diversity.</li>
                        <li>Their diversity numbers look strong for total POC.</li>
                        <li>They are pushing the forced diversity and inclusion narrative too much and too focused on being social justice warriors.</li>
                        <li>They treat disabled military vets like trash and place them in positions that are even worse for their disability.</li>
                        <li>lack of diversity in management</li>
                        <li>Diversity hiring quotas will put you at a disadvantage in getting hired if you are male and white or Indian.</li>
                        <li>culture changed gradually since 2005 and get worse after 2010 - focus on lots of fluent talkers fighting for visibility and later diversity (hire/promote persons on gender/color than real merit) - worse time since BK started and after getting Dr. Murthy and gang in</li>
                        <li>Over-index on inclusion may be blunting the strong, direct culture needed to transform and win in new markets.</li>
                        <li>With the Intel's size and diversity of it's portfolio, beauracacy stifles some innovation and leads to slow movement</li>
                        <li>Senior and diverse women leave Intel quicker than men - and make the typical ~80% of what like-experienced male peers do.</li>
                        <li>Lack of diversity and integration for new employees</li>
                        <li>Lack of racial diversity in finance, non-inclusive behaviors, HR does not have your back (although I believe it is changing under Sandra's leadership).</li>
                        <li>Career Dev, People, Diversity, Comp,</li>
                        <li>Much internal process, "diversity" is often chosen over meritocracy.</li>
                        <li>Most of us who discuss these challenges are women, yet Intel supposedly has achieved pay equity and met their diversity goals.</li>
                        <li>Focused on promoting diversity even though they don't know how to do their jobs.</li>
                        <li>inclusive needs more work in some departments</li>
                        <li>They keep having diversity programs  but to no effect. Diversity is only a buzz word to show others that they are doing something.</li>
                        <li>Management stuck in analysis paralysis. Too much focus on diversity. Many incapable female managers promoted and exploit diversity.</li>
                        <li>Kind of TOO MUCH emphasis on diversity like we feel we need to brag about it by boasting numbers all of the time.</li>
                        <li>And, because of diversity push, it is gettting harder for promotion.</li>
                        <li>Complex and inclusive work environment.</li>
                        <li>Poor work/life balance; Execs are non-diverse (and remove other non-diverse to keep roles)</li>
                        <li>Intel HR has been promoting diversity, diversity, and diversity. But, seriously, first day I came to office, I was lost. I though I was working in Bangalore office, not San Diego.   The issue with this is that people often speak their own language at work, which is according to HR is unlawful.  And, how can people who don't belong to this ethnic group can be sure that they are not discriminated at performance review?</li>
                        <li>Lacks diversity</li>
                        <li>The performance review is almost always a complete farce. Seniority is highly prized and political alliances takes top priority. Those who are outside-looking-in will almost definitely get the shaft, irregardless of their actual performance and capabilities. That is too bad because Intel has a virtual monopoly on one of the most important products: the chip that drives virtually every computer today.  For over 30 years, Intel has tried to diversity its product portfolio by pouring tens-billions into its R&D and M&A. Today, Intel has virtually nothing to show for those tens of billions invested outside of its single core product. Why? Its culture is rotten, dishonest, racist, and degenerate and doesn't reward\punish its employees properly. </li>
                        <li>Not the most diverse, small facility/amenities</li>
                        <li>Bad managers, unqualified diversity hires</li>
                        <li>Career Growth is poor and don’t feel inclusive</li>
                        <li>The company for USA is overboard on diversity, serious discrimination towards non-diverse employees.</li>
                        <li>Disrespectful managers who have no respect for people coming from diverse backgrounds.</li>
                        <li>Needs to do better in terms of representation of women and minorities (in Penang MNC context) in workforce and management</li>
                        <li>Too much emphasis on diversity destroying</li>
                        <li>Boring work, not very diverse</li>
                        <li>Very diverse teams</li>
                        <li>High bureaucracy, DEI for branding but not in real especially as a UMG grows as a leader.</li>
                        <li>There weren't any accommodation near the campus.</li>
                        <li>Racism and when you tried to highlight it to HR, they did nothing even though theg always mentioned that the company is focuaing on diversity.</li>
                        <li>They now need to focus on inclusion.</li>
                        <li>Strange obsession with diversity over quality</li>
                        <li>Too nerrow, my abilities are wider</li>
                        <li>Diversity drive is demoralizing to male employees and debases female achievements.</li>
                        </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

      </div>
    </section>

  </main>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../static/SecondPage/assets/vendor/aos/aos.js"></script>
  <script src="../../static/SecondPage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../static/SecondPage/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/typed.js/typed.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/SecondPage/assets/js/main.js"></script>

</body>

</html>