<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Team iNova</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/SecondPage/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/SecondPage/assets/css/style.css" rel="stylesheet">

  <style>
  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 33%;
    padding: 10px;
  }

  .card{
    width: 100%;
    height: 350px;
    margin: 30px auto;
  }
  .scrollable{
    overflow-y: auto;
    max-height: 325px;
  }
  </style>

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../../static/SecondPage/assets/img/intel.png" alt="">
        <h1 class="text-light"><a href="http://127.0.0.1:5000/intel/">Intel</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="http://127.0.0.1:5000/intel/mission/" class="nav-link"><span>Mission & Vision</span></a></li>
          <li><a href="http://127.0.0.1:5000/intel/erg/" class="nav-link"><span>Employee Community</span></a></li>
          <li><a href="http://127.0.0.1:5000/intel/ratings/" class="nav-link"><span>Ratings & Reports</span></a></li>
          <li><a href="http://127.0.0.1:5000/intel/employee/" class="nav-link"><span>Employee Comments</span></a></li>
          <li><a href="http://127.0.0.1:5000/intel/hiring/" class="nav-link"><span>Inclusive Hiring </span></a></li>
          <li><a href="http://127.0.0.1:5000/intel/questions/" class="nav-link"><span>Submit a Question</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <section id="erg" class="erg">
      <div class="container">

        <div class="section-title">
          <h2>Employee Community Videos</h2>
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Diversity at Intel: Employee Resource Groups</h5>
                  <br>
                  <iframe width="500" height="250" src="https://www.youtube.com/embed/SpxRC-tEUlM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Designing for Disabilities - How Diversity Strengthens Work</h5>
                  <br>
                  <iframe width="500" height="250" src="https://www.youtube.com/embed/gc0SF8Dd4vg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Diversity at Intel: Intel Voices</h5>
                  <br>
                  <iframe width="500" height="250" src="https://www.youtube.com/embed/kRRoBgYdme0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Intel Strives for Diversity and Population Representation</h5>
                  <br>
                  <iframe width="500" height="250" src="https://www.youtube.com/embed/NtIFeeOYBmw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>

    <div class="container">
        <div class="section-title">
          <h2>Articles</h2>
            <div class="row">
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> An Overview of Life as an Intel Employee</h4> <br>
                          <div class="clearfix">
                            <div class="c100 p88">
                              </div>
                            </div> Fearless, Inclusion, Customer Obsessed, One Intel, Truth and Transparency, and Quality <br> <br>
                      Read More here: <a href="https://www.intel.com/content/www/us/en/jobs/life-at-intel.html">
                      https://www.intel.com/content/www/us/en/jobs/life-at-intel.html </a>
                          </div> <br>
                          </p>
                    </div>
                  </div>
                </div>
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> People - Intel </h4> <br>
                          <div class="clearfix">
                            <div class="c100 p100">
                              </div>
                            </div> We are dedicated, diverse, and passionate thinkers and doers. We are your neighbors
                            and friends. With our varied backgrounds, we are united in the mission of keeping
                            our nation safe.<br> <br>
                      Read More here: <a href="https://www.intel.gov/people">
                      https://www.intel.gov/people </a>
                          </div> <br>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="column">
                      <div class="card">
                        <div class="card-body">
                          <div class="scrollable">
                            <p class="card-text">
                              <h4> Disability Visibility: Seven Takeaways From Intel's ...</h4> <br>
                                <div class="clearfix">
                                  <div class="c100 p100">
                                    </div>
                                  </div> Our employees with disabilities are incredible members of our team, and it’s
                            our job to provide them with the resources they need to succeed. While we know we still
                            have a lot of work in front of us, there’s a lot we’re already doing to create a more
                            inclusive environment for employees with disabilities.<br> <br>
                      Read More here: <a href="https://blogs.intel.com/jobs/2020/10/disability-visibility-seven-takeaways-from-intels-mission-to-become-the-most-inclusive-company-on-the-planet/">
                      https://blogs.intel.com/jobs/2020/10/disability-visibility-seven-takeaways-from-intels-mission-to-become-the-most-inclusive-company-on-the-planet/</a>
                                </div> <br>
                            </p>
                          </div>
                        </div>
                      </div>
                  <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Intel Communities, Blogs, and Social@Intel </h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> Technology, culture, news, trends, innovations, and the people behind them.<br> <br>
                      Read More here: <a href="https://www.intel.com/content/www/us/en/blogs-communities-social.html">
                      https://www.intel.com/content/www/us/en/blogs-communities-social.html </a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                  <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Intel Artificial Intelligence Opens Door to Mobility for ...</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> “Today on International Day of Persons with Disabilities, it’s important to
                          recognize the ways technology can help people regain mobility and control of their lives.
                          The Wheelie 7 kit from HOOBOX Robotics is a great example of using AI to enable people with
                          limited mobility to move around using natural facial movements.”– Anna Bethke, leader of AI
                          for Social Good, Intel<br> <br>
                      Read More here: <a href="https://newsroom.intel.com/news/intel-artificial-intelligence-opens-door-mobility-quadriplegic-community/">
                      https://newsroom.intel.com/news/intel-artificial-intelligence-opens-door-mobility-quadriplegic-community/</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                  <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Committed to a Culture of Accessibility - Intel </h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> We are focused on driving a sustained culture of accessibility,
                          embracing technology to eliminate barriers, foster innovation, and empower all people to
                          reach their full potential.<br> <br>
                      Read More here: <a href="https://www.intel.com/content/www/us/en/diversity/accessibility-overview.html">
                      https://www.intel.com/content/www/us/en/diversity/accessibility-overview.html </a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>

  </main>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../static/SecondPage/assets/vendor/aos/aos.js"></script>
  <script src="../../static/SecondPage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../static/SecondPage/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/typed.js/typed.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/SecondPage/assets/js/main.js"></script>

</body>

</html>