<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" type="image/jpg" href="../../static/SecondPage/assets/img/handshake.png"/>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Team iNova</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/SecondPage/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/SecondPage/assets/css/style.css" rel="stylesheet">

  <style>
  * {
    box-sizing: border-box;
  }

  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .card{
    width: 100%;
    height: 350px;
    margin: 5px auto;
  }
  .scrollable{
    overflow-y: auto;
    max-height: 325px;
  }
  </style>
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../../static/SecondPage/assets/img/intel.png" alt="">
        <h1 class="text-light"><a href="http://127.0.0.1:5000/intel/">Intel</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/intel/mission/" class="nav-link"><span>Mission & Vision</span></a></li>
          <li><a href="/intel/erg/" class="nav-link"><span>Employee Community</span></a></li>
          <li><a href="/intel/ratings/" class="nav-link"><span>Ratings & Reports</span></a></li>
          <li><a href="/intel/employee/" class="nav-link"><span>Employee Comments</span></a></li>
          <li><a href="/intel/hiring/" class="nav-link"><span>Inclusive Hiring </span></a></li>
          <li><a href="/intel/questions/" class="nav-link"><span>Submit a Question</span></a></li><br> <br> <br> <br> <br> <br> <br>
          <li> <a href="/" class="nav-link"><span> Return to Home </span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">
  <section id="hiring" class="hiring">
    <div class="container">
      <div class="section-title">
        <h2>Tweets</h2>
          <div class="row">
            <div class="column">
              <div class="card">
                <div class="card-body">
                  <div class="scrollable">
                    <p class="card-text">
                      <li>700 high-tech jobs, 1,000 construction jobs and an additional 3,500 jobs to New Mexico. Just a few ways Intel is investing in our technology and our people. <a href='https://t.co/kABar78F3e'>https://t.co/kABar78F3e</a> <a href='https://t.co/MAJfhtzJgd'>https://t.co/MAJfhtzJgd</a></li>
                      <li>It's true, our new expansion means wonderful job opportunities for you! Want to work with us? Stay tuned for new opportunities in Arizona. <a href='https://t.co/gqfGoJDq72'>https://t.co/gqfGoJDq72</a></li>
                      <li>@AbbyPontzer Hi Abby, glad to hear you know of someone who's interested in working at Intel. We'd encourage them to check out our jobs page for opportunities: <a href='https://t.co/MbJ0Vbg58y'>https://t.co/MbJ0Vbg58y</a></li>
                      <li>To meet growing product demand, Intel continued investing in factories around the world – including $7B to create 3K high-wage jobs in a new Arizona factory. <a href='https://t.co/ifptDSLGWx'>https://t.co/ifptDSLGWx</a></li>
                      <li>Working from home for the first time in 20 years, Rachel was able to watch her son grow from toddler to little boy. Learn about our family friendly #benefits that helped her find balance: <a href='https://t.co/moDHoJsj4q'>https://t.co/moDHoJsj4q</a> #workingparents <a href='https://t.co/LxNNSGB1oc'>https://t.co/LxNNSGB1oc</a></li>
                      <li>For Szymom, a software engineering manager at #IntelPoland, storage is a fascinating, forward-looking field. Read why he encourages passionate engineers to explore opportunities in #Gdansk. <a href='https://t.co/2Tx6PgYO8n'>https://t.co/2Tx6PgYO8n</a> #engineering #jobs <a href='https://t.co/uy2IIwiDBH'>https://t.co/uy2IIwiDBH</a></li>
                      <li>Big news! We are expanding our AI for Youth program into a 10th country—Indonesia! We are excited to help more young people prepare for jobs of the future and use #AI to solve real world challenges. <a href='https://t.co/aHvZc1d3bO'>https://t.co/aHvZc1d3bO</a></li>
                      <li>Supporting #diversity must go beyond hiring. We're proud to say we've met our 2020 spending goal supporting diverse-owned businesses. Learn more: <a href='https://t.co/suCTz1C9qz'>https://t.co/suCTz1C9qz</a> <a href='https://t.co/FgaMb2dfUr'>https://t.co/FgaMb2dfUr</a></li>
                      <li>RT: A.I. Software Engineer @humaabidi is working to get rid of gender bias in #AI algorithms. For the full interview on #DTLive -&gt; <a href='https://t.co/zgKpfPsaOf'>https://t.co/zgKpfPsaOf</a> #DEI @Intel <a href='https://t.co/mrApXWmfr0'>https://t.co/mrApXWmfr0</a></li>
                      <li>“At a time when we worry major firms will curtail their diversity and inclusion initiatives, Intel is dialing their's up,” said @ellmcgirt. Read more on the work ahead via @barbarawhye’s interview with @FortuneMagazine: <a href='https://t.co/gWV22f8eUg'>https://t.co/gWV22f8eUg</a>
                      #InclusionatIntel #RISEwithus</li>"
                      <li>RT: ""Leaders need to be 'fearless' to drive the D&amp;I agenda,"" says Intel India HR Head @AnjaliR82504550 in this interview with @PeopleMatters2. Read her thoughts on how #diversity leads to #innovation and what organizations can do to be more #inclusive.
                      <a href='https://t.co/EZisn3MKuq'>https://t.co/EZisn3MKuq</a></li>"
                      <li>RT: Intel is expanding U.S. paid leave benefits to better support employees during life’s critical moments: <a href='https://t.co/zqZwhYfE5f'>https://t.co/zqZwhYfE5f</a> <a href='https://t.co/GoVJCIy0cD'>https://t.co/GoVJCIy0cD</a></li>
                      <li>Innovation demands an array of perspectives, and we’re proud of the investments we’re making to hire, support, and promote more women in tech.  #WomensEqualityDay #WeAreIntel <a href='https://t.co/hjqLbSiKqA'>https://t.co/hjqLbSiKqA</a></li>
                      <li>"A zip code doesn’t determine brilliance, but sometimes it determines access." Listen to Pia Wilson-Body's interview with @DevindThorpe about our Foundation’s efforts to increase #STEM accessibility. <a href='https://t.co/UtrIykm8mm'>https://t.co/UtrIykm8mm</a> <a href='https://t.co/1QGX9K1QIi'>https://t.co/1QGX9K1QIi</a></li>
                      <li>RT: My #ChangeWave interview with @RyanCarson from Treehouse has been posted. We talked about overcoming adversity and improving employee inclusion and retention. Check out our conversation here: <a href='https://t.co/ereEDXg4xk'>https://t.co/ereEDXg4xk</a> #leadership #diversityandinclusion #IAmIntel</li>
                      <li>Want a peek behind the hiring curtain?  Chief Talent Officer @AmberGrewal shares how we plan to leverage A.I. to transform talent management and continue making lntel a great place to thrive in your career: <a href='https://t.co/Bn4PCNDfhE'>https://t.co/Bn4PCNDfhE</a> <a href='https://t.co/lqTGP2aS7m'>https://t.co/lqTGP2aS7m</a></li>
                      <li>Thank you, Woman Engineer Magazine for naming us a Top 50 Employer for Women! Our amazing employees make everything we do possible, and we are proud to foster a positive work environment for #womenintech @EOPublications #WomanEngineer #Top50 <a href='https://t.co/c7AomDeuzz'>https://t.co/c7AomDeuzz</a></li>
                      <li>#DYK STEM jobs are growing twice as fast as non-tech jobs, but many job openings go unfilled? Learn more about the She Will Connect initiative aiming to address this issue: <a href='https://t.co/vPwduOGg9o'>https://t.co/vPwduOGg9o</a> #techcareer <a href='https://t.co/G9BSA4gyfh'>https://t.co/G9BSA4gyfh</a></li>
                      <li>RT: In 2018 @wenbrooks challenged other VCs to hire interns from diverse backgrounds. Today at #ICAPSummit, we &amp; @Intel are excited to announce a partnership with @HBCUvc, which trains underrepresented students in tech #entrepreneurship &amp; #VC. #nextgeneration <a href='https://t.co/p5Wgqf5QUL'>https://t.co/p5Wgqf5QUL</a> <a href='https://t.co/BcEI1OGIab'>https://t.co/BcEI1OGIab</a></li>
                      <li>Finding a sense of belonging in a new company can be hard. Hear from a recent hire about what she says helped her integrate. #WeBelong <a href='https://t.co/94R3yNdH8X'>https://t.co/94R3yNdH8X</a> <a href='https://t.co/tLxxHIOGRH'>https://t.co/tLxxHIOGRH</a></li>
                      <li>RT: #iBelong at work AND at home. Thank you to an employer who gives me flexibility to dedicate myself to both of my passions ... digital marketing, and the little people in my life #workingmom #iamintel #IWD2019 <a href='https://t.co/86i446egID'>https://t.co/86i446egID</a></li>
                      <li>What are the secrets to hiring and retaining inclusive, innovative talent at @Intel? Our CDIO @steministbarb spills the beans to @mercnews. Check it out: <a href='https://t.co/Knz8cX84Wd'>https://t.co/Knz8cX84Wd</a> <a href='https://t.co/pgFT3nq0KQ'>https://t.co/pgFT3nq0KQ</a></li>
                      <li>It’s not just about the company, it’s about community. Find your place here: <a href='https://t.co/hJMSKsMo6o'>https://t.co/hJMSKsMo6o</a> #tech #jobs <a href='https://t.co/MRqbWbynQx'>https://t.co/MRqbWbynQx</a></li>
                      <li>RT: It was a honor to accept the Employment Award on behalf of @Intel and Bob Swan. Thank you, @HeroPreneurNVBS for the recognition of our efforts to support our veterans. #IAmIntel <a href='https://t.co/JAdbhjdtS0'>https://t.co/JAdbhjdtS0</a></li>
                      <li>“It’s not just about accepting differences, it’s about embracing and championing them.” –Paula Tolliver, Intel CIO, on our being named a 2018 NOD Leading Disability Employer <a href='https://t.co/VPKNUaTKvO'>https://t.co/VPKNUaTKvO</a> #NDEAM <a href='https://t.co/ZHqHnZXXS6'>https://t.co/ZHqHnZXXS6</a></li>
                      <li>We welcome everyone no matter their abilities, ethnicity, race, gender, sexuality, age or creed. By overcoming barriers to employment, we can help create a safe, inclusive workplace. #ADA28 <a href='https://t.co/392VEc3x5Z'>https://t.co/392VEc3x5Z</a></li>
                      <li>Proud to be recognized by @DBP_News 2018 Diversity Best Practices Inclusion Index for our diversity and inclusion practices in recruitment, retention; company culture; and demographic transparency. <a href='https://t.co/tGSGZh6b5n'>https://t.co/tGSGZh6b5n</a> #DBPInclusionIndex <a href='https://t.co/baps4ucFGL'>https://t.co/baps4ucFGL</a></li>
                      <li>We’re committed to delivering equal pay for equal work for all men and women, mothers and fathers – and we have great parental benefits that lets new moms and dads spend extra time bonding with baby: <a href='https://t.co/lE5cDJiTOG'>https://t.co/lE5cDJiTOG</a> #MomsEqualPay <a href='https://t.co/buzO8N0YJ0'>https://t.co/buzO8N0YJ0</a></li>
                      <li>Apple CEO @tim_cook  says 'US will lose its leadership in technology' unless more women are hired. #womenintech <a href='https://t.co/PSw2qaoNaB'>https://t.co/PSw2qaoNaB</a></li>
                      <li>RT: Great discussion with @rozhudnell this morning about the future of work, creating jobs for young people #itspossible <a href='https://t.co/sAHZNEW7IZ'>https://t.co/sAHZNEW7IZ</a></li>
                      <li>Glass ceiling still keeps top jobs for men: Women earn 75% of men's salary via @forbes #paygap <a href='https://t.co/oeUuLvqKN8'>https://t.co/oeUuLvqKN8</a></li>
                      <li>In the US women hold &lt; 25% of STEM jobs. We're at #WPISTEMFair to inspire interest &amp; involvement. #Intelinnovate <a href='https://t.co/geb8hXUHeA'>https://t.co/geb8hXUHeA</a></li>
                      <li>As a @CivilianJobscom top Military employer, we thank you who serve the U.S.A! #MemorialDay  <a href='https://t.co/k4rznpDz4p'>https://t.co/k4rznpDz4p</a> <a href='https://t.co/OPSVFt2Rc7'>https://t.co/OPSVFt2Rc7</a></li>
                      <li>We're excited to be a 2016 @CivilianJobscom Most Valuable Employer for Military #2016MVE <a href='https://t.co/nsQnpxa2o6'>https://t.co/nsQnpxa2o6</a> <a href='https://t.co/8tt14S6bSq'>https://t.co/8tt14S6bSq</a></li>
                      <li>.@MilitaryTimes names Intel a Best for Vets employer again! <a href='https://t.co/LF8xxI5Xyq'>https://t.co/LF8xxI5Xyq</a> #inclusion <a href='https://t.co/3jCbHuzvrC'>https://t.co/3jCbHuzvrC</a></li>
                      <li>“We’ve seen what can happen when a woman is given equal opportunity and resources to soar” via @rozhudnell #IWD2016 <a href='https://t.co/sBGajvjX5k'>https://t.co/sBGajvjX5k</a></li>
                      <li>Intel improved underrepresented minority hiring 31%. Learn how: <a href='https://t.co/uJb5VPL68a'>https://t.co/uJb5VPL68a</a> #diversity <a href='https://t.co/6dlwE2afgE'>https://t.co/6dlwE2afgE</a></li>
                      <li>#Diversity update: last year we hired nearly 2x more #WomenInTech than in 2014. <a href='https://t.co/nyUWG3Few8'>https://t.co/nyUWG3Few8</a> <a href='https://t.co/aNVKHnWuNh'>https://t.co/aNVKHnWuNh</a></li>
                      <li>Over 50% of jobs require tech skills &amp; demand will increase 77% in 10 years: <a href='https://t.co/NuEYRmq7Qr'>https://t.co/NuEYRmq7Qr</a> #IntelInnovate <a href='https://t.co/HJ3QMfUtDs'>https://t.co/HJ3QMfUtDs</a></li>
                      <li>#DYK there are more middle-skills jobs than trained workers to fill them? <a href='https://t.co/R1zeU7oa0s'>https://t.co/R1zeU7oa0s</a> #IntelInnovate <a href='https://t.co/GVvKV6Z2e1'>https://t.co/GVvKV6Z2e1</a></li>
                      <li>Intel's diversity hiring doubles in six months <a href='http://t.co/z05GFdyJ4P'>http://t.co/z05GFdyJ4P</a> via @usatoday</li>
                      <li>#EconomicEmpowerment: STEM occupations to grow 7.2% faster than all other jobs. <a href='http://t.co/uV1vL42Hvf'>http://t.co/uV1vL42Hvf</a> #IntelInnovate <a href='http://t.co/ImmmmkuHCG'>http://t.co/ImmmmkuHCG</a></li>
                      <li>Entrepreneurs generate more than 50% of the GDP &amp; employment in the U.S. <a href='http://t.co/BRjlGG63Qq'>http://t.co/BRjlGG63Qq</a> #IntelInnovate <a href='http://t.co/i8Q9OGa4Ga'>http://t.co/i8Q9OGa4Ga</a></li>
                      <li>92% of girls say tech skills from @IntelClubhouse apply to future jobs. Become a mentor today: <a href='http://t.co/q36ekFHech'>http://t.co/q36ekFHech</a> <a href='http://t.co/llDjIjvv2m'>http://t.co/llDjIjvv2m</a></li>
                      <li>#DidYouKnow small businesses have supplied more than 65% of jobs since 1995? <a href='http://t.co/aIBOi7DXnE'>http://t.co/aIBOi7DXnE</a> #IntelForward <a href='http://t.co/M4hrpriwhY'>http://t.co/M4hrpriwhY</a></li>
                      <li>5M = number of women Intel #SheWillConnect program aims to connect to job opportunities via tech <a href='http://t.co/KkOq6569Z1'>http://t.co/KkOq6569Z1</a> #betterfuture</li>
                      <li>High school graduates have an #employment rate nearly 20% higher than dropouts
                      <a href='http://t.co/9e6pVP9Jrf'>http://t.co/9e6pVP9Jrf</a> #education #betterfuture</li>"
                      "<li>Jobs we'd be good at:

                      - Modeling Bunny Suits
                      - The Ultimate Secret Ingredient
                      - Master of Silicon</li>"
                      <li>@OsamaElsawy20 Thank you for your interest in working with Intel. You can search and apply for all of our jobs here at <a href='https://t.co/KTNgKx8gRj'>https://t.co/KTNgKx8gRj</a> Good luck!</li>
                      <li>@siavash22402016 Thank you for your interest in working with Intel. You can check and apply for all of our jobs here at <a href='https://t.co/Nz9Dt07SvI'>https://t.co/Nz9Dt07SvI</a> Good luck!</li>
                      <li>@Kipchumba001 @ASUS We are hiring :) <a href='https://t.co/zTLhhLME7J'>https://t.co/zTLhhLME7J</a></li>
                      <li>@Nechir72147187 Thank you for your interest in working for Intel. We don't have an Intel facility in Iraq however you can find and apply for jobs online at <a href='https://t.co/gy9Sn96LWr.'>https://t.co/gy9Sn96LWr.</a></li>
                      <li>Meet our new Chief People Officer, @SandraLRivera. She’ll be front and center in terms of hiring as we become data-centric, bringing on the best talent to work in emerging fields. <a href='https://t.co/TE6ki7pu21'>https://t.co/TE6ki7pu21</a> <a href='https://t.co/mIho2bEHGR'>https://t.co/mIho2bEHGR</a></li>
                      <li>@ArjunWelcome3 Hello! To explore job opportunities at Intel, please visit <a href='https://t.co/DrTEb7HfmQ.'>https://t.co/DrTEb7HfmQ.</a> Good luck!</li>
                      <li>85% of jobs in 2030 don’t even exist yet. That’s why Intel is powering advanced learning tools to ensure students have the skills they need to succeed in the future. #edtech <a href='https://t.co/BaEHl0Vl95'>https://t.co/BaEHl0Vl95</a></li>
                      <li>What are the new jobs in a human + machine world? These are the 8 skills needed to ride the third wave of business transformation. #IntelAI <a href='https://t.co/WtslpRmnSB'>https://t.co/WtslpRmnSB</a> <a href='https://t.co/Poys5rCWEx'>https://t.co/Poys5rCWEx</a></li>
                      <li>@kimhyun59411579 Hi, thanks for your interest!  You can find and apply for all of our jobs online at <a href='https://t.co/dP4rVdvriy.'>https://t.co/dP4rVdvriy.</a> We don’t currently accept submissions via social.  Good luck!</li>
                      <li>@Tom_Sherry1 You can find and apply for all of our jobs online at <a href='https://t.co/7xyru4fIwR.'>https://t.co/7xyru4fIwR.</a> We don’t currently accept submissions via social. Good luck!</li>
                      <li>@ramakrishnakalk Hello Rama Krishna, We hire globally and sorry to inform that we do not have any data regarding the quality of microelectronics graduates.</li>
                      <li>Learn how new uses for #drones are sparking job opportunities in #agriculture, building inspections and disaster recovery. #iQbyIntel</li>

            <br> <br>
          </div>
        </div>


  </main>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../static/SecondPage/assets/vendor/aos/aos.js"></script>
  <script src="../../static/SecondPage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../static/SecondPage/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/typed.js/typed.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/SecondPage/assets/js/main.js"></script>

</body>

</html>