<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Team iNova</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/SecondPage/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/SecondPage/assets/css/style.css" rel="stylesheet">

</head>

  <style>
  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .card{
    width: 100%;
    height: 350px;
    margin: 30px auto;
  }
  .scrollable{
    overflow-y: auto;
    max-height: 330px;
  }
  </style>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../../static/SecondPage/assets/img/intel.png" alt="">
        <h1 class="text-light"><a href="http://127.0.0.1:5000/intel/">Intel</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="http://127.0.0.1:5000/intel/mission/" class="nav-link"><span>Mission & Vision</span></a></li>
          <li><a href="http://127.0.0.1:5000/intel/erg/" class="nav-link"><span>Employee Community</span></a></li>
          <li><a href="http://127.0.0.1:5000/intel/ratings/" class="nav-link"><span>Ratings & Reports</span></a></li>
          <li><a href="http://127.0.0.1:5000/intel/employee/" class="nav-link"><span>Employee Comments</span></a></li>
          <li><a href="http://127.0.0.1:5000/intel/hiring/" class="nav-link"><span>Inclusive Hiring </span></a></li>
          <li><a href="http://127.0.0.1:5000/intel/questions/" class="nav-link"><span>Submit a Question</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <section id="mission" class="mission">
      <div class="container">

        <div class="section-title">
          <h2> Mission Statement</h2>
          <h5> We engineer solutions for our customers’ greatest challenges with reliable, cloud to edge computing, inspired by Moore’s Law. </h5>
          <br> <br>
          <h2> Vision Statement</h2>
          <h5> We are on a journey to be the trusted performance leader that unleashes the potential of data. </h5>
          <br> <br>
          <h2> Corporate Values</h2>
            <h5>
              <li> Customer obsessed </li>
              <li> One Intel </li>
              <li> Fearless </li>
              <li> Truth </li>
              <li> Transparency </li>
              <li> Inclusion </li>
              <li> Quality </li>
            </h5>
          <br> <br>
          <h2> The Valuable 500 Commitment </h2>
          <h5> <b> Valuable Leader: </b> Pat Gelsinger <br> <br>
               <b> Intel’s Valuable 500 Commitment: </b> Commitment to be submitted.
          </h5>
        </div> <br>
      <div class="container">
        <div class="section-title">
          <h2>Leadership Tweets</h2>
            <div class="row">
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <center> <h4> Pat Gelsinger </h4> </center>
                          <li>The best ideas come together w/ a diverse set of perspectives. Making our industry more inclusive will drive innovation that serves all for better. #AllianceForGlobalInclusion
                          https://t.co/3oxUr4Qqlf</li>
                          <li>Our country is stronger with more voting, not less, and with the evolution of technology, voting can be more secure, equitable and accessible. We oppose any legislation that seeks to reduce the voting rights or opportunities of American citizens.</li>
                          <li>Our great partners @Argonne are helping to shape the future of engineering by connecting girls to world-class scientists and engineers on Introduce a Girl to Engineering Day. @Intel we are striving to inspire a diverse set of next-generation engineers. https://t.co/OiVbHOD7vB</li>
                          <li>@AmandaBlev @VMware @intel Thank you for the kind words, it's been honor to work with folks like you - folks who truly embody VMware's culture.</li>
                          <li>On 12/10/1948, the UN adopted the UDHR, which proclaimed inalienable rights of every human being - regardless of race, color, religion, sex, language and more. After all the events of 2020, let's think about how we can re-shape our world to create equal opportunity for all.</li>
                          <li>Great having George Takei speak with VMware this week. Many important lessons and insights! His talk was part of our virtual celebrations for pride — a reminder that we’re not only creating a D&amp;I culture in the office but a safe, supportive community wherever we may be working. https://t.co/cdKOwfytnv</li>
                          <li>The “Black@VMware Presents: Global Culture Club” meeting on Friday was inspirational and eye-opening. I am listening and have a lot to learn. We must continue working to fight for diversity, equity and inclusion. We have more to do, more action to take. https://t.co/iLawHxlSzq</li>
                          <li>This is such an important point. Under extraordinary stress, leaders must continue fighting to build an inclusive community; especially for those who have been marginalized. https://t.co/5VFNXGXFxo</li>
                          <li>Gender inequality is a pressing issue facing the #workplace and the globe today. On #InternationalWomensDay, let's take some time to reflect on combating inherent bias to make the world a more inclusive place for all.
                          https://t.co/uUYAopHCQ7</li>
                          <li>Researchers at @USC examining the effects of music on our emotions to engineer targeted musical experiences to assist in therapy treatments. As my sister says – Music is the language of the soul. Fascinating application of #AI. https://t.co/UUoymstKGQ</li>
                          <li>The #internet revolutionized my worldview, opening my eyes to nearly limitless potential. 50 years later, this message resonates more than ever as we fight to ensure modern #technologies are available/accessible for all. https://t.co/USP2jjfpeE</li>
                          <li>No one has the right idea all the time. Every leader has to learn how to practice humility and rely on his/her team for support. Avoid being a HIPPO culture (Highest Paid Persons Opinion) https://t.co/GlHLHKPku2</li>
                          <li>Great article about the importance of building diverse teams with a variety of perspectives and backgrounds. Get comfortable with being uncomfortable. https://t.co/Sc84ao0E4R #diversity</li>
                          <li>I’ve embraced the benefits of being a lifelong learner throughout my career, particularly now in my role as CEO. It’s imperative we share these benefits with our entire organizations to make sure our employees have the tools to adapt for the future. https://t.co/W5kvfsU2vk</li>
                          <li>Wow! This is an incredible picture. As a person of #faith, I find this fascinating. Seeing the footprint of different faith traditions across our planet helps us understand the diversity of belief we all share. https://t.co/fZGgUIe0gX</li>
                          <li>This is a message we’ve been echoing for years at #VMware. Before embarking on a #DigitalTransformation journey it's crucial to consider several factors unrelated to #technology including company #culture and business strategy. https://t.co/MOMGS8zDAp</li>
                          <li>This is why I’ve always placed a high value on maintaining #VMware’s unique company culture. Our community is committed to our EPIC2 values — and ensuring that technology remains a force for good. https://t.co/mVNJFsFlD5</li>
                          <li>#CustomerCentricity is a core part of our #VMware business culture. It’s reflected in our customer relationships and our adaptation to our customers' evolving needs. Our COO @Spoonen sums up 10 key ways to cultivate a customer centric culture: https://t.co/YbFCdqFFuA</li>
                          <li>Insightful interview with our own @ScottBajtos. Scott’s focus on #employeeengagement and a customer-first mentality has helped us empower our community while better serving our customers’ needs. #VMware https://t.co/b4e9Y1wsSc</li>
                          <li>I’m proud to work with leaders and businesses committed to building a more diverse and inclusive tech community. #diversity https://t.co/IGlAc7yahX</li>
                          <li>Working towards #diversity and #inclusion is a vital part of building a healthy company that grows and innovates. @shaniswindland joined us when #Heptio became part of the #VMware family, and I'm inspired by her insights in this new RADIUS article: https://t.co/CsucYVPyVZ</li>
                          <li>I've always tried to make sure empathy was an essential part of our company culture at #VMware. If you're looking to build a stronger foundation of understanding, here are a few good places to start. https://t.co/4yA91tWZPT</li>
                          <li>It was an honor to meet @PresidentRuvi of Israel today, and to hear more about his continuing efforts to advance unity and #diversity in the startup nation. https://t.co/LBugtBSr3A</li>
                          <li>In order to help fill the talent gap, we have to become a more inclusive industry. #diversity https://t.co/g6qJjgPlOI</li>
                          <li>Powerful #techforgood initiative to develop more diverse tech talent. These are the kinds of educational initiatives we need to prepare the next generation for the jobs of the future. https://t.co/YI8XZiD7Ru</li>
                          <li>Can’t wait to hear from @GluckmanPratima at #wt2sv this year. She has such a powerful message about how #diversity continues to strengthen the tech community. https://t.co/sPzocw02qu</li>
                          <li>#Digitaltransformation is more than just the adoption of new digital tools. To be successful these initiatives must align with a company's business strategy, culture, and customer concerns. https://t.co/MOMGS8ReYZ</li>
                          <li>It’s an honor to be recognized on @HRC’s 2019 Corporate Equality Index as a great place to work for LGBTQ equality. We’re always working to make #VMware a more inclusive and diverse environment, and hope to continue improving in the future. https://t.co/rlH5J0OvX0 https://t.co/5eVe2ssYw8</li>
                          <li>I’m happy to share that @YWCAsv’s 2019 Tribute to Women Honorees has recognized two of our leaders, @Clamco and @NicolaAcutt, for their commitment to inclusion in our industry and advancing opportunities for #womenintech. Congrats Claire and Nicola! https://t.co/vsJOseWRXN</li>
                          <li>Great leadership lessons from @JeffImmelt. Making connections with professionals throughout your company is key. Employees have to know that you are an accessible leader, available to answer their questions and concerns. #leadership https://t.co/PqRHX3n2zZ</li>
                          <li>Critical for America, and proud for VMware to be included in this list and continue to see #diversity as one of the guiding principles of our company culture. https://t.co/ZC4WRj5Tuq</li>
                          <li>As the four superpowers of #tech come together, they are becoming critical to the development of the modern business. As we work to bridge these silos of innovation, #IT organizations must create new capabilities for #diversity and inclusion. https://t.co/abPqeeCxaD</li>
                          <li>The search for and retention of #toptalent is being defined by employees’ desire for diversity, respect, #worklifebalance and skills that transcend careers. Proud of our work to build a stronger #VMware community that incorporates all four of these areas. 
                          https://t.co/4UXfwq4FsW</li>
                          <li>The future of our industry depends on #diversity. The next generation of leaders must reflect amazing talent across cultures and nationalities. https://t.co/dh0ZyEG4DY</li>
                          <li>At #VMware our people are the heart of our culture of #innovation. I’m so proud of the dedicated community we’ve built and our work to make technology a force for good. https://t.co/pLfU9nW51q</li>
                          <li>I too loved the Jetsons as a kid. In the #smartcities of the future, buildings will be empowered with new technology that promise to make human life both more efficient and accommodating. Problem is, we haven’t quite reached that point yet. https://t.co/Jx9CpvgMtg</li>
                          <li>My sister taught me that music was the language of the soul &amp; I was so moved by the performance at our China #vForum from the A-Coffee team. We’re proud to support A-Coffee’s amazing work to help create opportunities for people with autism and learning disabilities. #vminclusion https://t.co/jcM4Gryk1m</li>
                          <li>So proud of this recognition in @Forbes’ list of the World’s Best Employers for 2018. At #VMware we’re committed to empowering our employees with the tools and benefits they need to succeed and thrive. https://t.co/2v2gTOxH8a</li>
                          <li>To spread the benefits of #AI throughout an organization and identify new opps where AI tech can add value, every employee - not just those in technical roles - should have a basic understanding of how machine learning works and where it can be applied. https://t.co/2Uu8TRcv6X</li>
                          <li>I believe #5G will have enormous global impact on #IoT, Connected cities and #mobility. The largest capital investment cycle of the rest of our careers is soon to begin. https://t.co/InYJxSlJM4</li>
                          <li>In order to succeed with an open #innovation approach, you have to adapt your company culture to accept crowdsourced results as just another tool in the arsenal, not a challenge to experienced researchers. https://t.co/SIVxdH052Y</li>
                          <li>Our own Claire Dixon (@Clamco) made California Diversity Council’s (@DiversityFirst) 2018 list of the Top 50 Most Powerful Women in Technology. She’s been an amazing leader and champion for #diversity at #VMware. Congrats Claire! #genderequality https://t.co/sp3ZPqa6AP</li>
                          <li>A #Leadership Code is the OS that propels every successful company. Read my latest article on LinkedIn for more on how leaders must skillfully manage the “software” and “hardware” of corporate culture and strategy. https://t.co/wRil1eSQyZ   #technology #innovation</li>
                          <li>Spoke with @furrier at #RADIO2018 this week. Our R&amp;D offsite is such a unique piece of the #VMware culture. You've got to love the “geeking out” we get to do every year. https://t.co/8gF9FrwJ9d #innovation</li>
                          <li>The new generation of #siliconvalley entrepreneurs are a bit wiser and becoming mainstays of our valley culture while changing the nature of mainstream tech. https://t.co/xN5QJ7FNSk</li>
                          <li>Setting these standards will be key to setting out an industry code of conduct for the abilities and limitations of #AI. https://t.co/deYBGSTFqb</li>
                          <li>#WorkLifeBalance can benefit both employers and employees. Happy employees mean happy customers! https://t.co/4s5ptlF2JO</li>
                          <li>@VMware IT’s transformation story is rooted in our company’s culture of innovation. Thank you @BaskIyer for introducing the report! https://t.co/SxIpcMNs9h</li>
                          <li>This is going to be a challenge for all industries as we enter further into the #AI era. Great insights into how to illustrate the benefits of smart tech to employees. https://t.co/AUP4BMwRFO</li>
                          <li>These five trends from @InformationWeek will help any company digitally transform its business. #AI #mobility https://t.co/r05BccXIDp</li>
                          <li>More proof that immigrants are some of our most productive and innovative entrepreneurs &amp; inventors. #diversity https://t.co/6rohHNJTqw</li>
                          <li>Amazing honor for #VMware's customer centric culture. Tks to @ScottBajtos, our global services team &amp; our customers. https://t.co/hkYN91E2XQ</li>
                          <li>Inspiring work from @VMWFoundation’s #GoodGigs program in Delta, UT. Great example of our Service Learning culture. https://t.co/cViSMMS6Ch</li>
                          <li>This work with @MoissonMTL shows how our #servicelearning culture connects @VMware teams to their local communities. https://t.co/Nbr0xpqHjp</li>
                          <li>From teaching computers EQ to ending disability. Great #VMworld US talks from @DrHughHerr, @kaliouby &amp; @DrWeinstock. https://t.co/eRrNDRnfqd</li>
                          <li>@NicolaAcutt explains how #VMware is leveraging the innovation of our tech culture to transition to #renewableenergy https://t.co/r3rpiqHmnj</li>
                          <li>More businesses are starting to adopt the pop-up employer model pioneered by the film industry. https://t.co/CNKaLZUzDm #TechNews</li>
                          <li>#Genderequality is a core part of @VMware's culture &amp; we’re dedicated providing more opportunities for #womenintech. https://t.co/0vxUiakGbK</li>
                          <li>Giving our community a role in shaping #VMware’s company culture was one of the best decisions we made. https://t.co/vEqFKpgT3S</li>
                          <li>The promise of #SiliconValley is based on open doors &amp; equal opportunity for everyone from every country. https://t.co/TF37kFTsIn</li>
                          <li>@VMware’s @Fortune recognition as one of the best workplaces for #millennials reflects our #EPIC2 culture &amp; values. https://t.co/VgS1hqx0Sw</li>
                          <li>#Passwords, a mainstay of our culture for thousands of years, might be on their last leg. https://t.co/8i2aUj7AVb</li>
                          <li>#VMware’s culture values home and work equally. As a parent I know how important that balance is. #worklifebalance https://t.co/zYWEiy48Ba</li>
                          <li>At the end of the day, any new #tech faces the challenge of delivering on accessibility and user understanding. https://t.co/9rt99vFeZq</li>
                          <li>While gender, ethnicity &amp; age #diversity are important, we also have to consider cognitive differences. https://t.co/7uGbRWgTo4</li>
                          <li>I strive to foster a culture of innovation at #VMware that is supported &amp; cultivated by our company’s leaders. https://t.co/u1a4aEYU7n</li>
                          <li>Great example of #techforgood. #Machinelearning might be a new tech solution for those with disabilities. https://t.co/klEpES3QKA</li>
                          <li>Growth of #data, cloud &amp; #AI pose new challenges to culture, which is working to adapt to this changing world. https://t.co/zvza3vH0qC</li>
                          <li>So proud of what we’re doing to help #telco providers realize what’s possible w/ NFV, #IoT &amp; mobility. https://t.co/Oectr3AfVi #MWC17</li>
                          <li>Retaining #toptalent and encouraging #diversity are two key work trends that leaders can’t afford to ignore. https://t.co/m76OBi1Rf6</li>
                          <li>Proud to join #VMware employees across the globe at today's sales kickoff. We’re a diverse international workforce. Photo © @andreanolanusse https://t.co/vS5ahB766H</li>
                          <li>Some great globe-trotting spots. It’s amazing how beautiful and diverse our planet is! #4 is Linda and my favorite. https://t.co/TRdAXTSJFh</li>
                          <li>Building a culture of trust is the key to retaining #toptalent. It’s something I’ve endeavored to foster at #VMware. https://t.co/FjfQ7XAt22</li>
                          <li>Amazing that #tech culture has spread to China despite the limited access tech companies have had. https://t.co/7YjkkcYc3o</li>
                          <li>At #WSJCEOCouncil hearing Baker interview Giuliani. So what will the next administration be like !? https://t.co/fRZiCjegs8</li>
                          <li>Our diversity is at the heart of our ability to innovate. Thanks for sharing @TimCook. RT https://t.co/sBAfQylB84</li>
                          <li>New mobile &amp; virtual #tech is accelerating the evolution of business mobility. What does a mobile future look like? https://t.co/VBe0gHhiao</li>
                          <li>Fostering a culture of #deeplearning &amp; education is key for tech businesses. It’s been a priority of mine at VMware. https://t.co/oaQYt8iSgI</li>
                          <li>#AI is even affecting the way we search for tech talent. Could this lead to a more inclusive workplace? #toptalent https://t.co/nLCaldgbSN</li>
                          <li>Find out how #VMware's culture differentiates us from other tech companies &amp; helps attract #TopTalent https://t.co/CMHLth16La</li>
                          <li>Interesting to see how peers fare in #innovation. At @VMware, we take pride in a culture of curiosity. https://t.co/yUMM4d4Few</li>
                          <li>Another inspiring use of #mobility in #healthcare. Proud to partner with @LCMCHealth to deliver modern healthcare. https://t.co/HGpHQS3rCn</li>
                          <li>Cool story + dynamic format showing how #VMware helped Medic Mobile transform healthcare with mobility: https://t.co/TjkBrwsXRC</li>
                          <li>Interesting perspective - are male chief executives with daughters more likely to champion gender diversity? https://t.co/f0uxEu4ORb</li>
                          <li>Nice perspective on how tech companies can move the needle disproportionately for diversity in the workplace: https://t.co/KzzC7TbllC</li>
                          <li>New report By Morgan Stanley finds that gender diversity in the workplace is better for business: https://t.co/AG4W75IUvk</li>
                          <li>Via @DennisRainey RT @PetersonDaily It makes little difference how our culture values and regards our #work . . . If God doesn't.</li>
                          <li>Check out how #VMware is committing to diversity with @Stanford : https://t.co/Q274A9fMxn</li>
                          <li>She'll be talking about creating a biz-led initiative to embed diversity &amp; inclusion in a global company. Read more: https://t.co/UWfYKS6iHO</li>
                          <li>Happy belated #IWD16. Read more about how VMware is committed to fostering diversity: https://t.co/vHlXFrf15D #PledgeforParity</li>
                          <li>RT @sherylchamb: Since '89 Novamedia donated €6.6B to 318 charities people,nature,culture,health &amp; welfare @PGelsinger @vmwarensx https://t…</li>
                          <li>Interesting: researchers may have developed a low-cost way to improve gender diversity in STEM-faculty hiring: https://t.co/c5aTbtSCxx</li>
                          <li>Do companies perform better when they're more diverse? https://t.co/2P966Xjy0w @aileenlee says yes. What's your take?</li>
                          <li>Reminds me of my #VMworld keynote: #AI can recognize a complication of diabetes that can lead to blindness. http://t.co/3vDyirtogr</li>
                          <li>Proud of #VMware's VMwomen program, helping foster diversity in workplace. I'm delighted to be the executive sponsor. http://t.co/Wfex4ecpX3</li>
                          <li>Working to accelerate Win10 adoption. Love to see shared biz mobility vision in action. #VMworld</li>

                          </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <center> <h4>Amy Warner</h4> </center>
                          <li>At @Intel, we thank those who made the #ADA a reality 30 years ago. Excited to leverage technology to further enhance the lives of those with disabilities. Workers with disabilities are changing tech for the better. #ThanksToTheADA #ADA30 #IAmIntel #DisabilityInclusion https://t.co/4Xn7qY0KgN</li>
                          <li>I’m IN! As a Board Member of Disability:IN, I’m doing my part in advancing disability inclusion in the workplace. #AreYouIN? Join me at https://t.co/7wjOnQbCgw. #disabilityinclusion #ADA30 https://t.co/zbWMNlNc79 https://t.co/AXcGqe2MSr</li>
                          <li>RT @DanajoVDC: Intel proud! Disability Inclusion is critical to our inclusive culture. Thank you ⁦@DisabilityIN⁩ for being an outstanding p…</li>
                          <li>And speaking of Accessible technology and Disability Inclusion ... @ElonMusk let's talk about how we can launch first #DeafAstronaut in space! #accessibility #a11y  #DisabilityInclusion #IamIntel</li>
                          <li>It was such an honor to host @LexGillette this morning! What an incredible way to kick off our #GAAD celebration. Thank you Lex for joining us and your powerful message. Have a vision and challenge yourself to see further than you ever thought possible. #IAmIntel #a11y https://t.co/tg6sWzEJIo</li>
                          <li>Inclusion means accessibility. Be an ally for #a11y.  Remember, graphics should include alt-text and videos have captions and audio descriptions – otherwise it looks like this. Be an ally and join IN today and every day for Global Accessibility Awareness Day (#GAAD). #IAmIntel https://t.co/2f8qQDYOyR https://t.co/AXyOUDOYrH</li>
                          "<li>RT @hollyrpeete: 💥 #mondaymotivation from my RJ 🧔🏾✨💙🧩🙏🏽 💪🏽
                          Pass it on!
                          #autismawareness #autismatwork #autism @hollyrodfdn #mondaythoughts…</li>"
                          <li>RT @JillHoughton: Enabling innovations in #tech &amp; science is key to our future. Thank you @intel #accessibility</li>
                          <li>Thrilled to be joining this incredible board of directors and team at @DisabilityIN advancing disability inclusion and equality. As our Chair @jennylayfluffy would say .. Game On! #IamIntel https://t.co/THhvDn1x7C</li>
                          <li>RT @DanajoVDC: Congratulations @AmyLWarner1. Your passion for disability inclusion makes a difference. Thank you. #inclusionmatters #iamint…</li>
                          <li>RT @TedKennedyJR: Disability inclusion drives superior, sustainable, long-term performance and value. This 2019 Disability Equality Index (…</li>
                          <li>Thank you @BobSwan and @intel for your leadership in Disability Inclusion and employment! Partnering with fellow CEOs encouraging #Fortune1000 to participate with @DisabilityIN and the Disability Equality Index. #IamIntel #disabilityinclusion https://t.co/AqoMBZ1boJ</li>
                          <li>RT @JillHoughton: We each have the power to build the future.  A world that is #accessible and all #belong.  #DisabilityAdvantage #IDPWD201…</li>
                          <li>Thank you @jennylayfluffy for all you do to  advance #disabilityinclusion in the workforce! Sharing personal stories, Leadership buy-in, empowering all people. #NDEAM #accessibility #IamIntel https://t.co/bmm886fsVd</li>
                          <li>Awesome to join tremendous group at NOD @NOD_ItsAbility Annual Forum on Breaking Barriers with Technology - Shifting the Talent Paradigm: Inclusive culture for a modern workforce. #LookCloser  #iamintel https://t.co/XtESsg3SKU https://t.co/dBzmSzgdv0</li>
                          <li>RT @DisabilityIN: The #DEI #BestPractices enable a culture of #inclusion that promotes increased self-identification and sparks greater inn…</li>
                          <li>Stop the stigma. Break the silence on mental illness. #DisabilityIN #INfoInclusion #IamIntel https://t.co/UQBBYIGFqx</li>
                          <li>RT @JimStLeger: .@Intel VP of IT @AmyLWarner1 shares her story of deafness with the @DisabilityIN audience. Awesome leader. No barriers! #I…</li>
                          <li>I look forward to representing @intel and sharing my story in the hope that it helps inspire others to see themselves in the technology industry—after all, it’s inclusion that makes innovation possible! #IamIntel #DisabilityIN #INForInclusion https://t.co/ZzDVAMD3eq</li>
                          <li>RT @barbarawhye: The statistics are staggering: 1 in 4 people are affected by mental disorders worldwide. I’m so proud of employees like Br…</li>
                          <li>RT @barbarawhye: An important day to reflect on our diverse abilities. We all contribute and are uniquely designed at the core to bring val…</li>
                          <li>Make mental health days OK. Mental Health Awareness month helps remind us we need to do more to break down stigmas and improve access to care &amp; support. Too many people suffer in silence. #IAmIntel. https://t.co/dB5f7tR9mL</li>
                          <li>Every challenge is an opportunity to persevere. I am so thrilled to work for an organization and company @intel that values openness, diversity and inclusion to allow each of us to bring our full selves to work. #IamIntel #ReachfortheStars #EveryVoiceMatters https://t.co/lhEcg7obAX</li>
                          <li>RT @aicha2evans: We at Intel believe #equalpay among all employees helps build an inclusive workplace https://t.co/SE4hwLO3gh #IamIntel</li>
                          <li>@intel #Diversity &amp; Inclusion Report shows 43.1% diverse hiring &amp; 100% gender pay parity across the U.S. in 2015: https://t.co/G3AGKXggKa</li>
                          <li>RT @dmbrown1: We’re working hard to make sure @Intel is a place where everyone is welcome. #diversity https://t.co/9rKcNuX7qh https://t.co/…</li>
                          <li>An organization’s ability to thrive depends more on its culture than on any single leader. https://t.co/6hCBenUNs6</li>
                          <li>RT @Jon_Insigniam: Walt Bettinger, @CharlesSchwab "it's about serving others, not about being served" #peoplematter. #culture #fortuneglobal</li>
                          <li>Mellody Hobson on boardroom diversity: “I go there. I don’t fear the conversation.” via @FortuneMagazine http://t.co/5V8eDcOTtf</li>
                          <li>Meet the woman @ReneeJJames behind Intel's new $300 million diversity initiative via @FortuneMagazine http://t.co/73z2mJMg5K</li>
                          <li>RT @scurtsy: Intel president @ReneeJJames calls on Silicon Valley to improve gender diversity - @Telegraph http://t.co/0JMAIJYWDd http://t.…</li>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
<!--              <div class="column">-->
<!--                <div class="card">-->
<!--                  <div class="card-body">-->
<!--                    <div class="scrollable">-->
<!--                      <p class="card-text">-->
<!--                      <center> <h4>Brad Smith</h4> </center>-->

<!--                      </p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
        </div>

      </div>
    </section>

  </main>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../static/SecondPage/assets/vendor/aos/aos.js"></script>
  <script src="../../static/SecondPage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../static/SecondPage/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/typed.js/typed.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/SecondPage/assets/js/main.js"></script>

</body>

</html>