<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/jpg" href="../../static/SecondPage/assets/img/handshake.png"/>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Team iNova</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/SecondPage/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/SecondPage/assets/css/style.css" rel="stylesheet">

</head>

  <style>
  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .card{
    width: 100%;
    height: 550px;
    margin: 5px auto;
  }
  .scrollable{
    overflow-y: auto;
    max-height: 330px;
  }
  </style>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../../static/SecondPage/assets/img/intel.png" alt="">
        <h1 class="text-light"><a href="http://127.0.0.1:5000/intel/">Intel</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/intel/mission/" class="nav-link"><span>Mission & Vision</span></a></li>
          <li><a href="/intel/erg/" class="nav-link"><span>Employee Community</span></a></li>
          <li><a href="/intel/ratings/" class="nav-link"><span>Ratings & Reports</span></a></li>
          <li><a href="/intel/employee/" class="nav-link"><span>Employee Comments</span></a></li>
          <li><a href="/intel/hiring/" class="nav-link"><span>Inclusive Hiring </span></a></li>
          <li><a href="/intel/questions/" class="nav-link"><span>Submit a Question</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <section id="mission" class="mission">
      <div class="container">

        <div class="section-title">
          <h2> Mission Statement</h2>
          <h5> We engineer solutions for our customers’ greatest challenges with reliable, cloud to edge computing, inspired by Moore’s Law. </h5>
          <br>
          <h2> Vision Statement</h2>
          <h5> We are on a journey to be the trusted performance leader that unleashes the potential of data. </h5>
          <br>
          <h2> Corporate Values</h2>
            <h5>
              <li> Customer obsessed </li>
              <li> One Intel </li>
              <li> Fearless </li>
              <li> Truth </li>
              <li> Transparency </li>
              <li> Inclusion </li>
              <li> Quality </li>
            </h5>
          <br>
          <h2> The Valuable 500 Commitment </h2>
          <h5> <b> Valuable Leader: </b> Pat Gelsinger <br> <br>
               <b> Intel’s Valuable 500 Commitment: </b> Commitment to be submitted.
          </h5>
        </div> </div>
      <div class="container">
        <div class="section-title">
          <h2>Leadership Tweets</h2>
            <div class="row">
              <div class="column">
                <div class="card">
                  <div class="card-body">
                      <center> <h4> <b> Pat Gelsinger </b> </h4> <h6> <b> Chief Executive Officer </b> </h6>
                          <img src="../../static/SecondPage/assets/img/pat_intel.jpg" alt="" width="100" height="100"> </center>
                    <div class="scrollable">
                      <p class="card-text">
                         <br>
                          <li>@GovMLG Thank you, Governor. Pleased to be part of the New Mexico community and bring jobs to the state.</li>
                          <li>The best ideas come together w/ a diverse set of perspectives. Making our industry more inclusive will drive innovation that serves all for better. #AllianceForGlobalInclusion
                          <a href='https://t.co/3oxUr4Qqlf'>https://t.co/3oxUr4Qqlf</a></li>
                          <li>Intel’s Economic Impact Study shows the scope and scale of our impact and investment throughout all sectors of the US economy. We’re proud to support 52,000 American jobs and committed to ensuring the US continues to lead in semiconductor manufacturing. <a href='https://t.co/lQYDiAnslE'>https://t.co/lQYDiAnslE</a></li>
                          <li>Thank you @POTUS, @SecRaimondo, @JakeSullivan46, @brianDeeseNEC for the great discussion on how we we can solve chip shortages and create long-term jobs via #tech Research &amp; Development, innovation and education. Read more of my thoughts in The Hill: <a href='https://t.co/EnGVtClz8Y'>https://t.co/EnGVtClz8Y</a></li>
                          <li>The @POTUS American Jobs Plan proposes important investments to upgrade our nation’s infrastructure, including $50 billion in semiconductor investments. This program will create jobs and put us on a path to U.S. innovation leadership for decades to come. <a href='https://t.co/tKB0KjoIDg'>https://t.co/tKB0KjoIDg</a></li>
                          <li>Our country is stronger with more voting, not less, and with the evolution of technology, voting can be more secure, equitable and accessible. We oppose any legislation that seeks to reduce the voting rights or opportunities of American citizens.</li>
                          <li>Our great partners @Argonne are helping to shape the future of engineering by connecting girls to world-class scientists and engineers on Introduce a Girl to Engineering Day. @Intel we are striving to inspire a diverse set of next-generation engineers. <a href='https://t.co/OiVbHOD7vB'>https://t.co/OiVbHOD7vB</a></li>
                          <li>On 12/10/1948, the UN adopted the UDHR, which proclaimed inalienable rights of every human being - regardless of race, color, religion, sex, language and more. After all the events of 2020, let's think about how we can re-shape our world to create equal opportunity for all.</li>
                          <li>As our customers work to accommodate a distributed workforce, Networking has become increasingly critical. With that being said, I'm looking forward to speaking at our Modern Networking Event next week. I encourage you to register if you have not already! <a href='https://t.co/crxp2XdxHV'>https://t.co/crxp2XdxHV</a></li>
                          <li>This is such an important point. Under extraordinary stress, leaders must continue fighting to build an inclusive community; especially for those who have been marginalized. <a href='https://t.co/5VFNXGXFxo'>https://t.co/5VFNXGXFxo</a></li>
                          <li>This was a fascinating read. My highlight: in our industry we have a tendency to hire confidence over competence, trusting feelings over numbers. As a data driven engineer, this perspective resonated with me. <a href='https://t.co/OHqFNWEKVK'>https://t.co/OHqFNWEKVK</a></li>
                          <li>Gender inequality is a pressing issue facing the #workplace and the globe today. On #InternationalWomensDay, let's take some time to reflect on combating inherent bias to make the world a more inclusive place for all.
                          <a href='https://t.co/uUYAopHCQ7'>https://t.co/uUYAopHCQ7</a></li>
                          <li>I'm very excited by the prospect of a program like this. Partnering with universities is mutually beneficial: we can both help educate the next generation and recruit top talent. #education <a href='https://t.co/IRnPRQnYiC'>https://t.co/IRnPRQnYiC</a></li>
                          <li>No one has the right idea all the time. Every leader has to learn how to practice humility and rely on his/her team for support. Avoid being a HIPPO culture (Highest Paid Persons Opinion) <a href='https://t.co/GlHLHKPku2'>https://t.co/GlHLHKPku2</a></li>
                          <li>Great article about the importance of building diverse teams with a variety of perspectives and backgrounds. Get comfortable with being uncomfortable. <a href='https://t.co/Sc84ao0E4R'>https://t.co/Sc84ao0E4R</a> #diversity</li>
                          <li>Wow! This is an incredible picture. As a person of #faith, I find this fascinating. Seeing the footprint of different faith traditions across our planet helps us understand the diversity of belief we all share. <a href='https://t.co/fZGgUIe0gX'>https://t.co/fZGgUIe0gX</a></li>
                          <li>I agree with @ReidHoffman. Education is essential to prepare the next generation for the fourth industrial revolution and the jobs of the future. We’ve made this shift before and we can do it again. <a href='https://t.co/6QB1VMpazr'>https://t.co/6QB1VMpazr</a></li>
                          <li>I’m proud to work with leaders and businesses committed to building a more diverse and inclusive tech community. #diversity <a href='https://t.co/IGlAc7yahX'>https://t.co/IGlAc7yahX</a></li>
                          <li>Growing up in rural PA, this program would have been hugely beneficial to me. We’ll need more programs like TEALS to prepare the next generation for the jobs of the future. #Education is the key. <a href='https://t.co/C1RMhZoSv3'>https://t.co/C1RMhZoSv3</a></li>
                          <li>It was an honor to meet @PresidentRuvi of Israel today, and to hear more about his continuing efforts to advance unity and #diversity in the startup nation. <a href='https://t.co/LBugtBSr3A'>https://t.co/LBugtBSr3A</a></li>
                          <li>In order to help fill the talent gap, we have to become a more inclusive industry. #diversity <a href='https://t.co/g6qJjgPlOI'>https://t.co/g6qJjgPlOI</a></li>
                          <li>Congratulations, @MichaelDell. Such an important achievement for you and the @DellFdn. Education is key to preparing the next generation for the jobs of the future. <a href='https://t.co/moxUZeCBHB'>https://t.co/moxUZeCBHB</a></li>
                          <li>Our team constantly seeks key insights from fearless leaders. @laura, CEO of @GetAtipica, is using emerging #technology to tackle unconscious bias in the hiring process. More here: <a href='https://t.co/tJDzvPTedg'>https://t.co/tJDzvPTedg</a> #20Questions</li>
                          <li>Powerful #techforgood initiative to develop more diverse tech talent. These are the kinds of educational initiatives we need to prepare the next generation for the jobs of the future. <a href='https://t.co/YI8XZiD7Ru'>https://t.co/YI8XZiD7Ru</a></li>
                          <li>Can’t wait to hear from @GluckmanPratima at #wt2sv this year. She has such a powerful message about how #diversity continues to strengthen the tech community. <a href='https://t.co/sPzocw02qu'>https://t.co/sPzocw02qu</a></li>
                          <li>The #CISO might have one of the hardest jobs in the C-suite, protecting the business from constant threats AND enabling innovation. Here's an interesting perspective from #cybersecurity expert Matthew Todd. <a href='https://t.co/m62MoTtqGs'>https://t.co/m62MoTtqGs</a></li>
                          <li>#Digitaltransformation is more than just the adoption of new digital tools. To be successful these initiatives must align with a company's business strategy, culture, and customer concerns. <a href='https://t.co/MOMGS8ReYZ'>https://t.co/MOMGS8ReYZ</a></li>
                          <li>I’m happy to share that @YWCAsv’s 2019 Tribute to Women Honorees has recognized two of our leaders, @Clamco and @NicolaAcutt, for their commitment to inclusion in our industry and advancing opportunities for #womenintech. Congrats Claire and Nicola! <a href='https://t.co/vsJOseWRXN'>https://t.co/vsJOseWRXN</a></li>
                          <li>Great leadership lessons from @JeffImmelt. Making connections with professionals throughout your company is key. Employees have to know that you are an accessible leader, available to answer their questions and concerns. #leadership <a href='https://t.co/PqRHX3n2zZ'>https://t.co/PqRHX3n2zZ</a></li>
                          <li>As the four superpowers of #tech come together, they are becoming critical to the development of the modern business. As we work to bridge these silos of innovation, #IT organizations must create new capabilities for #diversity and inclusion. <a href='https://t.co/abPqeeCxaD'>https://t.co/abPqeeCxaD</a></li>
                          <li>This report illustrates why it’s so important that we develop a new approach to education and prepare the next generation for the jobs of the future. We can’t afford to disregard the realities of the future workforce. <a href='https://t.co/aAwf2hB41H'>https://t.co/aAwf2hB41H</a></li>
                          <li>We’re in the early days of #AI talent scouts, but this tech is already changing the way managers hire. How will these tools change the labor market? <a href='https://t.co/qjQ5zrBCY4'>https://t.co/qjQ5zrBCY4</a></li>
                          <li>The future of our industry depends on #diversity. The next generation of leaders must reflect amazing talent across cultures and nationalities. <a href='https://t.co/dh0ZyEG4DY'>https://t.co/dh0ZyEG4DY</a></li>
                          <li>I too loved the Jetsons as a kid. In the #smartcities of the future, buildings will be empowered with new technology that promise to make human life both more efficient and accommodating. Problem is, we haven’t quite reached that point yet. <a href='https://t.co/Jx9CpvgMtg'>https://t.co/Jx9CpvgMtg</a></li>
                          <li>Education is the key to ensuring that the next generation has a leg up on the jobs of the future. All of our industry’s leaders can do their part to support #STEM education. <a href='https://t.co/6zxfWMC5cM'>https://t.co/6zxfWMC5cM</a></li>
                          <li>In order to succeed with an open #innovation approach, you have to adapt your company culture to accept crowdsourced results as just another tool in the arsenal, not a challenge to experienced researchers. <a href='https://t.co/SIVxdH052Y'>https://t.co/SIVxdH052Y</a></li>
                          <li>This is the vision for the future I’ve been supporting for a long time. Robots are a labor enhancer, they take the jobs humans can’t and won’t do. #Robotics <a href='https://t.co/De4HwAsWjF'>https://t.co/De4HwAsWjF</a></li>
                          <li>An important message from @IntuitBrad. In order to prepare the next generation for jobs of the future, we have to evolve our education system. <a href='https://t.co/HPw17e9MBr'>https://t.co/HPw17e9MBr</a></li>
                          <li>A #Leadership Code is the OS that propels every successful company. Read my latest article on LinkedIn for more on how leaders must skillfully manage the “software” and “hardware” of corporate culture and strategy. <a href='https://t.co/wRil1eSQyZ'>https://t.co/wRil1eSQyZ</a>   #technology #innovation</li>
                          <li>The new generation of #siliconvalley entrepreneurs are a bit wiser and becoming mainstays of our valley culture while changing the nature of mainstream tech. <a href='https://t.co/xN5QJ7FNSk'>https://t.co/xN5QJ7FNSk</a></li>
                          <li>Setting these standards will be key to setting out an industry code of conduct for the abilities and limitations of #AI. <a href='https://t.co/deYBGSTFqb'>https://t.co/deYBGSTFqb</a></li>
                          <li>Ever wonder what an @Economist-trained #AI robot writer would create? Take a look. Writers – your jobs are safe, at least for now! <a href='https://t.co/9C0JD3irWl'>https://t.co/9C0JD3irWl</a></li>
                          <li>More proof that immigrants are some of our most productive and innovative entrepreneurs &amp; inventors. #diversity <a href='https://t.co/6rohHNJTqw'>https://t.co/6rohHNJTqw</a></li>
                          <li>Great keynote from @Spoonen at #MTHighTechJobs on the future of high tech jobs for rural states like MT. <a href='https://t.co/uLWYHrcxmw'>https://t.co/uLWYHrcxmw</a></li>
                          <li>Great story about a c-suite exec who's connecting executives to the jobs that need them. <a href='https://t.co/JytLgOAlWK'>https://t.co/JytLgOAlWK</a></li>
                          <li>The Amazon warehouse floor foreshadows the future of #labor, a collaboration with #robots to power future jobs. <a href='https://t.co/cOpleBr0fU'>https://t.co/cOpleBr0fU</a></li>
                          <li>Cobots are key to the future of #manufacturing jobs. These #robots enhance rather than replace human jobs. <a href='https://t.co/iWCav402FU'>https://t.co/iWCav402FU</a></li>
                          <li>Tools like these are helping evolve jobs in the #enterprise, ushering us into work in the 4th industrial revolution. <a href='https://t.co/ApEXBoDFyk'>https://t.co/ApEXBoDFyk</a></li>
                          <li>More businesses are starting to adopt the pop-up employer model pioneered by the film industry. <a href='https://t.co/CNKaLZUzDm'>https://t.co/CNKaLZUzDm</a> #TechNews</li>
                          <li>Advancements in #automation make it even more important for us to train the #nextgen for the jobs of the future. <a href='https://t.co/J9qalZjuRa'>https://t.co/J9qalZjuRa</a></li>
                          <li>The key to prepping the next gen. for jobs of the future is #publicschool #compsci. Read, write, CODE &amp; arithmetic. <a href='https://t.co/tFU4u6uEeB'>https://t.co/tFU4u6uEeB</a></li>
                          <li>The #robotics market is set to explode in the next 10 years, opening the way for new jobs through #automation. <a href='https://t.co/6qpjgxDRYY'>https://t.co/6qpjgxDRYY</a></li>
                          <li>The promise of #SiliconValley is based on open doors &amp; equal opportunity for everyone from every country. <a href='https://t.co/TF37kFTsIn'>https://t.co/TF37kFTsIn</a></li>
                          <li>How is AI helping @NYTimes automate editing? Great look at how #machinelearning is impacting #whitecollar jobs. <a href='https://t.co/qvqtLBnryA'>https://t.co/qvqtLBnryA</a></li>
                          <li>To help the next generation equip themselves for future #AI jobs, we have to adjust our approach to education. <a href='https://t.co/vezRgKzBDB'>https://t.co/vezRgKzBDB</a></li>
                          <li>#Tech &amp; #automation are constantly displacing tasks, creating higher value jobs &amp; improving quality of life. <a href='https://t.co/GPl471Bhu9'>https://t.co/GPl471Bhu9</a> (2/2)</li>
                          <li>New types of jobs must be created and new education is required to train people for those jobs. <a href='https://t.co/r2U6ssTvuV'>https://t.co/r2U6ssTvuV</a> (2/2)</li>
                          <li>#Passwords, a mainstay of our culture for thousands of years, might be on their last leg. <a href='https://t.co/8i2aUj7AVb'>https://t.co/8i2aUj7AVb</a></li>
                          <li>Jobs are changing, continuous learning will be essential. (2/2) #Data</li>
                          <li>At the end of the day, any new #tech faces the challenge of delivering on accessibility and user understanding. <a href='https://t.co/9rt99vFeZq'>https://t.co/9rt99vFeZq</a></li>
                          <li>We need to invest in #STEM education to help prepare students for the jobs of the future. #TopTalent RT <a href='https://t.co/ClinUSuOGE'>https://t.co/ClinUSuOGE</a></li>
                          <li>While gender, ethnicity &amp; age #diversity are important, we also have to consider cognitive differences. <a href='https://t.co/7uGbRWgTo4'>https://t.co/7uGbRWgTo4</a></li>
                          <li>#Robotics are leading indicators of jobs of the future as production is remade in this 4th Industrial Revolution. <a href='https://t.co/IdPfuKJ8MK'>https://t.co/IdPfuKJ8MK</a></li>
                          <li>Great example of #techforgood. #Machinelearning might be a new tech solution for those with disabilities. <a href='https://t.co/klEpES3QKA'>https://t.co/klEpES3QKA</a></li>
                          <li>Travel accommodations are becoming a new factor in the competition among U.S. tech companies to attract #toptalent. <a href='https://t.co/ERk6oM1B9g'>https://t.co/ERk6oM1B9g</a></li>
                          <li>Growth of #data, cloud &amp; #AI pose new challenges to culture, which is working to adapt to this changing world. <a href='https://t.co/zvza3vH0qC'>https://t.co/zvza3vH0qC</a></li>
                          <li>Great insights here. Looking closely at #tech industry hiring for software vs hardware. The numbers tell a story. RT <a href='https://t.co/X15PMp9dBR'>https://t.co/X15PMp9dBR</a></li>
                          <li>As we enter the next #industrialrevolution, how are we educating our citizens for the #jobs of the future? RT <a href='https://t.co/yemECMon3F'>https://t.co/yemECMon3F</a></li>
                          <li>Retaining #toptalent and encouraging #diversity are two key work trends that leaders can’t afford to ignore. <a href='https://t.co/m76OBi1Rf6'>https://t.co/m76OBi1Rf6</a></li>
                          <li>As we’ve seen in previous years, #techjobs continue to rise to the top in America’s best jobs rankings. <a href='https://t.co/9pxsPv8KoT'>https://t.co/9pxsPv8KoT</a></li>
                          <li>Some great globe-trotting spots. It’s amazing how beautiful and diverse our planet is! #4 is Linda and my favorite. <a href='https://t.co/TRdAXTSJFh'>https://t.co/TRdAXTSJFh</a></li>
                          <li>It’s hard to believe it’s been 10 years since Steve Jobs flipped the mobile device market on its head. <a href='https://t.co/ogMzA47gb0'>https://t.co/ogMzA47gb0</a></li>
                          <li>Amazing that #tech culture has spread to China despite the limited access tech companies have had. <a href='https://t.co/7YjkkcYc3o'>https://t.co/7YjkkcYc3o</a></li>
                          <li>Great cause to help educate our children for the jobs of the future. Thanks for sharing, @Benioff. RT <a href='https://t.co/4yPcSFMyH9'>https://t.co/4yPcSFMyH9</a></li>
                          <li>I think educating my children about their #faith has been one of the most important jobs I've had. RT <a href='https://t.co/PIWwnYswv0'>https://t.co/PIWwnYswv0</a></li>
                          <li>Our diversity is at the heart of our ability to innovate. Thanks for sharing @TimCook. RT <a href='https://t.co/sBAfQylB84'>https://t.co/sBAfQylB84</a></li>
                          <li>#AI is even affecting the way we search for tech talent. Could this lead to a more inclusive workplace? #toptalent <a href='https://t.co/nLCaldgbSN'>https://t.co/nLCaldgbSN</a></li>
                          <li>#Virtualization tech &amp; telework policies help safeguard the ability of federal workers to get their jobs done. <a href='https://t.co/I2BKU5BCaT'>https://t.co/I2BKU5BCaT</a></li>
                          <li>Interesting perspective - are male chief executives with daughters more likely to champion gender diversity? <a href='https://t.co/f0uxEu4ORb'>https://t.co/f0uxEu4ORb</a></li>
                          <li>Nice perspective on how tech companies can move the needle disproportionately for diversity in the workplace: <a href='https://t.co/KzzC7TbllC'>https://t.co/KzzC7TbllC</a></li>
                          <li>New report By Morgan Stanley finds that gender diversity in the workplace is better for business: <a href='https://t.co/AG4W75IUvk'>https://t.co/AG4W75IUvk</a></li>
                          <li>Via @DennisRainey RT @PetersonDaily It makes little difference how our culture values and regards our #work . . . If God doesn't.</li>
                          <li>She'll be talking about creating a biz-led initiative to embed diversity &amp; inclusion in a global company. Read more: <a href='https://t.co/UWfYKS6iHO'>https://t.co/UWfYKS6iHO</a></li>
                          <li>Interesting: researchers may have developed a low-cost way to improve gender diversity in STEM-faculty hiring: <a href='https://t.co/c5aTbtSCxx'>https://t.co/c5aTbtSCxx</a></li>
                          <li>Do companies perform better when they're more diverse? <a href='https://t.co/2P966Xjy0w'>https://t.co/2P966Xjy0w</a> @aileenlee says yes. What's your take?</li>
                          <li>Glassdoor recently ranked the 25 Best Jobs For Work-Life Balance. According to @InformationWeek, 10 were IT jobs: <a href='https://t.co/BftRnPOpzT'>https://t.co/BftRnPOpzT</a></li>

                          </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="card">
                  <div class="card-body">
                      <center> <h4> <b> Amy Warner </b> </h4> <h6> <b> VP, IT Digital Solutions & Accessibility </b> </h6>
                        <img src="../../static/SecondPage/assets/img/amy_intel.jpg" alt="" width="100" height="100"> </center>
                    <div class="scrollable">
                      <p class="card-text">
                         <br>
                          <li>At @Intel, we thank those who made the #ADA a reality 30 years ago. Excited to leverage technology to further enhance the lives of those with disabilities. Workers with disabilities are changing tech for the better. #ThanksToTheADA #ADA30 #IAmIntel #DisabilityInclusion <a href='https://t.co/4Xn7qY0KgN'>https://t.co/4Xn7qY0KgN</a></li>
                          <li>RT: (RT &amp; support!) Today marks the 30th anniversary of the Americans with Disabilities Act. Although a milestone, you can’t legislate attitudes. #ADA30
                          
                          We ALL have a role to play in building an inclusive global economy - that includes the +1 BILLION people with disabilities. <a href='https://t.co/MGTFD4xS48'>https://t.co/MGTFD4xS48</a></li>
                          <li>I’m IN! As a Board Member of Disability:IN, I’m doing my part in advancing disability inclusion in the workplace. #AreYouIN? Join me at <a href='https://t.co/7wjOnQbCgw.'>https://t.co/7wjOnQbCgw.</a> #disabilityinclusion #ADA30 <a href='https://t.co/zbWMNlNc79'>https://t.co/zbWMNlNc79</a> <a href='https://t.co/AXcGqe2MSr'>https://t.co/AXcGqe2MSr</a></li>
                          <li>RT: Of the over 300 major bills that Dad enacted during his 47 years in the U.S. Senate, the Americans with Disabilities Act (ADA) was one of his crowning achievements. #ADA30 <a href='https://t.co/g2cZxlQ4dP.'>https://t.co/g2cZxlQ4dP.</a> <a href='https://t.co/toVAoQynk4'>https://t.co/toVAoQynk4</a></li>
                          <li>RT: Intel proud! Disability Inclusion is critical to our inclusive culture. Thank you ⁦@DisabilityIN⁩ for being an outstanding partner. #IamIntel <a href='https://t.co/KbO8GRZTiQ'>https://t.co/KbO8GRZTiQ</a></li>
                          <li>And speaking of Accessible technology and Disability Inclusion ... @ElonMusk let's talk about how we can launch first #DeafAstronaut in space! #accessibility #a11y  #DisabilityInclusion #IamIntel</li>
                          <li>RT: .@NLD09 @Accenture, @AmyLWarner1 @Intel, and @jmdlittle @Lowes, executives from Inclusion Works participating companies, are discussing their commitment, actions they have taken and plan to take to create disability-inclusive workplaces. #DisabilityAdvantage</li>
                          <li>What a way to kick off @DisabilityIN virtual conference with these amazing leaders!! Thank you for a great discussion on Executive Commitment and the Disability Advantage. #disabilityinclusion #IamIntel <a href='https://t.co/w22PHF9acO'>https://t.co/w22PHF9acO</a></li>
                          <li>It was such an honor to host @LexGillette this morning! What an incredible way to kick off our #GAAD celebration. Thank you Lex for joining us and your powerful message. Have a vision and challenge yourself to see further than you ever thought possible. #IAmIntel #a11y <a href='https://t.co/tg6sWzEJIo'>https://t.co/tg6sWzEJIo</a></li>
                          <li>Inclusion means accessibility. Be an ally for #a11y.  Remember, graphics should include alt-text and videos have captions and audio descriptions – otherwise it looks like this. Be an ally and join IN today and every day for Global Accessibility Awareness Day (#GAAD). #IAmIntel <a href='https://t.co/2f8qQDYOyR'>https://t.co/2f8qQDYOyR</a> <a href='https://t.co/AXyOUDOYrH'>https://t.co/AXyOUDOYrH</a></li>
                          <li>RT: 💥 #mondaymotivation from my RJ 🧔🏾✨💙🧩🙏🏽 💪🏽 
                          Pass it on!
                          #autismawareness #autismatwork #autism @hollyrodfdn #mondaythoughts #MondayMorning #StaySafe <a href='https://t.co/7VqvRz3sWg'>https://t.co/7VqvRz3sWg</a></li>
                          <li>RT: Enabling innovations in #tech &amp; science is key to our future. Thank you @intel #accessibility <a href='https://t.co/FTR9Flzg7D'>https://t.co/FTR9Flzg7D</a></li>
                          <li>Thrilled to be joining this incredible board of directors and team at @DisabilityIN advancing disability inclusion and equality. As our Chair @jennylayfluffy would say .. Game On! #IamIntel <a href='https://t.co/THhvDn1x7C'>https://t.co/THhvDn1x7C</a></li>
                          <li>RT: Congratulations @AmyLWarner1. Your passion for disability inclusion makes a difference. Thank you. #inclusionmatters #iamintel <a href='https://t.co/rNd8U1hH7V'>https://t.co/rNd8U1hH7V</a></li>
                          <li>RT: Disability inclusion drives superior, sustainable, long-term performance and value. This 2019 Disability Equality Index (DEI) progress report shows how disability justice is now THE next chapter in ESG investing and corporate social responsibility. <a href='https://t.co/N1lo5S50sg'>https://t.co/N1lo5S50sg</a></li>
                          <li>Thank you @BobSwan and @intel for your leadership in Disability Inclusion and employment! Partnering with fellow CEOs encouraging #Fortune1000 to participate with @DisabilityIN and the Disability Equality Index. #IamIntel #disabilityinclusion <a href='https://t.co/AqoMBZ1boJ'>https://t.co/AqoMBZ1boJ</a></li>
                          <li>RT: We each have the power to build the future.  A world that is #accessible and all #belong.  #DisabilityAdvantage #IDPWD2019 @DisabilityIN</li>
                          <li>RT: In recognition of #NDEAM, listen to this story about Jim, a man who now can move using his facial expressions because of a wheelchair developed by @hooboxrobotics with #Intel inside. <a href='https://t.co/yiS7i27KKs'>https://t.co/yiS7i27KKs</a> #IntelAI #IamIntel</li>
                          <li>Thank you @jennylayfluffy for all you do to  advance #disabilityinclusion in the workforce! Sharing personal stories, Leadership buy-in, empowering all people. #NDEAM #accessibility #IamIntel <a href='https://t.co/bmm886fsVd'>https://t.co/bmm886fsVd</a></li>
                          <li>October National Disability Employment Awareness Month!  @darryl_adams #RightTalentRightNow  Disability Inclusion and Accessibility drives innovation.#NDEAM #IamIntel <a href='https://t.co/RYWbqTVpDZ'>https://t.co/RYWbqTVpDZ</a></li>
                          <li>Awesome to join tremendous group at NOD @NOD_ItsAbility Annual Forum on Breaking Barriers with Technology - Shifting the Talent Paradigm: Inclusive culture for a modern workforce. #LookCloser  #iamintel <a href='https://t.co/XtESsg3SKU'>https://t.co/XtESsg3SKU</a> <a href='https://t.co/dBzmSzgdv0'>https://t.co/dBzmSzgdv0</a></li>
                          <li>RT: The #DEI #BestPractices enable a culture of #inclusion that promotes increased self-identification and sparks greater innovation. Explore the many resources available.
                          <a href='https://t.co/G4RIf4XGEa'>https://t.co/G4RIf4XGEa</a> <a href='https://t.co/FtBIjOGUiP'>https://t.co/FtBIjOGUiP</a></li>
                          <li>Let’s start making bold moves. #disabledoutloud. Speaking Truth with Pride.    The New Faces Of Disability: Busting Stereotypes And Bending The World To Fit Their Needs. #IamIntel  <a href='https://t.co/VEPLUErKQL'>https://t.co/VEPLUErKQL</a></li>
                          <li>RT: .@Intel VP of IT @AmyLWarner1 shares her story of deafness with the @DisabilityIN audience. Awesome leader. No barriers! #INForInclusion #leadership #IAmIntel #HearingImpaired <a href='https://t.co/59XbzwR0Hz'>https://t.co/59XbzwR0Hz</a></li>
                          <li>RT: So proud to watch @KimberlySmieja walk the award stage at @DisabilityIN on behalf of @Intel in recognition of our 100 DEI score! #INForInclusion #accessibility #IAmIntel <a href='https://t.co/ZXcHtCVXQH'>https://t.co/ZXcHtCVXQH</a></li>
                          <li>I look forward to representing @intel and sharing my story in the hope that it helps inspire others to see themselves in the technology industry—after all, it’s inclusion that makes innovation possible! #IamIntel #DisabilityIN #INForInclusion <a href='https://t.co/ZzDVAMD3eq'>https://t.co/ZzDVAMD3eq</a></li>
                          <li>Proud to join the Intel India team to help kickoff the first Intel Diverse Abilities Network Day at @IntelIndia! So inspiring! <a href='https://t.co/G9Bd5lGwXW'>https://t.co/G9Bd5lGwXW</a></li>
                          <li>RT: An important day to reflect on our diverse abilities. We all contribute and are uniquely designed at the core to bring value to the lives of others.  #GAAD <a href='https://t.co/hnTMe6rwZO'>https://t.co/hnTMe6rwZO</a></li>
                          <li>Honored to be representing @Intel as part of the Disability Matters CD4I panel. #disabilitymatters  #2019DMNA #iamintel #springboard <a href='https://t.co/CtcicC5sak'>https://t.co/CtcicC5sak</a></li>
                          <li>Every challenge is an opportunity to persevere. I am so thrilled to work for an organization and company @intel that values openness, diversity and inclusion to allow each of us to bring our full selves to work. #IamIntel #ReachfortheStars #EveryVoiceMatters <a href='https://t.co/lhEcg7obAX'>https://t.co/lhEcg7obAX</a></li>
                          <li>RT: How to write the best job description-- Part 1- Eliminate Unnecessary Requirements. <a href='https://t.co/Wx8bUNNGZY'>https://t.co/Wx8bUNNGZY</a>  #WWCode #Jobs</li>
                          <li>Congrats to Intel’s @dmbrown1 on being named to 2016 Top Executives in Corporate Diversity list! <a href='https://t.co/Cly7iMm28x'>https://t.co/Cly7iMm28x</a> #IamIntel</li>
                          <li>RT: We at Intel believe #equalpay among all employees helps build an inclusive workplace <a href='https://t.co/SE4hwLO3gh'>https://t.co/SE4hwLO3gh</a> #IamIntel</li>
                          <li>RT: LOVE THIS: Every person that I have ever hired is a constant learner. - @Kimsstevenson CIO @intel #DisrupTV via @ValaAfshar</li>
                          <li>@intel #Diversity &amp; Inclusion Report shows 43.1% diverse hiring &amp; 100% gender pay parity across the U.S. in 2015: <a href='https://t.co/G3AGKXggKa'>https://t.co/G3AGKXggKa</a></li>
                          <li>RT: We’re working hard to make sure @Intel is a place where everyone is welcome. #diversity <a href='https://t.co/9rKcNuX7qh'>https://t.co/9rKcNuX7qh</a> <a href='https://t.co/mtFBSPQwrw'>https://t.co/mtFBSPQwrw</a></li>
                          <li>Increasing representation in @Intel’s workforce is important; to define the future, we must represent the future: <a href='https://t.co/JeSLVlDmuj'>https://t.co/JeSLVlDmuj</a></li>
                          <li>An organization’s ability to thrive depends more on its culture than on any single leader. <a href='https://t.co/6hCBenUNs6'>https://t.co/6hCBenUNs6</a></li>
                          <li>RT: Walt Bettinger, @CharlesSchwab it's about serving others, not about being served #peoplematter. #culture #fortuneglobal</li>
                          <li>Mellody Hobson on boardroom diversity: “I go there. I don’t fear the conversation.” via @FortuneMagazine <a href='http://t.co/5V8eDcOTtf'>http://t.co/5V8eDcOTtf</a></li>
                          <li>RT: .@intel is making a major investment to train and recruit female and minority computer scientists: <a href='http://t.co/Pc8f5JHCoe'>http://t.co/Pc8f5JHCoe</a> #NoCeilings</li>
                          <li>Meet the woman @ReneeJJames behind Intel's new $300 million diversity initiative via @FortuneMagazine <a href='http://t.co/73z2mJMg5K'>http://t.co/73z2mJMg5K</a></li>
                          <li>RT: Intel president @ReneeJJames calls on Silicon Valley to improve gender diversity - @Telegraph <a href='http://t.co/0JMAIJYWDd'>http://t.co/0JMAIJYWDd</a> <a href='http://t.co/nJt3mBtTKK'>http://t.co/nJt3mBtTKK</a></li>
                        </p>
                    </div>
                  </div>
                </div>
              </div>
        </div>

      </div>
    </section>

  </main>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../static/SecondPage/assets/vendor/aos/aos.js"></script>
  <script src="../../static/SecondPage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../static/SecondPage/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/typed.js/typed.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/SecondPage/assets/js/main.js"></script>

</body>

</html>