<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" type="image/jpg" href="../../static/SecondPage/assets/img/handshake.png"/>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Project Inclusion</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/SecondPage/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/SecondPage/assets/css/style.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  * {
    box-sizing: border-box;
  }

  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .card{
    width: 100%;
    height: 650px;
    margin: 5px auto;
  }
  .scrollable{
    overflow-y: auto;
    max-height: 630px;
  }
  </style>

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../../static/SecondPage/assets/img/microsoft.png" alt="">
        <h1 class="text-light"><a href="/microsoft/">Microsoft</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/microsoft/mission/" class="nav-link"><span>Mission & Vision</span></a></li>
          <li><a href="/microsoft/erg/" class="nav-link"><span>Employee Community</span></a></li>
          <li><a href="/microsoft/ratings/" class="nav-link"><span>Ratings & Reports</span></a></li>
          <li><a href="/microsoft/employee/" class="nav-link"><span>Employee Comments</span></a></li>
          <li><a href="/microsoft/hiring/" class="nav-link"><span>Inclusive Hiring </span></a></li>
          <li><a href="/microsoft/questions/" class="nav-link"><span>Feedback Form</span></a></li>
          <li> <a href="/" class="nav-link"><span> Return to Home </span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <section id="employee" class="employee">
      <div class="container">
        <div class="section-title">
          <h2>Employee Comments</h2>
            <div class="row">
              <div class="column" style="font-family: 'Raleway', sans-serif">
                <center> <h4>Things that the company does well</h4></center>
                <div class="progress justify-content-end">
                  <div class="progress-bar" style="width: 74.94%"> 74.94% </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <li>Benefits, D&I, work life balance</li>
                        <li>The D&I is being worked on but it is not yet the greatest.</li>
                        <li>Culture of inclusion pivoting to hire from non-traditional backgrounds is beginning to build an interesting and diverse workforce.</li>
                        <li>Senior leadership has driven top-down culture change, instilling values of empathy, inclusion and vulnerability (aka growth mindset) as core values for the company.</li>
                        <li>Great benefits, great pay compared to a smaller company, very flexible schedule, the ability to take your job anywhere, smart people, impact on products used by people all over the world, very diverse, there's lots of good things!</li>
                        <li>Microsoft is one of the top companies on the planet because it is full of smart people and has very strong leadership team that is committed to truly trying to have a diverse and inclusive environment.</li>
                        <li>The support for people with disabilities.</li>
                        <li>They value their employees, support local communities as a company and they encourage employees to take part in philanthropic efforts as well, they are making D&I a priority</li>
                        <li>by culture, managers are supportive, great culture of mentorship diversive and inclusive, open to ideas, work life balance</li>
                        <li>Strong focus on inclusion and diversity.</li>
                        <li>Inclusive culture, Passionate intelligent people,</li>
                        <li>Fantastic perks and benefits, and an inclusive place to work.</li>
                        <li>The People, Environment, Teamwork, Diversity and Leadership direction</li>
                        <li>Good Culture, Inclusive, Good management, Career growth</li>
                        <li>Very inclusive.</li>
                        <li>Diversity Inclusion</li>
                        <li>inclusion</li>
                        <li>Diversity, sustainability, advancement, salary, growth</li>
                        <li>Good culture, growth oriented, very inclusive</li>
                        <li>Great Culture, improvement in D&I</li>
                        <li>I have a wonderful and diverse team.</li>
                        <li>Management is always looking to improve diversity, and inclusion.</li>
                        <li>It is a very accommodating place to work during the 2022021 pandemic and provides growth opportunities for top performers, minorities, etc.</li>
                        <li>Culture is very good, diversity a plus</li>
                        <li>Open, inclusive, respectful environment.</li>
                        <li>Lots of opportunity, diversity, good benefits & pay, flexibility</li>
                        <li>Work life balance and diversity of products</li>
                        <li>great culture, diversity and inclusion</li>
                        <li>From my experience, everyone is very inclusive and supportive in helping you find what it is you are passionate about.</li>
                        <li>The company focuses on employee health and support, with a strong push for diversity and inclusion, learning and personalized career growth.</li>
                        <li>Diversity and Inclusion; Decent Work life balance</li>
                        <li>Additionally, the approach to diversity and inclusion is out top of mind with management and teams.</li>
                        <li>Also comparatively doing pretty well with Diversity and inclusion compared to other tech companies.</li>
                        <li>Great coworkers and inclusive atmosphere</li>
                        <li>Diverse product set with end-to-end solutions.</li>
                        <li>The company’s commitment towards diversity, inclusion, environmental sustainability, and its response to ensuring employees and our community is safe during Covid-19 make me proud to work here.</li>
                        <li>Good work life balance, diverse culture</li>
                        <li>Highly diverse and friendly environment.</li>
                        <li>Focus on culture and inclusion.</li>
                        <li>Growth mindset, innovative, good work/life balance, environmentally conscious, D&I focused, etc.</li>
                        <li>Get to work on cutting edge technology that is transforming organizations on a global scale, surrounded by bright and supportive colleagues, inclusive company culture.</li>
                        <li>Diversity of Products, Presence in the market, people</li>
                        <li>benefits, growth, development, diversity and inclusion, constantly changing and improving for better than ever</li>
                        <li>Awesome culture of diversity and inclusion</li>
                        <li>A great diverse group of employees; </li>
                        <li>Diversity of technologies, inspiring colleagues</li>
                        <li>Supportive teammates, inclusive and welcoming work culture, great benefits</li>
                        <li>culture, pay, work life balance, D&I</li>
                        <li>Diversity, integrity.</li>
                        <li>Good company, diverse portfolio and opportunities</li>
                        <li>The company has developed a 'people first' focus and a strong mindset for diversity and inclusion</li>
                        <li>stability, benefits, diversity of products</li>
                        <li>Overall positive environment with lots of smart people
                        - Good leadership with Satya Nadella
                        - Good benefits
                        - Values diversity</li>
                        <li>Company is very supportive and inclusive!</li>
                        <li>Great benefits, strong morals, Diversity & Inclusion</li>
                        <li>work life balance,inclusive culture,good technical level</li>
                        <li>Benefits, diversity and inclusion, work-life balance,</li>
                        <li>Great culture, lots of programs leadership care about D&I</li>
                        <li>smart people, inclusive culture and good benefits</li>
                        <li>Benefits, diversity, work life balance</li>
                        <li>Benefits and Growth and Diversity</li>
                        <li>benefits, culture, inclusivity, Senior leadership, communications.</li>
                        <li>Boss Benefits, very inclusive culture, fun place</li>
                        <li>Growth mindset, inclusive, great benefits</li>
                        <li>Very healthy work culture and focus on D&I</li>
                        <li>mostly the diversity and the benefits they give us</li>
                        <li>Great progress with culture: DEI; good emphasis on manager excellence</li>
                        <li>Good benefits, and lots of D&I work</li>
                        <li>Great, flexible, and diverse work culture</li>
                        <li> Great culture (growth mindset, diverse&inclusive, learning env)</li>
                        <li>Exposure to people with diverse background</li>
                        <li>Insurance, stock, base, diversity, discounts, smart coworkers</li>
                        <li>Accessibility is a number 1 priority. Microsoft is incredibly inclusive.</li>
                        <li>Pay, benefits, culture, D&I, and Flexibility</li>
                        <li>Inclusive culture.</li>
                        <li>Diversity and inclusion throughout</li>
                        <li>Inclusion, diversity, empathy, ethics, environmentalism, politically in defense of democracy- I mean I wish Satya was president.</li>
                        <li>amazing culture and diversity programs</li>
                        <li>diverse minds</li>
                        <li>Global Impact, Culture, Diversity, Leading Edge and Bleeding Edge Technology</li>
                        <li>Diverse, inclusive, progressive, high integrity</li>
                        <li>benefits, D&I, and collaborative culture</li>
                        <li>good benefits, many places to grow, diverse culture, good management, parental leaves</li>
                        <li>diversity, work environment, opportunities available</li>
                        <li>Very inclusive when it comes to teaching and mentoring those around them.</li>
                        <li>Inclusive, diverse, great work culture</li>
                        <li>Inclusive, benefits, awesome products, continued innovation</li>
                        <li>Senior Leadership, Size of company, Diversity of products, Geographic flexibility, Fantastic benefits, good salary (though by no means the highest in tech), Stability</li>
                        <li>Giving Program, Diversity & Inclusion, and Stock</li>
                        <li>Diversity and Inclusion, the culture is great.</li>
                        <li>Culture, diversity, great work life balance, co workers of all ages</li>
                        <li>Inclusive, diverse and the pay is outstanding.</li>
                        <li>Excellent internal culture of inclusion and diversity</li>
                        <li>People are great to work with, culture is very inclusive</li>
                        <li>Opportunity to learn a diverse set of skills</li>
                        <li>Trusted, Highly Motivating, Diverse, Inclusive, Competative and Respected</li>
                        <li>D&I</li>
                        <li>Diverse product line present lots of opportunities for professional growth</li>
                        <li>Culture, Progressive, Leadership, diverse, inclusive</li>
                        <li>company is very diverse today</li>
                        <li>Benefits, growth opportunities, D&I focused</li>
                        <li>Great culture that
                        - company values inclusion and diversity
                        - CEO is inspiring</li>
                        <li>Diverse product base contributing to revenue</li>
                        <li>Variety of opportunities, great benefits, great people, increasingly diverse and inclusive, strong leadership</li>
                        <li>International experience, diverse team, benefits</li>
                        <li>Great management; great people; inclusive culture</li>
                        <li>Exciting projects and inclusive culture.</li>
                        <li>diversity, great bonus and work life balance</li>
                        <li>Great diversity and work-life balance.</li>
                        <li>Strong value-based culture that is more family-oriented, diverse, and not as bro-y as other tech companies</li>
                        <li>good learning opportunity, great pay, great benefits, D&I a core priority</li>
                        <li>Inspiring leadership, flexibility, diversity, great benefits</li>
                        <li>Great culture and inclusive approach</li>
                        <li>Many diverse technologies to work on in the same company.</li>
                        <li>Good work life balance, promote diversity</li>
                        <li>Inclusion is priority.</li>
                        <li>Employee caring, good values, inclusive, good benefits</li>
                        <li>Lot's of people from diverse backgrounds, and also a lot of local individuals from the Fargo area.</li>
                        <li>Very inclusive culture</li>
                        <li>Cool Job, great culture, inclusive environment.</li>
                        <li>major concern and energy from leadership down for better inclusion, quality of life, not burning out</li>
                        <li>Amazing company with a growth and diversity culture</li>
                        <li>Pretty inclusive culture.</li>
                        <li>Very inclusive and welcoming</li>
                        <li>Work life balance , Benefits, inclusive culture</li>
                        <li>Some orgs foster an amazing culture of inclusion and empowerment, with a drive to make an impact in a our customers lives.</li>
                        <li>Microsoft is a great company to work for that has a very diverse product portfolio.</li>
                        <li>benefits plan is much better compared to many, diverse workplace, lots of opportunities to move within the company for enhancing your career</li>
                        <li>Immense diversity within the company, you can always work on something different.</li>
                        <li>Focus on D&I.</li>
                        <li>Rapidly evolving culture, big challenges to solve, lots of growth opportunities, increasingly diverse and inclusive, customer oriented</li>
                        <li>DIverse options, great leadership, amazing work-life balance</li>
                        <li>Diverse domains and technologies to work on.</li>
                        <li>Great diversity and inclusion initiatives.</li>
                        <li>Good work-life balance, good cultural inclusion</li>
                        <li>Investment in training, diversity, inclusion, breadth of products, team culture</li>
                        <li>Diverse teams; Friendly people; Great WLB</li>
                        <li>work life balance and focus on diversity and inclusion.</li>
                        <li>Incredible flexibility in role management style, very supportive leadership, incredibly inclusive organization and company, lots of opportunities to stretch and advance.</li>
                        <li>Positive work environment: friendly, diverse, inclusive.</li>
                        <li>Pride of being at a company that's demonstrating leadership across so many societal issues (diversity, sustainability, etc)</li>
                        <li>Very diverse environment and a great sense of Team!</li>
                        <li>inclusive culture and growth mindset - people are actually very invested in evolving our collaboration culture</li>
                        <li>benefits, coworkers, global diversity, work-life balance</li>
                        <li>Great work-life balance, inclusive environment</li>
                        <li>Microsoft has a great, inclusive culture and the company is focused on solving some exciting and important challenges.</li>
                        <li>Very Inclusive and respectful of your opinions</li>
                        <li>Diversity, friendly, and fun I had with my coworkers.</li>
                        <li>Accessibility</li>
                        <li>Great benefits, good compensation, diverse company culture.</li>
                        <li>Diversity..</li>
                        <li>On a person-to-person basis, there's heavy focus on diversity and inclusion of ideas.</li>
                        <li>Diversity and inclusion.</li>
                        <li>Very inclusive culture and extremely talented minds all around you.</li>
                        <li>Cool company, large and has diverse impact</li>
                        <li>Diversity of engineering positions and domains in the company</li>
                        <li>The culture is improving to be inclusive to everyone.</li>
                        <li>Exposure to many disciplines, diversity and challenges to solve.</li>
                        <li>Great time to look if you're a D&I candidate.</li>
                        <li>Diverse projects.</li>
                        <li>The people we work with are very smart and generally willing to lean in and help get this job done in an inclusive and team environment.</li>
                        <li>diverse job opportunities if willing to relocate</li>
                        <li>They try to create a collaborative work environment, encourage people to have an open mindset, celebrate diversity and inclusion, support continuous learning, and more.</li>
                        <li>Diversity, Cloud, work -life balance, culture</li>
                        <li>Great people, flexibility to work from home, freedom to choose own career trajectory and work path, inclusive environment, CEO and products/potential.</li>
                        <li>Excellent people, inclusive environment, ability to grow at your pace - fast or slow.</li>
                        <li>Great emphasis on diversity and inclusion and equality.</li>
                        <li>Work life balance, Culture by Satya, Diversity and Team fit</li>
                        <li>Good work/life balance, leadership cares about culture (growth mindset, empathy, diversity/inclusion), products have a large impact, very ethical for a large tech company (re: privacy, accessibility, sustainability)</li>
                        <li>Inclusive and diversity culture</li>
                        <li>I have found Microsoft to be a company with an ambitious, competitive, and diverse workforce. Blind spots exist and are like that of other industry leaders.</li>
                        <li>Diverse culture, smart people,</li>
                        <li>Ability to create products that impact billions of people and work with amazingly diverse group of engineers</li>
                        <li>My team was very accommodating to several personal life events with no perceived consequence to my career or work environment.</li>
                        <li>Accessibility focus, pay, benefits and perks</li>
                        <li>Progressive, inspiring, outstanding leadership, focus on diversity and inclusion, strong strategy, data security, integrity, excellent WLB, excellent compensation</li>
                        <li>Benefits, location, accessibility, image, CEO</li>
                        <li>Good benefits and diversity and inclusion culture</li>
                        <li>Great vision, strong potential, deep pockets, smart people, super benefits, discounts on MS software (not really on hardware), commitment to diversity + inclusion (but see Cons), rapid promotions for diverse employees.</li>
                        <li>Good pay vs other companies, respect for diversity on my team and area, nice colleagues, not a hard-charging atmosphere.</li>
                        <li>Diversity of workforce, current company vision, benefits are good</li>
                        <li>The lab is very accommodating towards interns and I had a lot of fun during the summer!</li>
                        <li>they are entirely inclusive</li>
                        <li>Fair work environment, diverse culture, and great benefits</li>
                        <li>Inclusive</li>
                        <li>They pay well, have nice perks, and a strong culture of diversity & inclusion</li>
                        <li>Very inclusive and diverse.</li>
                        <li>Good salary and benefits, inclusive environment, nice people</li>
                        <li>Diversity and Inclusion, Opportunities, Fast Paced, Great teams, Mentoring</li>
                        <li>diversity & inclusion</li>
                        <li>inclusive and diverse for all employees</li>
                        <li> Diversity in teams and work</li>
                        <li>Inclusive culture</li>
                        <li>Culture Values Diversity Inclusion Care</li>
                        <li>Lot of attention on diversity and inclusion; incredible positioning in the market with cutting-edge products.</li>
                        <li>Diversity, workculture, skills driven,Benefits and other assistance</li>
                        <li>Excellent , Awesome, Amazing, Great, Inclusive</li>
                        <li>Flexible cultures and very inclusive</li>
                        <li>Environment is comfortable, diverse and inclusive.</li>
                        <li>Work Life Balance, Diversity & Inclusive</li>
                        <li>Understanding management, great perks, inclusive culture.</li>
                        <li>Diversity and Inclusion are taken very seriously here</li>
                        <li>Diverse and inclusive, perfect work life balance</li>
                        <li>work-life balance, tech is good, diversity is good</li>
                        <li>Diverse business</li>
                        <li>Diverse technical teams - my team has more female tech leads than men</li>
                        <li>Inclusive culture</li>
                        <li>Diversity, personal development, opportunity to grow</li>
                        <li>Diversity, Inclusion, Sustainability, training, values</li>
                        <li>Huge focus Diversity and Inclusion
                        Great leadership</li>
                        <li>Customer Centric, Culture, Focused, Diverse</li>
                        <li>Amazing policies around diversity and inclusion</li>
                        <li>Company values value diversity, inclusion</li>
                        <li>Diversity and Inclusion</li>
                        <li>inclusive environment</li>
                        <li>People focus on diversity & inclusion.</li>
                        <li>multi cultural diverse and inclusive workspace</li>
                        <li>The environment is very inclusive and innovative</li>
                        <li>Culture, values, diversity, package, work life balance</li>
                        <li>Good benefits, close to technology, diverse culture</li>
                        <li>Cabs and accommodation are top notch.</li>
                        <li>Diversity & Inclusion </li>
                        <li>Professional Development, Culture, Diversity and Inclusion</li>
                        <li>Diversity really embraced (not just for PR)</li>
                        <li>Flexibility, Diversity, Inclusion, Location, Benefits</li>
                        <li>Diverse and inclusive.</li>
                        <li>Promotes equality/inclusive culture </li>
                        <li>Fun, company size, peers, CEO, amazing products, The MGX, diversity, motivation speeches, knowing you work at the biggest IT company all time founded by one of the brightest minds.</li>
                        <li>Diversity, Inclusion, Work, life, balance</li>
                        <li>Innovative Resourceful Diversity People friendly</li>
                        <li>Great benefits, huge network, great diversity of people</li>
                        <li>Diversity </li>
                        <li>Focus on D&I</li>
                        <li>Diversity, high pay & benefit, people development</li>
                        <li>Good environment, positive team, diverse and inclusive, generates energy, good work life balance</li>
                        <li>Cutting edge of industry; working with the biggest global customers; opportunity for great impact; great Culture; focus on D&I</li>
                        <li>Helpful peers, learned management, diverse crowd</li>
                        <li>Inclusive environment, growth mindset and diverse environment</li>
                        <li>Salary, Stocks, Stable company, inclusion</li>
                        <li>Flexible, well-paid, great atmosphere, inclusive</li>
                        <li>Inclusive employer, gym on site, restaurants on site, decent leadership, a lot of place for development</li>
                        <li>Best implementation of diversity and inclusion practices</li>
                        <li>You will be surrounded by outstanding individuals & be able to bring your own value add. Microsoft pays also a lot of attention to diversity in workplace which is a good thing in my opinion. Microsoft brand has also become an excellent brand over the course of the years with new vision set my top management. (Satya Nadella)</li>
                        <li>Diversity & inclusion is real </li>
                        <li>all inclusive services by microsoft</li>
                        <li>culture, mission, diverse & inclusive</li>
                        <li>Compensation Diversity Perks Remote work</li>
                        <li>Aligns with my values- Inclusion and Growth Mindset</li>
                        <li>culture, people, organisational structure , diversity and inclusion</li>
                        <li>Great compensation and culture, huge diversity of teams you can work with and learn from, really nice office space, and some cool perks like the often hackathons and events we have a chance of participating all year round.</li>
                        <li>Diversity of work</li>
                        <li>High Salary and inclusive culture</li>
                        <li>Really diverse portfolio for growth</li>
                        <li>The hires are very diverse and coming from very different backgrounds, which is great as it strongly contributes to both the personal and professional growth of the individuals and the success of the products.</li>
                        <li>Great Cultural Diversity </li>
                        <li>Awesome work culture, D&I, Benefits</li>
                        <li>Leadership principles of create clarity, generate energy and deliver results. Expanding ones capabilities through role changes and geography changes is supported and encouraged. Strong belief and values aligned to a growth mindset anchored in diversity and inclusion.</li>
                        <li>Diversity</li>
                        <li>The employees are treated fairly and there is a great attention to diversity and inclusion.</li>
                        <li>Lots of growth opportunity (laterally), strong sense of purpose and mission, inclusive behaviours</li>
                        <li>Diversity</li>
                        <li>Helpful and nice people in the team, decent salary, diverse tasks</li>
                        <li>Inclusive culture, Learning resources, Career paths</li>
                        <li>Cultural Diversity & Inclusion; Open door policy; Paid food, cab; Leave policy</li>
                        <li>Open culture, diverse, flexible, open minded</li>
                        <li>Diversity and Inclusion</li>
                        <li>Our environment feels very inclusive and fun!</li>
                        <li>Open, diverse, always learning organisation</li>
                        <li> Be a diversity.</li>
                        <li>inclusive culture, work life balance, great people</li>
                        <li>Work life balance; Stable; Diversity</li>
                        <li>bonuses, stocks, help with relocation and accommodation</li>
                        <li>Inclusion and diversity and the exposure it offer .</li>
                        <li>Culture perks brand diversity Satya</li>
                        <li>Diverse, inclusive, visionary and data insights led</li>
                        <li>Diverse experience in terms of products and sales channels</li>
                        <li>Inclusivity is the big thing now being emphasized globally</li>
                        <li>an international and diverse work environment - a collaborative place with access to a diverse range of talents</li>
                        <li>Inclusive, good values and grows employees</li>
                        <li>Diversity</li>
                        <li>Great leadership, and surprisingly accessible for such a big company.</li>
                        <li>Smart people, diverse projects with a lot of opportunities to make impact.</li>
                        <li>Inclusive culture is truly promoted and lead from Senior Leadership down by example</li>
                        <li>A lot of seniors to learn from, Great culture, Inclusive, work-life balance</li>
                        <li>A diverse Work Environment with best cloud people in the world.</li>
                        <li>A massive organization with diversity at its core and a lot to learn</li>
                        <li>Open and inclusive environement.</li>
                        <li>I really enjoyed the autonomy to lead motions, work with diverse teams internally and externally.</li>
                        <li>Highly valued cultural acts such diversity, inclusion, integrity and respect</li>
                        <li>As an employer, Microsoft are very tuned into the diversity and inclusion agenda and this has grown over the years. On the whole, I had some great managers (I had a couple of terrible ones also, but that happens everywhere).</li>
                        <li>Life-work balance opportunities diversity growth mindset</li>
                        <li>inclusive culture</li>
                        <li>Learning to collaborate with diverse teams and the training thats encouraged.</li>
                        <li>Commitment to Diversity, Equality and Inclusion</li>
                        <li>Diversity & inclusion are not just words here.</li>
                        <li>Great site in Israel, interesting and diverse teams, you can make a real impact</li>
                        <li>Good vision, diversity, and growth mindset</li>
                        <li>Humanity, environment and diversity concerns</li>
                        <li>Microsoft Ireland acts as a EMEA HQ and so there's a high number of roles and opportunities in all sorts of areas - Sales, Operations, Engineering, etc which brings a super interesting level of diversity and options.</li>
                        <li>Inclusive environment</li>
                        <li>Good benefits, good environment, motivates growth mindset and inclusion</li>
                        <li>Diversity and inclusion focus</li>
                        <li>Diversity team n great place to learn</li>
                        <li>Great perks, challenging work, flexibility, hreat culture, team work, diversity and inclusion, competitive salary  career opportunities</li>
                        <li>Good pay, diverse role options</li>
                        <li>Corp cultures like encouraging diversity and inclusion is amazing</li>
                        <li>Diversity, work from home, work life balance,</li>
                        <li>Processes, diversity, inclusion, career growth, innovative products, good benefits</li>
                        <li>and if you can move across teams then the amount of work diversity that you have here is just great</li>
                        <li>It has a culture of integrity, respect, diversity, growth and etc.</li>
                        <li>International interaction, strong development plans, trending company, strong culture and strong diversity and inclusion</li>
                        <li>Learning opportunities, Customer obsession, Good culture - Diversity and inclusion</li>
                        <li>Culture, education, people, aspiration, diversity.</li>
                        <li>Operation is a fast transforming team with inclusive and encouraging culture.</li>
                        <li>Diverse, career making, interesting, freedom, growth mindset</li>
                        <li>Salary & Benefits, Diversity and Inclusion</li>
                        <li>diversity, job evolution, international, compensation, image</li>
                        <li>Positive and inclusive culture</li>
                        <li>Flexibility, diversity & inclusion focus, international and multicultural, focus on giving back to the community</li>
                        <li>Culture, people, environment, benefits, diversity</li>
                        <li>Great, amazing, cultutally diverse , work life balance</li>
                        <li>Forward thinking, truly diverse and inclusive company looking at how to bring humanity forward and progress society.</li>
                        <li>An inclusive employer, great company vision and pus serious investment in to people, culture and strategy</li>
                        </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column" style="font-family: 'Raleway', sans-serif">
                <center><h4>Opportunities for Growth</h4></center>
                <div class="progress">
                  <div class="progress-bar" style="width:25.05%">25.05%</div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <li>some groups are not as nimble as others, job function redundancies can be seen which can lead to job insecurity, D&I value, advancement and promotion can vary from group to group</li>
                        <li>Leadership is very vocal about diversity and inclusion efforts but actual change is very slow.</li>
                        <li>Diversity, language barriers, weak project direction</li>
                        <li>Politics are worse than any other company I've been at and, despite all the "diversity" focus, women are treated worse than men once they get there, and women are hired in above their experience level which leads to even more "she was only hired because she is a woman" mentality</li>
                        <li>Still issues with diversity and inclusion, they talk about it, but every female I know in the company are struggling with different aspects of cultural issues.</li>
                        <li>Senior leadership is completely tone deaf, they no longer care about their public perception, their employees, or whether we're happy or not and tell us "you should be grateful you still have a job" and "if you don't like it, you can leave" and that somehow we're just as privileged as a VP making 6 figures.</li>
                        <li>Complex organization, D&I has become too aggressive</li>
                        <li>Diversity and inclusion is not real, there is only 1 perspective allowed and everyone has to conform.</li>
                        <li>sales roles under constant pressure to perform, diversity candidates have been opportunity for advancement</li>
                        <li>Diversity & Equity is not as good as it could be given resources</li>
                        <li>Microsoft will always hire a junior, unskilled, female or diverse person, over a more skilled, experienced white male.</li>
                        <li>Their diversity commitment is a joke once you see higher levels in the org, all white males with a few token females.</li>
                        <li>stressful teams, diversity, unrespect, mismanagement</li>
                        <li>diversity numbers could be better</li>
                        <li>Very Political and Diversity is placed above demonstrated skill set</li>
                        <li>Diversity and Inclusion seems to be buzz words instead of an actual practices.</li>
                        <li>Hiring and promotion tied to minority staus in the US but no diversity even thought about in India</li>
                        <li>Diversity focus makes it difficult for white males to continue career growth without leaving.</li>
                        <li>Diversity for African-Americans in management positions could be better.</li>
                        <li>say they are inclusive but really it ends up that practices are intentionally exclusive of those who don't fit into certain demographics that are publicly acceptable</li>
                        <li>Thus, less “real” new and diverse thinkers.</li>
                        <li>D&I</li>
                        <li>Lack of better diversity and inclusion</li>
                        <li>Movement inside the company is not easy. Especially, Principal engineers have extra diversity based rules - which reduces the available options from an already reduced set.</li>
                        <li>To focused on diversity and not enough on qualifications.</li>
                        <li>I wish there was a bit more diversity.</li>
                        <li>Diversity is also a con. Most senior tech leaders are men. The way of doing work is very aggressive, so the women that do make it that far are usually not very likeable.</li>
                        <li>Trying to navigate the new diversity initiatives without causing inequities</li>
                        <li>Very limited opportunity for advancement unless you're a diversity hire</li>
                        <li>Sometimes times they over optimize for diversity and inclusion</li>
                        <li>As every large corporation, Microsoft still needs to focus on diversity and inclusion a little bit more.</li>
                        <li>Long Hours; emphasis on "diversity" creating reduction in meritocracy</li>
                        <li>Some of this can be attributed to lack of diversity.</li>
                        <li>As much as company speaks about work life balance, women empowerment, diversity etc..it all really depends on the team and manager.</li>
                        <li>strict deadlines, forced diversity training</li>
                        <li>still have work to do to continue to grow their diversity within their organization</li>
                        <li>Not the most diverse</li>
                        <li>D&I is generally good, but it can get a little silly sometimes/group think.</li>
                        <li>Still not diverse enough.</li>
                        <li>lack of growth opportunities, location, diversity in leadership</li>
                        <li>If culture and inclusion are important to you, avoid Microsoft for now. If this doesn't matter, welcome on board.</li>
                        <li>HR Has weaponized Inclusiveness and Diversity to mean, "white men please leave".  And there's a heightened culture of victims in waiting.  The statement "everyone has a personal truth" means you can get in trouble for anything.  There are even policies about words and phrases to use that HR wants you to use, but if those preferred words and phrases offend someone you are in trouble.  And there are quiet talks by managers about how the rules are different for white men.  One message is that if a white man sees someone of another category harassing or intimidating someone, they aren't allowed to report.   </li>
                        <li>Some people are set in their ways and not yet participating in the inclusive culture.</li>
                        <li>Absolutely leaderless and more concerned around talking about diversity than actually thinking about customers.</li>
                        <li>Diversity and Inclusion are great, but are being misused and weaponized unfortunately at all levels.</li>
                        <li>While Satya has worked to change the culture to be more diverse and inclusive, there are still pockets where speaking up to challenge status quo are still frowned on.</li>
                        <li>Overly PC - Diversity was valued as long as it met their definition of diversity.  True diversity of values was not valued unless your values met their values.</li>
                        <li>Sporadic middle management, Diversity misalignment</li>
                        <li>Work-life balance can be challenging but Microsoft is flexible and accommodating.</li>
                        <li>All male leadership, not investment in D&I, no action on HR issues. </li>
                        <li>Local top leadership is expecting blind loyalty and obedience, and will burn you out if you don't.</li>
                        <li>Lack of diversity in technical roles</li>
                        <li>a long way to go on inclusive culture, including allowing for different career objectives and encouraging employees to change over time</li>
                        <li>Rabid focus on diversity creates reverse discrimination.</li>
                        <li>still has large pockets of the 'good ol boy' male domination mentality - lacks modern day diversity in many senior but not corporate leaders</li>
                        <li>Slow to change and not diverse enough.</li>
                        <li>IE they have never changed their ways to be more inclusive and they never will.</li>
                        <li>There are no repercussions for managers harrassing their employees, or directly discriminating against them.</li>
                        <li>Strong diversity and inclusion bias forming across the company which can be extremely negative for some people.</li>
                        <li>Take diversity to an extreme</li>
                        <li>Satya did a good job on the image of the company, however when you are inside, many things are the same. Diversity and inclusion is a joke. Most upper mid-level management (some M2s, most directors, DEs, junior VPs) resist to change, so organizations, ICs, M1s get stuck in between.</li>
                        <li>Yes - MICROSOFT is obsessed with diversity but this also means that often the best qualified person didn’t get the job.</li>
                        <li>24/7 on-call duty added after hire with no extra compensation or accommodation.</li>
                        <li>gender disparity , stop learning, too little diversity</li>
                        <li>Pervasive water cooler (gossip, Blind) atmosphere  More talk than walk about transparency and diversity</li>
                        <li>MS is trying to 'solve' diversity & inclusion very aggressively, which is important but unfortunately means that some really great people who don't meet D+I criteria aren't recognized or rewarded at the level they should be (as in, rewards are moved down to free up money for diverse but less effective people), and non-diverse employees are shown the door QUICKLY to make room for … others. Hard to write that in a way that doesn't sound like a troll, which I'm not, but after years of observation, I don't see a better way to put that - there are no second chances for non-diverse people, so don't screw up.</li>
                        <li>Now MS is putting a lot of marketing $ into "changing the culture" and their so-called commitment to diversity and inclusion.</li>
                        <li>) No diversity. Don't let the rah rah talks fool you. This company doesn't care about promoting women or ethnicities, which is why there's been so many lawsuits. Luckily this company has lots and lots of lawyers to fend off all of these lawsuits.</li>
                        <li>Overindexing on inclusion/diversity that is taking a toll on productivity.</li>
                        <li>Inclusive is a word that is used by CEO and all leaders repeat the same.</li>
                        <li>Overall, the organization is filled with gossipy, rest and vest types. I also witnessed a very bright young African American female employee verbally abused and viciously bullied by her manager while senior leaders turned a blind eye. For all of you out there, I would think long and hard before joining the HR function at Microsoft.  Don’t say that you weren’t warned.</li>
                        <li>There's a bit of kool-aide in that they talk about your "Career at Microsoft", however it is very rare that skilled individuals move up in the store. Promotions and raises seem to be based on diversity hiring tactics and favoritism rather than merit, ability, and professionalism foremost.</li>
                        <li>diversity is causing challenges for personal growth</li>
                        <li>The company has to hire women as they have to show that they are not discriminating. This is not a new trend but now a unwritten one where Women are given the promotion in order to show the world they do not discriminate.</li>
                        <li>Lack of diversity in management roles and "boys club" management ranks.</li>
                        <li>part of the liberal bubble, too focused on hitting diversity quotas to the detriment of hiring the best candidate for the position</li>
                        <li>Politics, back stabbing, lack of diversity, retaliation, discrimination</li>
                        <li>Conversations are not inclusive, and communication is bad. When you are unfairly treated, there is no place for your voice to be heard or for you to be understood. If you try to explain, you will be regarded as too defensive and not willing to embrace the growth mindset. When there's misunderstandings, basically my manager told me to shut up in a polite way. I also have been shut down multiple times by senior employees when I tried to help them understand things on a project.</li>
                        <li>too politically correct, diversity and inclusion comes first</li>
                        <li>Legally dubious representation of benefits and pay.</li>
                        <li>Growing diversity, but little room for growth if you're not a cis, white male permanent employee. Especially if you're a woman, expect your career to stagnate and to leave the company at the same seniority level that you were initially hired for</li>
                        <li>Inefficiency; engineering lead; diversity (too much); too many layers of management</li>
                        <li>Rather low diversity and the associated challenges</li>
                        <li>They're big into Diversity making you feel if you're white and a Native and male you're not important.</li>
                        <li>It is difficult to get promoted due to different diversity policies, for example you cannot be promoted to the senior level because team/group have to keep the balance of the female and male employer at the same level.</li>
                        <li>IDC gets left out extra work which Redmond development center cannot accommodate.</li>
                        <li>a. There was a organization called GDCI a decade back. This was called as global delivery center India. It became msit later. This team was then merged back to idc later. Now around early 2008 - 2010 many employees copied the CEO, LT of msit, idc and mgsi and sent communication on the reality. These employees exposed how the local people abused other state people, how they promoted their own dna, family friends and built an empire. All of us need to work 200% to make up for their diversity counterparts. I have also worked and managed many diversity who are real gems. Some of them colleagues are extremely talented, with high aspirations. But the other half need the pass to get promoted, get hike and survive. d. They will only encourage diversity colleagues that’s HR policy c. They are incorrect collaborators in suit and coat. Most of the folks have been somehow caught warned when trying to take advantage of their diversity subordinate. </li>
                        <li>Not inclusive, Finance management sucks.</li>
                        <li>diversity & inclusion gaps</li>
                        <li>There is a lot of communication around diversity and value of people but internally we see a big stress problem and conflicts.</li>
                        <li>Unless you diversify your MEA team, the message is that you do not know what is MEA, and Diversity will not be more than a word in a "my top of mind" email, and the good ones will continue to leave MEA.</li>
                        <li> Diversity and representation from Africa could be better</li>
                        <li>Corporate-like career, everyone advances at the same pace, with little considerations of abilities</li>
                        <li>Lastly I want to highlight I saw a lot of poor treatment of people by management while HR turned a blind eye. Hiring of people in roles that were already filled by other people. Being told one day you are performing well, then the next day being pulled into HR meetings to say you were not meeting expectations. Roles are being downgraded by 2 levels forcing people to leave so management can hire their friends. Or worst yet people made redundant one week and two weeks later asked to come back. No one knows where they stand all while the numbers are crashing.</li>
                        <li>D&I gone mad: Before I start, I 100% believe in workplace equality - equal opportunities for men and women of any race. That said, even though 20% of Computer Science Grads are Female, Microsoft's push for 50% of senior staff being female and will "positively discriminate" for roles. In talking to managers you are often given the heads-up not to apply for a role as this needs to be a female hire. This has gone so far that there are rumours that senior male execs being offered large packages to 'voluntarily' exit. Also when restructuring rounds go around, it is very rare for females to be considered, meaning male job security is lower than females. </li>
                        <li>Hard to transition over to corporate,not ALL benefits are accessible to part timers (eg.</li>
                        <li>No diversity in Japan office.</li>
                        <li>Slow hiring process, diversity over professionalism, lightly terminate contracts.</li>
                        <li>The leadership talks about diversity but its all straight white men which, worse of it all, have been at Microsoft FOR EVER, so they have no clue how to really apply culture change.</li>
                        <li>Overly focused on diversity to the point where it seems almost biased...</li>
                        <li>WOMEN (exploring new opportunities), please stay away from this place. Your struggles are unique. Its your hard earned career. Do not spoil it.  The place is not diversity ready yet (for the women's wing) and will take a few years too for it. You will not receive satisfactory support and will be on your own here.</li>
                        <li>Don’t believe the hype on D&I: the pay gap is real</li>
                        <li>cliquey social groups and diversity as a buzzword</li>
                        <li>If you have a bad manager, you are basically screwed. It's hierarchical and hard to get promoted so make sure you get in on a good level. You have to stay visible and do lots of aside projects or have great clients to be awarded. Not enough diversity in local subs. Lots of "broken" systems and many reporting channels. It's a djungle when you are new hired. Lots of "unnecessary" work only for others to view and check a box.</li>
                        <li>Inclusion, respect are words we write in our appraisals and put on our event hoardings for better PR.</li>
                        <li>Real diversity in management is low</li>
                        <li>Good flexibility over things like working at home, but slow to adopt part time and job sharing for real flexibility and diversity.</li>
                        <li>Diversity is of very high importance, maybe more than it should.</li>
                        </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

      </div>
    </section>

  </main>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../static/SecondPage/assets/vendor/aos/aos.js"></script>
  <script src="../../static/SecondPage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../static/SecondPage/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/typed.js/typed.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/SecondPage/assets/js/main.js"></script>

</body>

</html>