<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Team iNova</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/SecondPage/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/SecondPage/assets/css/style.css" rel="stylesheet">

  <style>
  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 33%;
    padding: 10px;
  }

  .card{
    width: 100%;
    height: 350px;
    margin: 30px auto;
  }
  .scrollable{
    overflow-y: auto;
    max-height: 325px;
  }
  </style>

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../../static/SecondPage/assets/img/microsoft.png" alt="">
        <h1 class="text-light"><a href="http://127.0.0.1:5000/microsoft/">Microsoft</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="http://127.0.0.1:5000/microsoft/mission/" class="nav-link"><span>Mission & Vision</span></a></li>
          <li><a href="http://127.0.0.1:5000/microsoft/erg/" class="nav-link"><span>Employee Community</span></a></li>
          <li><a href="http://127.0.0.1:5000/microsoft/ratings/" class="nav-link"><span>Ratings & Reports</span></a></li>
          <li><a href="http://127.0.0.1:5000/microsoft/employee/" class="nav-link"><span>Employee Comments</span></a></li>
          <li><a href="http://127.0.0.1:5000/microsoft/hiring/" class="nav-link"><span>Inclusive Hiring </span></a></li>
          <li><a href="http://127.0.0.1:5000/microsoft/questions/" class="nav-link"><span>Submit a Question</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <section id="erg" class="erg">
      <div class="container">

        <div class="section-title">
          <h2>Employee Community Videos</h2>
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">CEO Nadella Says AI Can Help a Billion People With Disabilities</h5>
                  <br>
                  <iframe width="500" height="250" src="https://www.youtube.com/embed/2m6cKt4alUQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Ability Summit 2020: Satya Nadella Interview</h5>
                  <br>
                  <iframe width="500" height="250" src="https://www.youtube.com/embed/TdfIgDqmbM0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
              </div>
            </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <div class="container">
        <div class="section-title">
          <h2>Articles</h2>
            <div class="row">
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> Disability Answer Desk | Microsoft Accessibility</h4> <br>
                          <div class="clearfix">
                            <div class="c100 p88">
                              </div>
                            </div> Disability Answer Desk is where customers with disabilities get support with
                      Microsoft Office, Windows, and Xbox Accessibility. This includes product issues, accessibility
                      questions, and use of assistive technology.<br> <br>
                      Read More here: <a href="https://www.microsoft.com/en-us/Accessibility/disability-answer-desk">
                      https://www.microsoft.com/en-us/Accessibility/disability-answer-desk</a>
                          </div> <br>
                          </p>
                    </div>
                  </div>
                </div>
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> Microsoft Disability Scholarship </h4> <br>
                          <div class="clearfix">
                            <div class="c100 p100">
                              </div>
                            </div> Delivering on the mission of the Microsoft cross disability employee resource group
                      to empower and enable people with disabilities.<br> <br>
                      Read More here: <a href="https://www.microsoft.com/en-us/diversity/programs/microsoftdisabilityscholarship.aspx">
                      https://www.microsoft.com/en-us/diversity/programs/microsoftdisabilityscholarship.aspx </a>
                          </div> <br>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="column">
                      <div class="card">
                        <div class="card-body">
                          <div class="scrollable">
                            <p class="card-text">
                              <h4> What the disability community can teach us about working ...</h4> <br>
                                <div class="clearfix">
                                  <div class="c100 p100">
                                    </div>
                                  </div> We have received questions from across the disability community looking for
                            tools, resources and best practices. Below you’ll see some of our key learnings since
                            transitioning to working from home in early March. We have identified ways to accelerate
                            the learning curve by leaning into our employees expertise and by continuing to prioritize
                            accessibility to ensure that what we deliver is accessible to all our colleagues in these
                            new and shifting circumstances. <br> <br>
                      Read More here: <a href="https://blogs.microsoft.com/accessibility/inclusive-remote-working/">
                      https://blogs.microsoft.com/accessibility/inclusive-remote-working/</a>
                                </div> <br>
                            </p>
                          </div>
                        </div>
                      </div>
                  <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Accessibility Stories | Microsoft Accessibility</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> For many people, accessible technology facilitates the ability to participate
                          and thrive in today's digital world. Browse our curated selection of stories from employees,
                          customers, and advocates using Microsoft accessibility products and apps.<br> <br>
                      Read More here: <a href="https://www.microsoft.com/en-us/accessibility/stories">
                      https://www.microsoft.com/en-us/accessibility/stories</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                  <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Transcript: Brad Smith's remarks at an employee meeting ...</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> First, does the person have a job or a role, let’s say on a committee, that
                          impacts our business? Second, does the person represent a geography where we have a
                          significant employee presence? Third, does the person advance policy goals that align with
                          Microsoft’s business policy objectives? And fourth, does the person share our values around
                          diversity and inclusion? <br> <br>
                      Read More here: <a href="https://blogs.microsoft.com/on-the-issues/2021/01/22/transcript-brad-smiths-remarks-at-an-employee-meeting-thursday/">
                      https://blogs.microsoft.com/on-the-issues/2021/01/22/transcript-brad-smiths-remarks-at-an-employee-meeting-thursday/</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Microsoft employee resource groups: creating community and ...</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> Minority Student Day is one of the many ways ourEmployee Resource Groups(ERGs)
                          connect employees with the greater Bay Area community. Regional ERG chapters create a deep
                          sense of belonging to Microsoft by bringing people together — not only within each ERG, but
                          across Microsoft Silicon Valley and San Francisco. ERGs frequently collaborate with each other
                          across events to create an even larger impact.<br> <br>
                      Read More here: <a href="https://blogs.microsoft.com/bayarea/2018/04/30/microsoft-employee-resource-groups-creating-community-and-celebrating-diversity-across-silicon-valley-and-san-francisco/">
                      https://blogs.microsoft.com/bayarea/2018/04/30/microsoft-employee-resource-groups-creating-community-and-celebrating-diversity-across-silicon-valley-and-san-francisco/</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Microsoft names Lindsay-Rae McIntyre Chief Diversity ...</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> REDMOND, Wash. – Feb. 11, 2018 –Microsoft Corp. has named Lindsay-Rae McIntyre
                          as its next chief diversity officer (CDO). As CDO, McIntyre will implement and drive a
                          multitude of existing cross-company initiatives to further Microsoft’s progress in building a
                          diverse and inclusive culture. In addition to leading Microsoft’s efforts internally, McIntyre
                          will also play a key role in building partnerships and working with leading organizations
                          outside of Microsoft to help advance diversity and inclusion in the tech sector overall.<br> <br>
                      Read More here: <a href="https://news.microsoft.com/2018/02/11/microsoft-names-lindsay-rae-mcintyre-chief-diversity-officer/">
                      https://news.microsoft.com/2018/02/11/microsoft-names-lindsay-rae-mcintyre-chief-diversity-officer/</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Building the workspace of the future: sneak a look at ...</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> But as mindsets and culture have transformed, so has the thinking about how we
                          want to work, create, and connect. Focus and privacy can be found in a soundproof drop-in
                          phone booth or upholstered alcove; inspiration (and, according to research, employee health)
                          can soar in a light-filled atrium, cushy couches providing a welcome landing space for team
                          touchdowns. Impromptu conversations, encouraged by communal work “neighborhoods,” can lead to
                          innovation; better productivity; and faster, more agile development.<br> <br>
                      Read More here: <a href="https://news.microsoft.com/life/the-workspace-of-the-future/">
                      https://news.microsoft.com/life/the-workspace-of-the-future/</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Request accommodations | Microsoft Docs </h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> We’re committed to ensuring that every person who’s interested in taking
                          Microsoft Certifications can do so in a way that is fair and accurately reflects their skills
                          and abilities. This means providing accommodations when needed. Accommodations can include
                          special equipment for those with low vision or who are hard of hearing, breaks for medical
                          reasons, or extra time for testing because the exam is not in your native language.<br> <br>
                      Read More here: <a href="https://docs.microsoft.com/en-us/learn/certifications/request-accommodations">
                      https://docs.microsoft.com/en-us/learn/certifications/request-accommodations</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Microsoft Accessibility – Trust Center </h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> Microsoft is committed to ensuring our products and services are designed for
                          everyone including over one billion people with disabilities. <br> <br>
                      Read More here: <a href="https://www.microsoft.com/en-us/trust-center/compliance/accessibility">
                      https://www.microsoft.com/en-us/trust-center/compliance/accessibility</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> A high-profile leader reveals his disability to help ...</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> As a human resources exec, Chuck Edward has long championed the voices of others
                          and encouraged their stories. He has traveled globally, from India to Romania, with thoughtful
                          advice for employees and job candidates to be vulnerable, open-minded and authentic. He’s a
                          well-known, compassionate mentor who enjoys coaching people and shaping an inclusive culture
                          that gives everyone “permission to be real.”<br> <br>
                      Read More here: <a href="https://news.microsoft.com/features/high-profile-leader-reveals-disability-helps-others-have-more-empowered-voice/">
                      https://news.microsoft.com/features/high-profile-leader-reveals-disability-helps-others-have-more-empowered-voice/</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> How gamers with disabilities helped ... - news.microsoft.com</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> Packaging can be annoying for any consumer (see:wrap rage). But for people with
                          disabilities, it often creates yet another challenge in a world riddled with them, an
                          unnecessary obstacle that leads to frustration and a delay getting to the object inside. <br> <br>
                      Read More here: <a href="https://news.microsoft.com/features/how-gamers-with-disabilities-helped-design-the-new-xbox-adaptive-controllers-elegantly-accessible-packaging/">
                      https://news.microsoft.com/features/how-gamers-with-disabilities-helped-design-the-new-xbox-adaptive-controllers-elegantly-accessible-packaging/</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Plugged In | Microsoft Story Labs</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> Dan Bertholomey awoke in a hospital in June of 2010, four days after a
                          hit-and-run driver almost killed him while he was riding his motorcycle, to the sinking
                          knowledge that he'd lost the use of his right arm and hand.As he lay in his hospital bed,
                          Bertholomey pondered his future. He thought about his daily life and the things he loved to
                          do.How am I going to game again, he wondered? He'd been an avid gamer since age 10, when an
                          original Pong console from Sears magically transformed his family's television set into an
                          electronic playground that he could control. Bertholomey was instantly hooked. He loved the
                          competitiveness of gaming, loved the places it took his imagination.Bertholomey continued
                          gaming into adulthood, playing often with his son and daughter. In 2005, when he was 40,
                          Bertholomey placed sixth on “Madden Nation,” a televised competition of the U.S.'s best
                          “Madden NFL 06” football video game players. For him, gaming wasn't just a hobby, something
                          he did in his spare time. It was a lifestyle.You can't fathom losing something that you love
                          so much,said Bertholomey, 52, who lives in Mesa, Arizona.It's incredibly devastating.
                          Bertholomey began looking for ways to play with one hand. He found someone to hack him a foot
                          pedal that connected to his Xbox, but it didn't work well for him. He eventually taught himself
                          to play with his left hand, but it was awkward and he couldn't play at anywhere near his
                          previous capacity.The solution Bertholomey needed is now a reality — and it has the potential
                          to make gaming accessible to players with disabilities worldwide. The newXbox Adaptive
                          Controllercan be connected to external buttons, switches, joysticks and mounts, giving gamers
                          with a wide range of physical disabilities the ability to customize their setups. The most
                          flexible adaptive controller made by a major gaming company, the device can be used to play
                          Xbox One and Windows 10 PC games and supports Xbox Wireless Controller features such as button
                          remapping.Bertholomey, who is among a select group of gamers who tested the device, said the
                          controller makes it easy to create different setups for various types of games and seamlessly
                          switch between them. Gamers can set up three different gaming profiles on the controller and
                          don't need to reset the device every time they change games, as they sometimes do with modified
                          controllers.The possibilities are endless,he said.There's so much you can do with it. I've
                          been searching for a one-handed controller for years. I'm so grateful to have a product like
                          this. Microsoft is my hero now more than ever.With the new controller, Bertholomey is reviving
                          a dream he'd long shelved, but never quite let go of.I want to compete again in eSports,he
                          said.The future is bright. The future is exciting.<br> <br>
                      Read More here: <a href="https://news.microsoft.com/stories/xbox-adaptive-controller/">
                      https://news.microsoft.com/stories/xbox-adaptive-controller/</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Innovations for workplace communications and employee ...</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> In an increasingly volatile world, organizational resilience depends upon the
                          agility and responsiveness of your people. It’s more critical than ever to connect, inspire,
                          and activate people. But it is also more difficult than ever. While many people may have
                          adapted to working remotely, we hear from customers that it’s challenging to connect people,
                          particularly outside of their core working groups, to drive culture and communication, and
                          foster knowledge sharing and innovation. <br> <br>
                      Read More here: <a href="https://techcommunity.microsoft.com/t5/microsoft-sharepoint-blog/innovations-for-workplace-communications-and-employee-engagement/ba-p/1696149">
                      https://techcommunity.microsoft.com/t5/microsoft-sharepoint-blog/innovations-for-workplace-communications-and-employee-engagement/ba-p/1696149</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Microsoft unveils new Employee Experience Platform ...</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> The announcement comes as economic and social trends are driving durable changes
                          in workforce engagement. Amid the shift to an increasingly distributed and digital work
                          environment, demand has grown for solutions that support corporate culture, knowledge
                          discovery, on-the-job learning and employee wellbeing. Analysts size the nascent Employee
                          Experience Platforms (EXP) category at $300 billion in annual spend. It spans what is today a
                          fragmented market of services, infrastructure and hundreds of tools, many that go undiscovered
                          and underutilized by employees at the companies that have invested in them.<br> <br>
                      Read More here: <a href="https://news.microsoft.com/2021/02/04/microsoft-unveils-new-employee-experience-platform-microsoft-viva-to-help-people-thrive-at-work/">
                      https://news.microsoft.com/2021/02/04/microsoft-unveils-new-employee-experience-platform-microsoft-viva-to-help-people-thrive-at-work/</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Change in ourselves helps drive ... - blogs.microsoft.com </h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> As a company, we need to look inside, examine our organization, and do better.
                          For us to have the permission to ask the world to change, we must change first. We have to
                          embrace the same speed and mindset that we do in anticipating and building for future
                          technological shifts. Each day, we work to bridge the gap between the culture we espouse and
                          our daily lived experience, but we must do more and do it faster. In order to be successful
                          as a business in empowering everyone on the planet, we need to reflect the world we serve.
                          This is our commitment; we have goals and programs to improve representation in all roles and
                          at all levels. We’re investing in the talent pipeline broadly, as we’ve expanded our
                          connections with Historically Black Colleges and Universities. We also have to create
                          an environment where all voices are heard and valued, that’s why inclusion is a core priority
                          for each one of us. I ask each of us to recommit to our shared D&I priority, participate in
                          our inclusion learning programs, use the tools and resources we have shared on becoming an
                          effective ally for others. We have the capabilities to make Microsoft more diverse and
                          inclusive, but we must do the work. <br> <br>
                      Read More here: <a href="https://blogs.microsoft.com/blog/2020/06/05/change-in-ourselves-helps-drive-change-in-the-world/">
                      https://blogs.microsoft.com/blog/2020/06/05/change-in-ourselves-helps-drive-change-in-the-world/</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Mutual empowerment through ... - blogs.microsoft.com</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> Jenny Lay-Flurrie and Jacky Wright first met in 2012 while both were on a panel
                          sponsored by the Women at Microsoft employee resource group (ERG). The connection was instant.
                          Both Brits had moved to the U.S. to work with Microsoft – Jacky had just joined Microsoft as
                          the vice president of IT Strategic Services, while Jenny had already been with Microsoft since
                          2006 and was moving into a new role with a dedicated focus on driving accessibility. <br> <br>
                      Read More here: <a href="https://blogs.microsoft.com/blog/2021/03/31/mutual-empowerment-through-mentorship-sponsorship-and-allyship/">
                      https://blogs.microsoft.com/blog/2021/03/31/mutual-empowerment-through-mentorship-sponsorship-and-allyship/</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                  <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> 10 Habits to create accessible content - Microsoft ...</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> Over 70% of disabilities are invisible. You may not know if someone in your
                          distribution list or team has a disability. When you build and share accessible content, you
                          empower people with disabilities at home, work and school, especially virtual school. As a
                          father of a kindergartener, I see firsthand the challenges remote learning introduces to
                          families. For those with disabilities, both students and parents, there is an additional
                          layer, as every piece of content needs to be accessible. <br> <br>
                      Read More here: <a href="https://blogs.microsoft.com/accessibility/10-habits-to-create-accessible-content/">
                      https://blogs.microsoft.com/accessibility/10-habits-to-create-accessible-content/</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>
  </main>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../static/SecondPage/assets/vendor/aos/aos.js"></script>
  <script src="../../static/SecondPage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../static/SecondPage/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/typed.js/typed.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/SecondPage/assets/js/main.js"></script>

</body>

</html>