<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Team iNova</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/SecondPage/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/SecondPage/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../../static/SecondPage/assets/img/microsoft.png" alt="">
        <h1 class="text-light"><a href="http://127.0.0.1:5000/microsoft/">Microsoft</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="http://127.0.0.1:5000/microsoft/mission/" class="nav-link"><span>Mission & Vision</span></a></li>
          <li><a href="http://127.0.0.1:5000/microsoft/erg/" class="nav-link"><span>Employee Resource Groups</span></a></li>
          <li><a href="http://127.0.0.1:5000/microsoft/twitter/" class="nav-link"><span>Twitter</span></a></li>
          <li><a href="http://127.0.0.1:5000/microsoft/employee/" class="nav-link"><span>Employee Comments</span></a></li>
          <li><a href="http://127.0.0.1:5000/microsoft/ratings/" class="nav-link"><span>Ratings</span></a></li>
          <li><a href="http://127.0.0.1:5000/microsoft/dei/" class="nav-link"><span>Diversity and Inclusion </span></a></li>
          <li><a href="http://127.0.0.1:5000/microsoft/questions/" class="nav-link"><span>Submit a Question</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <section id="mission" class="mission">
      <div class="container">

        <div class="section-title">
          <h2>Mission and Vision</h2>
          <p>
          <h3> <u> Empowering others </u> </h3>
          Our mission is to empower every person and every organization on the planet to achieve more.
          </p>
        </div>

      </div>
    </section>

  </main>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../static/SecondPage/assets/vendor/aos/aos.js"></script>
  <script src="../../static/SecondPage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../static/SecondPage/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/typed.js/typed.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/SecondPage/assets/js/main.js"></script>

</body>

</html>