<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" type="image/jpg" href="../../static/secondary-pages/assets/img/handshake.png"/>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Project Inclusion</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/secondary-pages/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/secondary-pages/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/secondary-pages/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/secondary-pages/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../static/secondary-pages/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/secondary-pages/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/secondary-pages/assets/css/style.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .card{
    width: 100%;
    height: 650px;
    margin: 5px auto;
  }
  .scrollable{
    overflow-y: auto;
    max-height: 630px;
  }
  </style>
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../../static/secondary-pages/assets/img/cisco.jpg" alt="">
        <h1 class="text-light"><a href="/cisco/">Cisco</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/cisco/mission/" class="nav-link"><span>Mission & Vision</span></a></li>
          <li><a href="/cisco/erg/" class="nav-link"><span>Employee Community</span></a></li>
          <li><a href="/cisco/ratings/" class="nav-link"><span>Ratings & Reports</span></a></li>
          <li><a href="/cisco/employee/" class="nav-link"><span>Employee Comments</span></a></li>
          <li><a href="/cisco/hiring/" class="nav-link"><span>Inclusive Hiring </span></a></li>
          <li><a href="/cisco/questions/" class="nav-link"><span>Feedback Form</span></a></li>
          <li> <a href="/" class="nav-link"><span> Return to Home </span></a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main id="main">

    <section id="employee" class="employee">
      <div class="container">
        <div class="section-title">
          <h2>Employee Comments</h2>
            <div class="row">
              <div class="column" style="font-family: 'Raleway', sans-serif">
                <center><h4>Things that the company does well</h4></center>
                <div class="progress justify-content-end">
                  <div class="progress-bar" style="width: 71.56%"> 71.56% </div>
                </div>
                <div class="card">
                  <div class="card-body">
                      <div class="scrollable" style="font-family: 'Raleway', sans-serif">
                      <p class="card-text">
                        <li>Working with a diverse culture in cutting edge technologies</li>
                        <li>Great diversity at all levels of the company</li>
                        <li>Great People, Culture and Diversity</li>
                        <li>The culture is inclusive, and the people are great.</li>
                        <li>Inclusive environment.</li>
                        <li>Flexile, Inclusive, Cutting Edge, Open</li>
                        <li>Work Culture, Diversity, Stability, Leadership</li>
                        <li>Inclusive culture
                        - Care a lot about their people
                        - Transparent
                        - Flexible</li>
                        <li>Flexible, Individual Contribution, Inclusion, Diversity, Teleworking</li>
                        <li>They are supportive of diversity and social justice initiatives.</li>
                        <li>Compensation, Bonus, Diversity, Work from home culture, Good management</li>
                        <li>Large company with diverse portfolio to work on
                        Genuinely trying new things to motivate employees
                        Builds good leaders and managers
                        Learn end to end supply chain</li>
                        <li>Great people, very diverse culture and a desire to do the right thing</li>
                        <li>Very socially responsible and ethnically inclusive.
                        Employees usually treated fairly.</li>
                        <li>Diverse opportunities.</li>
                        <li>Focus on Diversity and Inclusion.</li>
                        <li>Culture, Exposure to different technologies, perks, networking gear, overtime, weekend bonus, Food at work, Highly diverse and inclusive</li>
                        <li>Company values diversity and inclusion</li>
                        <li>Pay, diversity, great work place</li>
                        <li>Great employee benefits, Inclusive culture, freedom of speech generally speaking</li>
                        <li>Good 401k, decent medical insurance and upto $25K matching donations.
                        5 days off for volunteering + 20 days of PTO and Floating holiday
                        13 weeks off for primary caregiver (fully paid)
                        Some teams are diverse and value people.</li>
                        <li>Perks, Inclusion, Diversity and Employee satisfaction</li>
                        <li>It's very diverse and a good place to work as an international.</li>
                        <li>Diversity culture.</li>
                        <li>Always room for professional growth; Growing Company; commitment to Inclusivity; Really cool tools for working remote</li>
                        <li>inclusive and dynamic culture, work flexibility, great benefits</li>
                        <li>Diversity, Culture, Benefits, People, Leadership.</li>
                        <li>High quality people
                        Great culture
                        Commitment to workplace diversity and inclusion
                        Lots of opportunity for advancement</li>
                        <li>Benefits, diversity, people, culture and challenge</li>
                        <li>team work and diversity, balance between personal and work</li>
                        <li>Benefits, work culture, work from home, diverse, opportunity for growth and leadership</li>
                        <li>Benefits, culture, people, challenges, diversity</li>
                        <li>People, products, diversity, leaders, opportunities for women</li>
                        <li>Culture, People, Technology, Focus on Diversity, Benefits, Compensation</li>
                        <li>flexible work schedule, remote, diverse</li>
                        <li>Great Leadership, culture and very bright people who focus on inclusivity and teaming to drive innovation and customer success</li>
                        <li>Diverse and most important they care about you!</li>
                        <li>great managers, amazing team members, really inclusive environment</li>
                        <li>They try to do the right thing around inclusion and by their people.</li>
                        <li>Not only does Cisco provide several networking, volunteering, diversity & inclusion, and career development opportunities within the program, but after the program as well.</li>
                        <li>Diversity is valued with a lot of minorities and women in leadership roles.</li>
                        <li>Cisco's culture is also very inclusive and gives back generously to the community.</li>
                        <li>Good company, good benefits, diverse</li>
                        <li>great culture, great diversity, flexible work time</li>
                        <li>Amazing place to learn new technology for a diverse technical background</li>
                        <li>amazing benefits, inclusive culture, talented peers</li>
                        <li>Inclusive. Diversity.</li>
                        <li>Ahead of its competitors for inclusion, PTO, salary and benefits for full-time employees.</li>
                        <li>Warm, Inclusive, Diverse, Excellent onboarding experiences, lots of training opportunities, development path, caring managers, visionary leaders, value their employees, get your birthday off, embrace WFH and equip employees to succeed there,</li>
                        <li>Great benefits, Support WFH Policy, Diverse Culture and Development Plans</li>
                        <li>Good Work culture, diversity and Flexibility!</li>
                        <li>good life work balance, market leader in many areas, diverse product</li>
                        <li>Awesome culture, loved the diversity, and investments towards talent.</li>
                        <li>Respect for the individual and unsurpassed culture of diversity & inclusion</li>
                        <li>Flexible, the benefits are wonderful, very accommodating</li>
                        <li>Spotless industry reputation, great benefits, internal operations run smoothly, integrity from executives, diverse workforce.</li>
                        <li>Flexibly , strong remote work culture, great work life balance, good diversity (gender and racial), variability in teams and projects you can choose to work on, solid benefits and perks</li>
                        <li>So much to say - flexibility is the best, great culture, a celebration of diversity.</li>
                        <li>Flexible work hours, work from home, diversity, culture</li>
                        <li>very good for personal growth and diversity</li>
                        <li>Never a dull moment.
                        My Hispanic/Latino background is appreciated and a value-added to the enormous melting pot that forms this genuinely diverse workforce.</li>
                        <li>Company with diverse domains.</li>
                        <li>Great leadership, diversity in roles, virtual work environment</li>
                        <li>Diverse, welcoming, kind, fun people</li>
                        <li>Collaborative environment
                        Inclusive Culture
                        Lots of opportunity</li>
                        <li>
                        -Respectful environment, that is inclusive.</li>
                        <li>technology of work, diversity, networking</li>
                        <li>Always felt like I agreed with most upper management and the business direction.
                        
                        Flexible work schedule and very accommodating to people with families.</li>
                        <li>Great people that are allowed to learn and grow.
                        Opportunities to work flexibly and with autonomy.
                        Good benefits and support in life changes of many kinds.
                        Open and inclusive global culture.</li>
                        <li>Engaging work and the ability to get involved with a diverse set of customers.</li>
                        <li>Great benefits
                        - Inclusive, diverse, open-minded culture
                        - Employees are friendly
                        - 'Teams are families' mindset (fun activities with teams, sports days, lunches, etc)
                        - Many activities to get involved in (clubs, events, IM sports, employee groups, etc)
                        - On-campus health center and gym
                        - Well-stocked break & locker rooms
                        - Maternity & prayer rooms available
                        - Employee purchasing program with rewards
                        - Additional rewards through connected recognition
                        - Diverse Executive Leadership Team (and executive visibility)
                        - Opportunities for leadership, impact, and exposure</li>
                        <li>Global Diversity, many different technologies, a market leader,</li>
                        <li>I feel that Cisco does a great job in creating a Culture of Inclusion.</li>
                        <li>Diverse age, ethnic, backgrounds for my peers and diverse experience.</li>
                        <li>Strong management team; great colleagues and a culture that is open and inclusive.</li>
                        <li>Diverse workforce.</li>
                        <li>But in general it is quite good.
                        - Super diverse.</li>
                        <li>It is a chance to experience the wonderful diversity that exists within Cisco .</li>
                        <li>Great technology, benefits are very good, some diversity gaining ground.</li>
                        <li>Flexible scheduling; Ability to work remote; Global company with diverse perspectives; Great Work Culture</li>
                        <li>Not only are the people great but the work environment has been set-up to accommodate all the needs of the employees.</li>
                        <li>super-inclusive great diverse amazing cool fun</li>
                        <li>Great place to work with lots of diversity</li>
                        <li>
                        The culture of the company is good.
                        More opportunities for freshers.
                        Cisco provides a high level of fluidity for employees.
                        Great People, Culture and Diversity</li>
                        <li>Flexibility, Great values, Inclusive, high collaboration</li>
                        <li>Great inclusive culture and employee support</li>
                        <li>Great work/life balance, positive culture, inclusive, great responsibility.</li>
                        <li>Agile organization and diverse environment are only few advantages</li>
                        <li>Culture, Innovation, Salary, Diversity, Solutions</li>
                        <li>Diverse tools and technologies.</li>
                        <li>Diverse backgrounds</li>
                        <li>Everything it's like very diverse and open environment</li>
                        <li>Salary - culture - diversity - best in industry coworkers</li>
                        <li>great team, inclusive culture, flexibility and learning opportunities</li>
                        <li>Competitive pay
                        Smart, creative colleagues
                        Accessibility to industry trainings 
                        Good benefits</li>
                        <li>very inclusive culture and tremendous opportunity to grow</li>
                        <li>Supportive & inclusive culture
                        Career path development 
                        Remuneration</li>
                        <li>Growth, Pay, Diversity, Opportunities to learn, Campus</li>
                        <li>Many growth opportunities, high diversity, real experts</li>
                        <li>Good earning potential, diverse culture</li>
                        <li>Work Life balance
                         Job Role Clarity 
                         Lot of diverse Opportunities</li>
                        <li>Benefits, compensation, great teams, great talents, amazing facilities, company values, inclusion, flexibility</li>
                        <li>Together we are growing and thinking for the future, for making the world better place, as we acknowledge and love the diversity and forcing our self to think out of the box, never to felt bored and fall asleep in the comfort zone.</li>
                        <li>Cisco have been very supportive during the pandemic, with working remotely and ensuring everyone has all the equipment they need to be effective 
                        * Have spoken up about matters around inclusion and diversity and racism and what they intend to do to be more inclusive 
                        * Open culture to be honest and share challenges</li>
                        <li>Good work, life balance
                        Diverse & Inclusive
                        Good Benefits</li>
                        <li>Inclusive and diverse environment, friendly and brilliant people, opportunity to grow.</li>
                        <li>Freedom, empowerment, responsibility, CSR, diversity</li>
                        <li>
                        It is a great diverse place.</li>
                        <li>It is a place full of diversity, which is a vital factor in getting to know different cultures and collaborating together.</li>
                        <li>Culture and values, care for people, give back opportunities, collaboration, highly professional inclusive environment, international projects and activities</li>
                        <li>Free accommodation and delicious meal covered.</li>
                        <li>Inclusion and Diversity</li>
                        <li>Excellent work - Ability to directly impact the top line of the big company we are 
                        
                        Values and Culture - People are valued for what they bring to the table - diverse views are welcome and encouraged - People are mentored to take their skills to the next level 
                        
                        Servant leadership style of leadership from line management to the executives 
                        
                        Mental well-being is talked about openly and people are encouraged to pay attention 
                        
                        Knowledge is power - you have information about what happens in each part of the company easily available 
                        
                        Collaboration across various functions, theatres, BUs happen naturally - Synergistic decisions</li>
                        <li>Collaboration product portfolio is diverse, everything from desktop to micro service and devops.</li>
                        <li>
                        Fair salaries, very good benefits (company car, shares, as well as health-related benefits like welcome back package for parents, emergency time off, second doctor's advise, mental health support etc) Culture supportive and inclusive.
                        Clear objectives.</li>
                        <li>Cross functional initiatives , flexible working hours , amazing employee satisfaction , diversity and inclusion focussed</li>
                        <li>#1 place to work for 2019/2020
                        #1 Networking Company
                        Diverse Porto folio
                        Work Life Balance
                        Respect for employer
                        Open Culuture</li>
                        <li>Cross functional initiatives
                        flexible working hours
                        amazing employee satisfaction
                        diversity and inclusion focussed</li>
                        <li>Plus inclusion and diversity.</li>
                        <li>Leading ICT Multinational Company.
                        - Top of the Wave Culture (Multicultural, Multidisciplinary, Diverse, Customer Centric).
                        - Leading Company in terms of respecting and empowering Employees.</li>
                        <li>Is diverse and best place to work worldwide and in different countries, benefits are great  .</li>
                        <li>Clean, uncluttered office with great views, intelligent use of collaboration technology, choose between an X1 Carbon ThinkPad or Macbook Pro as your primary laptop, good mobile/VPN access on tablets/smartphones so you can literally work anywhere on any device, diverse and inclusive culture, regular social events in the office (with wine sometimes), company-supported participation in mass events like SGX Bull Run, JP Morgan corporate challenge, up to 5 days of Time to Give which employees can use to perform volunteer work, company matches up to US$10K per employee for every hour of volunteer work performed, CSR activity included on every team offsite event, trustworthy and professional colleagues, regular communication from senior leadership, great internal platforms for learning, including access to LinkedIn Learning and other external learning platforms</li>
                        <li>Salary ; culture; lots of smart people; diversity</li>
                        <li>Amazing company and outstanding senior exec leadership
                        Really great co-workers
                        Outstanding development and training programs
                        Real diversity and CSR responsibilities which they take seriously</li>
                        <li>Diverse product portfolio.</li>
                        <li>The Cisco Krakow office is full of vibrant young and diverse people.</li>
                        <li>Cisco is a great, diverse and truly a global company.</li>
                        <li>Excellent HR practices, very employee friendly company with a lot of flexibility, value diversity, believes in employee empowerment</li>
                        <li>Excellent inclusion diversity and fo us on employee satisfaction.</li>
                        <li>Culture is a huge plus, inclusivity as well
                        -best support structure for growth and development
                        -Great remuneration structure
                        -Catered meals every day with full snack bars</li>
                        <li>Open and inclusive culture with excellent sales experience</li>
                        <li>Provide great learning curve, diverse environment</li>
                        <li>There are regular inclusion and diversity events, we have early in career events regularly and on the whole.</li>
                        <li>Firstly, in Cisco you are surrounded by truly talented, knowledgeable, and kind people and you are a part of a big (global) diverse family.</li>
                        <li>Respect diversity and culture of team mates</li>
                        <li>Top Ranked Networking company in the world
                         Best place for learn new things to improve technology
                         Globally trusted brand and have a very high value of its name
                         Abundant learning and explore many things
                         Challenging environment and trustworthy Corporate
                         Good Working culture and Diversity</li>
                        <li>Inclusive, diverse,and globally responsible organisation.
                        Market leader, thought leader and technology innovator.
                        Customer advocates -  first, last and everytime
                        Exceptiional Senior Leadership team</li>
                        <li>supportive, great work life balance, a company with integrity and strong giving back culture, an inclusive place for everyone to be the best version of themselves , flexibility</li>
                        <li>I also like the diversity and multicultural environment.</li>
                        <li>Good work life balance, some of the most talented and diverse people from various backgrounds to work with esp in the HQ.</li>
                        <li>Good salary for graduate and fresh engineers.
                        - Good benefits with private healthcare 
                        - Friendly Work From Home policies
                        - Easy on the time management and flexible working hours
                        - Good for millennial and possibility to create relaxing atmosphere for yourself
                        - A lot of events for young people (Halloween, christmas and other many parties and social events for single people (no spouse allowed))
                        - Very good for diverse hiring and inclusion. Cisco is very good in its inclusive practices</li>
                        <li>They take diversity and inclusion very seriously, and their support is excellent.
                        The training is excellent, and they are a worldwide technology company that always seem to invest in their employees.
                        Needless to say their products are world-class, providing the plumbing for the internet.</li>
                        <li>it gives good opportunities to learn - udemy and another learning tools are freely accessible.
                        employee complaints are taken seriously</li>
                        <li>flexibility; career opportunities; international and diverse environment; focus on a conscious culture; hard working but good rewards; on the edge of technology.</li>
                        <li>Cisco is truly global and inclusive so you will meet many cultures and types of people</li>
                        <li>
                        Very inclusive culture.</li>
                        <li>
                         diversity 
                         Provides good learning opportunities from time to time.</li>
                        <li>Good culture of diversity and inclusion whilst maintains a focus on outcomes</li>
                        <li>Diverse team where bullying and discrimination is not tolerated.</li>
                        <li>Great work environment and diverse ways to learn and develop.</li>
                        <li>Multinational environment, diverse and vivid work, a lot of opportunities to learn new things, grow and develop</li>

                       </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column" style="font-family: 'Raleway', sans-serif">
                <center><h4>Opportunities for Growth</h4></center>
                <div class="progress">
                  <div class="progress-bar" style="width: 28.4%">28.40%</div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable" style="font-family: 'Raleway', sans-serif">
                      <p class="card-text">
                        <li>Leadership diversity and Frequent reorganizations</li>
                        <li>
                        - Teams do not always operate in the MOST effective manner and using duplicate tools/processes
                        - Middle management + hiring managers still have a long way to go in terms of cross- culture competence and D&I value (But there are A LOT of progressive people and leaders here who get it)</li>
                        <li>Yearly LR's; Talks Diversity and Inclusion but not practiced</li>
                        <li>Lots of work needed in the D&I space.</li>
                        <li>Lack of diversity, very political and middle management plays favourism.</li>
                        <li>Culture is not generally accepting of LGBTQ+ people
                        Little effort or importance put into hiring lgbtq+ talent or ensuring their teams will be welcoming or accepting
                        Ineffective HR department offering lgbtq+ employees the run-around instead of adequate support; HR is also undereducated on lgbtq+ identity and issues, with no feedback loop in place for complaints against HR
                        Little effort by teams within the company to live out the corporate values of inclusion and collaboration
                        Dishonest reporting on lgbtq+ inclusion metrics by some leadership</li>
                        <li>Shareholders love saving money - diversity is improving - but the lack of experience shows.</li>
                        <li>Poor culture - we say we do a lot for diversity but does not play out in practice.</li>
                        <li>Cisco has become “woke”, increasing amounts of time and effort are being consumed with diversity efforts.</li>
                        <li>Very limited diversity and career growth</li>
                        <li>Arrogance very high
                        Legacy solutions not cloud friendly
                        Middle Management have rose colored glasses
                        Too many gatekeeper inside the machine
                        Most managers are spreadsheet jockeys, not leaders
                        ELT is nose blind on how the trenches smell
                        CEO needs to fix machine, not be so concerned how he looks public facing
                        Layoffs schedule is rampant
                        Not focused on customer but themselves
                        Not too channel friendly</li>
                        <li>The top leadership of the company talks about diversity, equality, and no bullying, but it doesn't make it down the chain.</li>
                        <li>A lot of bigotry is real that hides behind Inclusion and Diversity talk.</li>
                        <li>not diversity</li>
                        <li>Some teams are not very diverse, and frequent lay offs</li>
                        <li>Serious lack of diversity, eroding benefits, constant threat of layoff</li>
                        <li>There is not much diversity in certain teams -- seems some teams are made of the same ethnic group.</li>
                        <li>They layoff thousands, yet spend $100M on diversity initiatives.</li>
                        <li>Need more diversity in management</li>
                        <li>Sometimes too inclusive and diverse</li>
                        <li>Lack of diversity in management.</li>
                        <li>Less diversity.</li>
                        <li>Not easily accessible by public transpiration.</li>
                        <li>Lack of general diversity, though management is working on it.</li>
                        <li>We are making big strides in promoting women to leadership roles across all ranks and there is more to be done with great initiatives like Multiplier Effect and Multiply Tech Diversity initiatives.</li>
                        <li>It's a big complicated company with a diverse portfolio of products.</li>
                        <li>With flexibility comes lots of long hours working to accommodate different time zones</li>
                        <li>Some teams needs more diversity.</li>
                        <li>Some groups seriously have NO diversity at all, resulting in very toxic environments.</li>
                        <li>No diversity in engineering workforce.</li>
                        <li>Not much work life balance- it’s very hard to truly be “off” when taking PTO
                        Not much diversity in sales teams- a lot of the reqs say “purple hair?</li>
                        <li>Loyalty to employees not there all smoke and mirrors.
                        They layoff yearly and quarterly regardless of performance.
                        Unless your indian  there is no inclusion or diversity
                        Low compensation vs the industry and competitors</li>
                        <li>Hard to get promoted, jobs/tasks change constantly, low diversity</li>
                        <li>Little balance, strategies shirt on a dime, they say diverse but ipmore and more is swept under a run</li>
                        <li>Many times you are working extra hours on products or solutions that will never produce revenue.
                        We were looking over our shoulder every 4 years.
                        Company is extremely biased towards hiring younger engineers.
                        Diversity and inclusion only applies to employees and managers in the US.</li>
                        <li>Lack of diversity.</li>
                        <li>Uneven diversity - too many clique racial groups.</li>
                        <li>Advancement is slow and dependent on arbitrary metrics that workers have no visibility into
                        * I've been in my position 2 years without a single formal review of my abilities.
                        * The politics are absurd at times - you have to worry about hurting peoples' feelings, as Cisco is very ""feel-good"".</li>
                        <li>The team you're on largely determines whether the work you do is exciting vs. mundane, whether you can work from home or if you have to be in the office every day for scrum.

                        In the end you are still working for an IT company that heavily values technical skills and abilities (design, marketing, HR, is always going to be secondary to software engineering, database, front end dev, etc.) Essentially you must have coding skills/abilities/understanding to succeed or work here.

                        Biggest con: the location.</li>
                        <li>In some BUs employee growth is stunted because they are buried under unnecessary multi-level management chains
                        Engineering lacks diversity</li>
                        <li>There is a sub-culture in UK and its not very inclusive if your face doesn't fit.
                        Underhand tactics when it comes to promotions and hiring.</li>
                        <li>There can be improvements in inclusion</li>
                        <li>Not diverse in workplace (mostly middle aged men)</li>
                        <li>Diversity, they try hard but unconscious still less opportunities for women.</li>
                        <li>Not showing respect or inclusive attitude becomes the norm in some department.</li>
                        <li>Work pressure is tough and with the amount of flexibility they give you choice paralysis might be an issue</li>
                        <li>Lot of hot air about diversity and the SJW agenda, and rah-rah cult-like atmosphere growing out of control. Diversity of opinions are not welcomed.</li>
                        <li>local is an issue with culture and is challenging diversity</li>
                        <li>Some BU leadership, diversity, the new cisco could me confused</li>
                        <li>Lack of gender diversity in sales</li>
                        <li>They are actively covering up and misrepresenting the scale of the harm their sales teams are being subjected to by wilfully discriminating both financially and through their actions, against anyone who suffers mental ill health due to the stresses of the role. Cisco discriminate against people who have mental health issues.</li>
                        <li>Promotions are limited and its more of a beauty contest than based on your abilities</li>
                        <li>Blind Limited Restructuring will cause loss of intelligence leaving the company.</li>
                        <li>office politics, elitism, nepotism, hypocrisy lack of diversity (people of colour to be clear)</li>
                        <li>Gender discrimination in the name if diversity, local sales management is flag bearer of nepotism.</li>
                        <li>we had a person on a team who was spending 50% of the time or more on some inclusion trainings and presentations and not doing the job mostly, and that is considered a norm, yet workload was counted toward them too (per person average).</li>
                        <li>Most managers are Poles and while there's this appearance of inclusion and diversity within the company, at the end of the day you'll see locals (or Ukranians, the second biggest community) progressing in their career,  getting promotions, recognitions, and so on... while it happens way too rarely for internationals (in proportion with the number of people, of course).

                         Being a low cost center in a saturated market like Krakow, the quality of talent Cisco manages to get there is not so high.

                         No meritocracy AT ALL.

                         No metrics/KPI / good place for early retirement: you will find lots of people in who just put in a few hours of work per day, get to work at 10:00, leave at 15:000, go for groceries in the meantime... and nobody cares, because there is no way whatsoever to measure anybody's performance (beside in a very few roles). Middle management in Cisco Krakow is really mediocre, and definitely not diverse.</li>
                        <li>Bad management, the company does not practice what they preach with their inclusion, diversity and bullying policy</li>
                        <li>a lot of global branches, sometimes need to work off-hours to accommodate to different time zones</li>
                        <li>Why expand in India if the team doesn't want it?
                        The team isn't diverse either.</li>

                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

      </div>
    </section>

  </main>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../static/secondary-pages/assets/vendor/aos/aos.js"></script>
  <script src="../../static/secondary-pages/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/secondary-pages/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/secondary-pages/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/secondary-pages/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../static/secondary-pages/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../static/secondary-pages/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/secondary-pages/assets/vendor/typed.js/typed.min.js"></script>
  <script src="../../static/secondary-pages/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/secondary-pages/assets/js/main.js"></script>

</body>

</html>