<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Team iNova</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/SecondPage/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/SecondPage/assets/css/style.css" rel="stylesheet">

  <style>
  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 33%;
    padding: 10px;
  }

  .card{
    width: 100%;
    height: 350px;
    margin: 30px auto;
  }
  .scrollable{
    overflow-y: auto;
    max-height: 325px;
  }
  </style>

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../../static/SecondPage/assets/img/cisco.jpg" alt="">
        <h1 class="text-light"><a href="http://127.0.0.1:5000/cisco/">Cisco</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="http://127.0.0.1:5000/cisco/mission/" class="nav-link"><span>Mission & Vision</span></a></li>
          <li><a href="http://127.0.0.1:5000/cisco/erg/" class="nav-link"><span>Employee Community</span></a></li>
          <li><a href="http://127.0.0.1:5000/cisco/ratings/" class="nav-link"><span>Ratings & Reports</span></a></li>
          <li><a href="http://127.0.0.1:5000/cisco/employee/" class="nav-link"><span>Employee Comments</span></a></li>
          <li><a href="http://127.0.0.1:5000/cisco/hiring/" class="nav-link"><span>Inclusive Hiring </span></a></li>
          <li><a href="http://127.0.0.1:5000/cisco/questions/" class="nav-link"><span>Submit a Question</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <section id="erg" class="erg">
      <div class="container">

        <div class="section-title">
          <h2>Employee Resource Group</h2>
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Autism Forum “Giving Hope While Making Change”</h5>
                  <br>
                  <iframe width="500" height="250" src="https://www.youtube.com/embed/ZrQzUYx2e1U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
              </div>
            </div>
            </div>
          </div>
        </div>

      </div>
      <div class="container">
        <div class="section-title">
          <h2>Articles</h2>
            <div class="row">
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> Accessibility at Cisco - Cisco</h4> <br>
                          <div class="clearfix">
                            <div class="c100 p88">
                              </div>
                            </div> Cisco is committed to designing and delivering accessible products and technologies
                      to meet the needs of your organization. Cisco Accessibility Initiative is a company-wide effort
                      that stresses the importance of creating accessible products. <br> <br>
                      Read More here: <a href="https://www.cisco.com/c/en/us/about/accessibility.html">
                      https://www.cisco.com/c/en/us/about/accessibility.html</a>
                          </div> <br>
                          </p>
                    </div>
                  </div>
                </div>
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> Cisco Employee Brings Hidden Disabilities to Light - Cisco ...</h4> <br>
                          <div class="clearfix">
                            <div class="c100 p100">
                              </div>
                            </div> It all started during the maternity leave of my second son, when I took the time to
                      read about hidden disabilities, or as I like to think of them, “hidden super powers.” <br> <br>
                      Read More here: <a href="https://blogs.cisco.com/wearecisco/cisco-employee-brings-hidden-disabilities-to-light">
                      https://blogs.cisco.com/wearecisco/cisco-employee-brings-hidden-disabilities-to-light</a>
                          </div> <br>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="column">
                      <div class="card">
                        <div class="card-body">
                          <div class="scrollable">
                            <p class="card-text">
                              <h4> CSR Our People - Cisco </h4> <br>
                                <div class="clearfix">
                                  <div class="c100 p100">
                                    </div>
                                  </div> We are committed to maintaining aninclusive and diverse workforce. The more
                            perspectives we can draw on, the better we can solve global challenges. Cisco has always
                            been committed to paying our people fairly and equitably across our global company. We are
                            proud to have taken a national leadership role in advancing fair pay for everyone as one of
                            the 28 founding signers of the White House Equal Pay Pledge.<br> <br>
                      Read More here: <a href="https://www.cisco.com/c/en/us/about/csr/impact/our-people.html">
                      https://www.cisco.com/c/en/us/about/csr/impact/our-people.html</a>
                                </div> <br>
                            </p>
                          </div>
                        </div>
                      </div>
                  <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4>Benefits and Perks | Cisco Careers - Cisco </h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> Our high-performance culture rewards innovation, collaboration and achievement. <br> <br>
                      Read More here: <a href="https://www.cisco.com/c/en/us/about/careers/we-are-cisco/benefits-and-perks.html">
                      https://www.cisco.com/c/en/us/about/careers/we-are-cisco/benefits-and-perks.html</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                  <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Five amazing inventions supporting ... - Cisco Blogs</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> I was thinking specifically about the way technology has helped people with
                          physical disabilities get involved in sport over the years and achieve some incredible
                          athletic feats despite their impairments. <br> <br>
                      Read More here: <a href="https://gblogs.cisco.com/uki/five-amazing-inventions-supporting-disability-in-sport/">
                      https://gblogs.cisco.com/uki/five-amazing-inventions-supporting-disability-in-sport/</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Start-up makes IoT smart stick for blind people - Cisco</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> Imagine trying to navigate a busy town without the benefit of sight, using only
                          a white cane to help you safely get around. A couple of college students saw the problem and
                          wanted to come up with a solution to make getting around town a little easier for the visually
                          impaired. <br> <br>
                      Read More here: <a href="https://newsroom.cisco.com/video-content?articleId=1863824">
                      https://newsroom.cisco.com/video-content?articleId=1863824</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Corporate Social Responsibility at Cisco - Cisco</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> Committed to powering an inclusive future and creating equitable access to
                          opportunity.<br> <br>
                      Read More here: <a href="https://www.cisco.com/c/en/us/about/csr.html">
                      https://www.cisco.com/c/en/us/about/csr.html</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> We Are Cisco | Cisco Careers - Cisco</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> Winning is the result of great people, dynamic innovation, and a culture that
                          cares.<br> <br>
                      Read More here: <a href="https://www.cisco.com/c/en/us/about/careers/we-are-cisco.html">
                      https://www.cisco.com/c/en/us/about/careers/we-are-cisco.html</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Cisco Employee Resource Organizations (EROs) and Networks</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> Our culture of inclusion is fueled by a thriving Inclusion and Collaboration
                          (I&C) Community – a platform for diverse groups to connect, build powerful new relationships,
                          explore their unique passions and talents, innovate, and excel. In 196 chapters across 44
                          countries, our I&C Community has over 25,000 active members participating in Employee Resource
                          Organizations, Networks, Virtual Groups, Inclusion Leadership Teams, and the annual
                          flagship event known as Women of Impact. <br> <br>
                      Read More here: <a href="https://www.cisco.com/c/en/us/about/inclusion-diversity/employee-resource-organizations.html">
                      https://www.cisco.com/c/en/us/about/inclusion-diversity/employee-resource-organizations.html</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Cancer Support Network helps Cisco employees and ...</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> During that time, Davis worked for another company and was laid off after her
                          last round of disability. Eight months later, she landed at Cisco and was blown away with the
                          employee resources, including the Cancer Support Network. “When I joined, I thought, wow! What
                          an amazing community of people who have battled themselves, or are caregivers, or loved ones
                          of people who have gone through it,” Davis said. <br> <br>
                      Read More here: <a href="https://newsroom.cisco.com/feature-content?articleId=2024547">
                      https://newsroom.cisco.com/feature-content?articleId=2024547</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Cisco IP Communications: Accessibility - Cisco</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> Today's diverse workforce creates extraordinary value for business, government,
                          and education. At the same time, it introduces new challenges. How can organizations empower
                          all people, regardless of hearing, vision, and mobility level, to contribute equally? And how
                          can those same organizations provide equal service to their customers with disabilities? The
                          extent to which an organization provides equal access shapes its productivity, responsiveness,
                          and ability to attract and retain the most qualified employees, regardless of disability. It
                          also increases the organization's service levels to a distinct segment of its customer base,
                          positively affecting customer satisfaction and revenue. <br> <br>
                      Read More here: <a href="https://www.cisco.com/c/m/en_us/about/accessibility/contact-team/ip-communications.html">
                      https://www.cisco.com/c/m/en_us/about/accessibility/contact-team/ip-communications.html</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Products - Cisco</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> Cisco Accessibility Initiative identifies global accessibility and usability
                          requirements and establishes strategies and processes to integrate accessibility throughout
                          Cisco operations. <br> <br>
                      Read More here: <a href="https://www.cisco.com/c/en/us/about/accessibility/products.html">
                      https://www.cisco.com/c/en/us/about/accessibility/products.html</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Expanding well-being & care beyond our employees in ...</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> Today, we’re seeing this new way of putting people first as people and companies
                          alike step into conversations they shied away from in the past — from discrimination to new
                          ways of working. We’ve become more aware of how to support those who are most vulnerable, how
                          to aid frontline workers and teachers, how companies can help their employees, and how crisis
                          can lead to community and even technology innovation. And we have come to realize that our
                          purpose in this new world of challenges is to power an inclusive future for all.<br> <br>
                      Read More here: <a href="https://blogs.cisco.com/news/expanding-well-being-care-beyond-our-employees-in-response-to-covid-19">
                      https://blogs.cisco.com/news/expanding-well-being-care-beyond-our-employees-in-response-to-covid-19</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Episode 11: Diversity & Inclusion in Cybersecurity - Cisco</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> Today, security is critical not just for large enterprises, but also small
                          businesses, the public sector, and individuals of every race, gender, age, religion, and
                          culture, in the developing and developed world alike. On this episode of TechBeat, we explore
                          the intersection of cybersecurity and inclusion with Cisco’s Global Lead for Inclusion, Trey
                          Boynton, and Cisco security experts Dug Song, Lothar Renner, Kerry Singleton and Alejandra
                          Hernandez-Montaño. <br> <br>
                      Read More here: <a href="https://newsroom.cisco.com/feature-content?articleId=2101781">
                      https://newsroom.cisco.com/feature-content?articleId=2101781</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Diversity, Inclusion, and Collaboration at Cisco - Cisco</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> We see inclusion and diversity as essential to fueling the power of connection.<br> <br>
                      Read More here: <a href="https://www.cisco.com/c/en/us/about/inclusion-diversity.html">
                      https://www.cisco.com/c/en/us/about/inclusion-diversity.html</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> accessibility - Cisco Blogs</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> Workplaces provide extra challenges for the 3.4 million visually impaired and
                          blind Americans. The Phone Accessibility Project is a collaboration of Cisco and the American
                          Council of the Blind. <br> <br>
                      Read More here: <a href="https://blogs.cisco.com/tag/accessibility">
                      https://blogs.cisco.com/tag/accessibility</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                  <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4>Contact Cisco Accessibility - Cisco</h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> If you have a question or comment regarding the accessibility of Cisco products
                          for persons with disabilities, please fill out the form so that we may process your request. <br> <br>
                      Read More here: <a href="https://www.cisco.com/c/en/us/about/accessibility/contact-accessibility-team.html">
                      https://www.cisco.com/c/en/us/about/accessibility/contact-accessibility-team.html</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>
    </section>

  </main>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../static/SecondPage/assets/vendor/aos/aos.js"></script>
  <script src="../../static/SecondPage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../static/SecondPage/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/typed.js/typed.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/SecondPage/assets/js/main.js"></script>

</body>

</html>