<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Team iNova</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/SecondPage/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/SecondPage/assets/css/style.css" rel="stylesheet">

  <style>
  * {
    box-sizing: border-box;
  }

  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 33%;
    padding: 10px;
  }

  .card{
    width: 100%;
    height: 350px;
    margin: 30px auto;
  }
  .scrollable{
    overflow-y: auto;
    max-height: 325px;
  }
  </style>
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../../static/SecondPage/assets/img/cisco.jpg" alt="">
        <h1 class="text-light"><a href="http://127.0.0.1:5000/cisco/">Cisco</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="http://127.0.0.1:5000/cisco/mission/" class="nav-link"><span>Mission & Vision</span></a></li>
          <li><a href="http://127.0.0.1:5000/cisco/erg/" class="nav-link"><span>Employee Community</span></a></li>
          <li><a href="http://127.0.0.1:5000/cisco/ratings/" class="nav-link"><span>Ratings & Reports</span></a></li>
          <li><a href="http://127.0.0.1:5000/cisco/employee/" class="nav-link"><span>Employee Comments</span></a></li>
          <li><a href="http://127.0.0.1:5000/cisco/hiring/" class="nav-link"><span>Inclusive Hiring </span></a></li>
          <li><a href="http://127.0.0.1:5000/cisco/questions/" class="nav-link"><span>Submit a Question</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <section id="erg" class="erg">
      <div class="container">

        <div class="section-title">
          <h2>YouTube Videos</h2>
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Cisco’s Inclusive Hiring Apprenticeship Program</h5>
                  <br>
                  <iframe width="500" height="250" src="https://www.youtube.com/embed/S7YhQaMV_s0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">India Inclusion Summit 2018</h5>
                  <br>
                  <iframe width="500" height="250" src="https://www.youtube.com/embed/P0Hi-ueVVVs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="container">
        <div class="section-title">
          <h2>Articles</h2>
            <div class="row">
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> Honoring Leadership: Advocating for Team ... - Cisco Blogs </h4> <br>
                          <div class="clearfix">
                            <div class="c100 p88">
                              </div>
                            </div> Honoring Leadership: Advocating for Team Members with Disabilities <br> <br>
                      Read More here: <a href="https://blogs.cisco.com/diversity/honoring-leadership-advocating-for-team-members-with-disabilities">
                      https://blogs.cisco.com/diversity/honoring-leadership-advocating-for-team-members-with-disabilities </a>
                          </div> <br>
                          </p>
                    </div>
                  </div>
                </div>
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> Cisco Networking Academy Empowers the Disabled in Sri ...</h4> <br>
                          <div class="clearfix">
                            <div class="c100 p100">
                              </div>
                            </div> In 2001, the Employers’ Federation of Ceylon (EFC) launched theNetwork on
                      Disability, a program designed to connect Sri Lanka’s disabled community to meaningful jobs. The
                      EFC’s ICT Training Center, which launched in 2009 with the support of the International Labour
                      Organization (ILO), has empowered more than 160 disabled people with the IT and language skills
                      training they’ll need to thrive in a digital world. The EFC’s objective is to develop the
                      employability skills of people with diverse disabilities in Sri Lanka by embracing the vision
                      of “productive employment through social harmony.” <br> <br>
                      Read More here: <a href="https://blogs.cisco.com/csr/cisco-networking-academy-empowers-the-disabled-in-sri-lanka">
                      https://blogs.cisco.com/csr/cisco-networking-academy-empowers-the-disabled-in-sri-lanka</a>
                          </div> <br>
                      </p>
                    </div>
                  </div>
                </div>
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> Employee Volunteers Initiate Creative CSR ... - Cisco Blogs </h4> <br>
                          <div class="clearfix">
                            <div class="c100 p100">
                              </div>
                            </div> Another meaningful accomplishment, from an inclusion perspective, is a 3-year
                      agreement with the French government to help disabled people find jobs. The agreement focuses on
                      3 major topics: improving our actions to help disabled persons to stay employed, recruitment, and
                      increasing our collaboration with the adapted sector in our region.<br> <br>
                      Read More here: <a href="https://blogs.cisco.com/csr/employee-volunteers-initiate-creative-csr-activities-in-france">
                      https://blogs.cisco.com/csr/employee-volunteers-initiate-creative-csr-activities-in-france</a>
                          </div> <br>
                      </p>
                    </div>
                  </div>
                </div>
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> Transforming the Employee Experience ... - Cisco Blogs </h4> <br>
                          <div class="clearfix">
                            <div class="c100 p100">
                              </div>
                            </div> Cisco makes huge investments to identify, interview, and hire the right candidates –
                      on average, 3,400 each quarter. Making sure our new hires have a great experience between the
                      offer letter and the first weeks at work is critical to make sure they don’t accept another offer
                      – and that they thrive at Cisco. <br> <br>
                      Read More here: <a href="https://blogs.cisco.com/ciscoit/transforming-the-employee-experience">
                      https://blogs.cisco.com/ciscoit/transforming-the-employee-experience</a>
                          </div> <br>
                      </p>
                    </div>
                  </div>
                </div>
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> employee engagement - Cisco Blogs </h4> <br>
                          <div class="clearfix">
                            <div class="c100 p100">
                              </div>
                            </div> The workforce is aging and many organizations are having trouble recruiting younger
                      talent. By the year 2025, Millennials will make up 75% of the workforce. Creating a familiar and
                      engaging work environment is critical in attracting these young workers. The proliferation of
                      mobile devices is driving major behavioral changes in the Millennial workforce. They expect
                      anytime, anywhere access to anyone or anything. <br> <br>
                      Read More here: <a href="https://blogs.cisco.com/tag/employee-engagement">
                      https://blogs.cisco.com/tag/employee-engagement </a>
                          </div> <br>
                      </p>
                    </div>
                  </div>
                </div>
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> Accessibility for Applicants with Disabilities - Cisco Systems </h4> <br>
                          <div class="clearfix">
                            <div class="c100 p100">
                              </div>
                            </div> Cisco is an equal employment opportunity employer. Consistent with applicable law,
                      Cisco provides access and opportunities to those with disabilities. This commitment includes
                      providing reasonable accommodation to individuals with disabilities and disabled veterans who seek
                      to access the company's on-line application system. Cisco has made extensive efforts to ensure
                      that its on-line application system is accessible to individuals with disabilities. However, if an
                      applicant is unable to fully access the Cisco's on-line application system, Cisco will provide a
                      reasonable accommodation. <br> <br>
                      Read More here: <a href="https://www.cisco.com/c/m/en_us/about/careers/accessibility.html">
                      https://www.cisco.com/c/m/en_us/about/careers/accessibility.html</a>
                          </div> <br>
                      </p>
                    </div>
                  </div>
                </div>
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> Students and New Graduates - Cisco </h4> <br>
                          <div class="clearfix">
                            <div class="c100 p100">
                              </div>
                            </div> We're on a mission to be the industry leader and employer of choice for the next
                      generation workforce. <br> <br>
                      Read More here: <a href="https://www.cisco.com/c/en/us/about/careers/communities/students-and-new-graduates.html">
                      https://www.cisco.com/c/en/us/about/careers/communities/students-and-new-graduates.html</a>
                          </div> <br>
                      </p>
                    </div>
                  </div>
                </div>
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> Cisco Voice L1 interview questions or topics - Cisco Community </h4> <br>
                          <div class="clearfix">
                            <div class="c100 p100">
                              </div>
                            </div> I need help regarding my interview. Today i got call forCisco Voice L1 engineer. I
                      have knowledge of cisco voice and i'm also CCNA certified.Please tell me what type of question
                      they will ask or on which topics dey will concentrate for L1 position. <br> <br>
                      Read More here: <a href="https://community.cisco.com/t5/ip-telephony-and-phones/cisco-voice-l1-interview-questions-or-topics/td-p/2101917">
                      https://community.cisco.com/t5/ip-telephony-and-phones/cisco-voice-l1-interview-questions-or-topics/td-p/2101917 </a>
                          </div> <br>
                      </p>
                    </div>
                  </div>
                </div>
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> New Employees | Cisco College </h4> <br>
                          <div class="clearfix">
                            <div class="c100 p100">
                              </div>
                            </div> New employees are expected to attend the orientation where various topics will be
                      discussed, e.g., vision, mission, goals, values, benefits, and operational guidelines, etc. Each
                      employee will receive an New Hire Packet to bring to orientation and assist them with the
                      acclimation process.  <br> <br>
                      Read More here: <a href="https://www.cisco.edu/about/offices/human-resources/new-employees">
                      https://www.cisco.edu/about/offices/human-resources/new-employees</a>
                          </div> <br>
                      </p>
                    </div>
                  </div>
                </div>
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> Employment | Cisco College </h4> <br>
                          <div class="clearfix">
                            <div class="c100 p100">
                              </div>
                            </div> Welcome to the Cisco College Employment page! Please review our available
                      opportunities below, and see if we have a place for you. The college is an equal opportunity
                      employer, and we are always searching to fill our posted positions with dedicated, resourceful
                      people. <br> <br>
                      Read More here: <a href="https://www.cisco.edu/about/offices/human-resources/employment">
                      https://www.cisco.edu/about/offices/human-resources/employment </a>
                          </div> <br>
                      </p>
                    </div>
                  </div>
                </div>
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> Cisco Top Trends for 2020 - The Cisco News Network - APJC </h4> <br>
                          <div class="clearfix">
                            <div class="c100 p100">
                              </div>
                            </div> Enter a new form of capitalism that is more socially responsible. Some of these
                      responsibilities will no longer be optional. For example, some governments will begin to take
                      action on businesses who fail to act on climate risk. Governments will come under further pressure
                      too. Corporate executives representing millions of workers globally have expressed support for the
                      Paris agreement in order to avert catastrophic temperature rises. They argue that the battle
                      against climate change would protect their nation’s economy and create jobs and businesses. If
                      ignored, estimates suggest that the economic impact could be in the hundreds of billions of
                      dollars, if not trillions. There are plenty of issues to deal with including the climate, carbon
                      emission, waste (the circular economy), trust, diversity, equality and the social divide. Those
                      that embrace social responsibility will enhance their brand and attract talent. In 2020 this issue
                      will become more critical. There has never been a time in history that the planet has needed
                      technology like it does today to help save itself and its inhabitants. <br> <br>
                      Read More here: <a href="https://news-blogs.cisco.com/apjc/2020/02/03/cisco-top-trends-for-2020/?oid=psten020477">
                      https://news-blogs.cisco.com/apjc/2020/02/03/cisco-top-trends-for-2020/?oid=psten020477</a>
                          </div> <br>
                      </p>
                    </div>
                  </div>
                </div>
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> “It’s not about disability, it’s about differences, and ... </h4> <br>
                          <div class="clearfix">
                            <div class="c100 p100">
                              </div>
                            </div> A diverse, inclusive and collaborative workplace is something we are proud of at
                      Cisco. Diversity is about embracing differences, and enabling people to bring different strengths
                      to work. There are a number of initiatives close to the hearts of employees on missions to support
                      inclusivity, and one in particular that has been working to generate awareness for the Australian
                      and New Zealand (ANZ) chapter among employees, and support those who need the help, by being there. <br> <br>
                      Read More here: <a href="https://news-blogs.cisco.com/apjc/2020/04/29/its-not-about-disability-its-about-differences-and-different-strengths-we-bring-to-the-world/">
                      https://news-blogs.cisco.com/apjc/2020/04/29/its-not-about-disability-its-about-differences-and-different-strengths-we-bring-to-the-world/</a>
                          </div> <br>
                      </p>
                    </div>
                  </div>
                </div>
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> Out of sight but not out of mind ... - news-blogs.cisco.com </h4> <br>
                          <div class="clearfix">
                            <div class="c100 p100">
                              </div>
                            </div> UK employees spend on average half of their waking hours working[1], amplifying the
                      importance of not only optimizing office and virtual workspaces, but building strong, inclusive
                      organisational cultures too. While many remote workers feel empowered and trusted by their
                      managers and teams to do the job at hand, there are still a significant minority who are concerned
                      about being left behind. One-in-six do not feel trusted to do their job from home, without
                      extensive oversight, and whilst half of the workforce feel recognised,the other half believe their
                      achievements are being overlooked.<br> <br>
                      Read More here: <a href="https://news-blogs.cisco.com/emear/2021/03/29/out-of-sight-but-not-out-of-mind-employees-believe-strong-company-cultures-will-underpin-a-successful-hybrid-world-of-work/">
                      https://news-blogs.cisco.com/emear/2021/03/29/out-of-sight-but-not-out-of-mind-employees-believe-strong-company-cultures-will-underpin-a-successful-hybrid-world-of-work/</a>
                          </div> <br>
                      </p>
                    </div>
                  </div>
                </div>
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> How Cisco’s flexible working culture is ... - Cisco Blogs </h4> <br>
                          <div class="clearfix">
                            <div class="c100 p100">
                              </div>
                            </div> As I approach my 20th anniversary of working at Cisco, I have been reflecting on how
                      the culture here contributes to work being something that I do(and enjoy!), rather than a place
                      that I go to 5 days-a-week. <br> <br>
                      Read More here: <a href="https://gblogs.cisco.com/uki/how-ciscos-flexible-working-culture-is-driving-inclusion-and-employee-engagement/">
                      https://gblogs.cisco.com/uki/how-ciscos-flexible-working-culture-is-driving-inclusion-and-employee-engagement/</a>
                          </div> <br>
                      </p>
                    </div>
                  </div>
                </div>
                  <div class="column">
                    <div class="card">
                      <div class="card-body">
                        <div class="scrollable">
                          <p class="card-text">
                            <h4> Cisco’s first HackforGood hackathon has ... - Cisco Blogs </h4> <br>
                              <div class="clearfix">
                                <div class="c100 p100">
                                  </div>
                                </div> Following the different pitches and subsequent Q&A session, the jury chose
                          project PIMS of CRETH and Cisco partners Proximus and Telindus Luxembourg as the most
                          impactful and scalable project. CRETH is a Resource and Technology Assessment Center for
                          Persons with Disabilities. The team’s dream was to create a uniform communication and
                          control platform, allowing disabled persons to be more independent in their daily life. <br> <br>
                      Read More here: <a href="https://gblogs.cisco.com/be/hackforgoodhackathon/">
                      https://gblogs.cisco.com/be/hackforgoodhackathon/</a>
                              </div> <br>
                          </p>
                        </div>
                      </div>
                    </div>
      <div class="container">
      <div class="section-title">
        <h2>Tweets</h2>
          <div class="row">
            <div class="column">
              <div class="card">
                <div class="card-body">
                  <div class="scrollable">
                    <p class="card-text">
                      <li>From the moment I found out about the possibility of being contracted to work for Cisco and heard about their values and culture, it sounded like a dream job.” 
                      
                      Erika B. on the @HeyCisco team shares her top five #LoveWhereYouWork reasons <a href='https://t.co/3nY3otyCim'>https://t.co/3nY3otyCim</a> <a href='https://t.co/vOtcDKzyhl'>https://t.co/vOtcDKzyhl</a></li>
                      <li>Meet Shruti. She made a promise to herself in 2018 when she first visited the Cisco #Bangalore campus with a friend. I'm going to work there one day! 
                      
                      Last month, she accepted her dream job as a technical consulting #engineer. 👏 
                      
                      Be you, with us <a href='https://t.co/x2DhKvOc1n'>https://t.co/x2DhKvOc1n</a> <a href='https://t.co/QHVnP2Ye3F'>https://t.co/QHVnP2Ye3F</a></li>
                      <li>Between career moves &amp; promotions, I’ve had six roles at Cisco. Of those six jobs – I only had one direct male boss.
                      
                      Drew is a business development manager and shares his perspective on our everyday superheroes – #WomenInTech.
                      
                      <a href='https://t.co/TXXpAISIiv'>https://t.co/TXXpAISIiv</a> 
                      
                      #WeAreCisco <a href='https://t.co/8rkABM5hOk'>https://t.co/8rkABM5hOk</a></li>
                      <li>@FrRoOoS This channel is unable to provide you with specific feedback, as we are not a part of the recruiting team, but instead sharing about the Cisco life. We recommend connecting with recruiters through LinkedIn to build a relationship &amp; keep looking for the role that's best for you!</li>
                      <li>I was exposed to so much of the business at a very early point in my career &amp; I will not take that for granted.
                      
                      Aishwarya is a business analyst and she shares how she landed her dream job right out of college.
                      
                      <a href='https://t.co/WSM9q1OMZ4'>https://t.co/WSM9q1OMZ4</a>
                      
                      #WeAreCisco #WomenInTech #EmergingTalent <a href='https://t.co/ltArHmtaHy'>https://t.co/ltArHmtaHy</a></li>
                      <li>Moving into #ValentinesDay with so much love for our coworkers and leadership. ❤
                      
                      Teamwork makes the dream work! @ileana_cates, @jenbursey &amp; @meikimeii are coworkers on the Employer Brand Team.
                      
                      We want to see why you #LoveWhereYouWork. Be sure to share your photos with us. <a href='https://t.co/dCwKxz8ZwX'>https://t.co/dCwKxz8ZwX</a></li>
                      <li>RT’ing ourselves isn’t typically our thing, but we want to give job seekers a glimpse into what it’s like to work at Cisco. Take a look at Melissa’s post below. ⬇ #WeAreCisco #NowHiring  Apply here: <a href='https://t.co/x2DhKvOc1n'>https://t.co/x2DhKvOc1n</a> <a href='https://t.co/B49tlXY5pB'>https://t.co/B49tlXY5pB</a></li>
                      <li>@constbeecoding @Cisco Awesome! Be sure to check out our open roles here: <a href='https://t.co/x2DhKvOc1n'>https://t.co/x2DhKvOc1n</a></li>
                      <li>@SecurityChicken @NeodymiumPhish Hi, Nic! You can check out more about our veterans community and search for jobs here: <a href='https://t.co/xFHKBUsZrM.'>https://t.co/xFHKBUsZrM.</a></li>
                      <li>Last month, our leadership team gave Cisconians another Day For Me. A day off to rest during this hectic time. @setness_m is a recruitment marketing specialist &amp; she used her time to plant flowers. 💮 
                      
                      Think this is the place for you? Be you, with us <a href='https://t.co/x2DhKvOc1n'>https://t.co/x2DhKvOc1n</a> <a href='https://t.co/EGoOsMw7fY'>https://t.co/EGoOsMw7fY</a></li>
                      <li>The camaraderie on my team is like one I’ve experienced before &amp; it’s just one of the many ways I see my roles between the #Marines &amp; Cisco echo each other. -John
                      
                      Honored to be designated as a 2021 Military Friendly® Employer (we're No 3!) @Mil_Friendly <a href='https://t.co/k6i43ffiv4'>https://t.co/k6i43ffiv4</a> <a href='https://t.co/yGyeZiwumK'>https://t.co/yGyeZiwumK</a></li>
                      <li>Our #interns are all virtual this summer! ✌️  Matthew shares his experience as an #intern for our Employer Brand team and what it means to him that Cisco enabled him to have this experience: <a href='https://t.co/iieFYn2Ubs'>https://t.co/iieFYn2Ubs</a> <a href='https://t.co/gLLzTtGo3M'>https://t.co/gLLzTtGo3M</a></li>
                      <li>Everyone can relate to starting a new job. It's a mix of emotions - excitement, anxiety, curiosity &amp; fear. Our #CustomerExperience team of culture nerds decided to welcome new Cisco members by making them feel at home right away. Read how: <a href='https://t.co/z6RhC01ysl'>https://t.co/z6RhC01ysl</a> #WeAreCisco <a href='https://t.co/8kLQ45h8CM'>https://t.co/8kLQ45h8CM</a></li>
                      <li>Highlight your interests &amp; hobbies outside of the workplace, you will. Genuine answers about what you do in your free time helps us understand you! Of most importance, spell check, you must use.  -Ellyse Hampshire, University Recruiting #MayThe4th #WeAreCisco <a href='https://t.co/2Kj32Vkb8x'>https://t.co/2Kj32Vkb8x</a></li>
                      <li>Baby Yoda was referred for the Jedi Master role – #DYK referrals have the highest conversion to hire rate amongst all candidates? Tap into your network, you will &amp; have someone refer you for your next role @Cisco. @FrancesBettis #MayThe4th #MayThe4thBeWithYou #WeAreCisco <a href='https://t.co/sAcHkFSgdQ'>https://t.co/sAcHkFSgdQ</a></li>
                      <li>Our #MondayMotivation? Our newest coworkers. 😍 #CiscoPets
                      
                      Not a part of #WeAreCisco yet? Explore our open roles: <a href='https://t.co/x2DhKvOc1n'>https://t.co/x2DhKvOc1n</a>
                      
                      📸:  @nat_bayliss <a href='https://t.co/jdS0X59m1M'>https://t.co/jdS0X59m1M</a></li>
                      <li>This #WorkFromHome view is 💯 . Marco is a technical solutions architect based in Germany. His kids are playing outdoors while he stays connected with Cisco #tech.
                      
                      Looking for something new? We're hiring: <a href='https://t.co/x2DhKvOc1n'>https://t.co/x2DhKvOc1n</a> <a href='https://t.co/zsF42hCkOj'>https://t.co/zsF42hCkOj</a></li>
                      <li>Meet Madison. She's a recruitment marketing specialist, based in Georgia. 
                      
                      Sweatpants + working remotely = #productivity. Cisco allows me to #WorkFromAnywhere (even on secret projects 🤫). I love my job! 
                      
                      #LoveWhereYouWork ➡️ <a href='https://t.co/x2DhKvOc1n'>https://t.co/x2DhKvOc1n</a> 
                      
                      📷:  @setness_m <a href='https://t.co/hOD3ixYNnb'>https://t.co/hOD3ixYNnb</a></li>
                      <li>The best seat in the house. 🕺 Customer Experience #Engineer, Umer, is enjoying a break with a view in our Bangalore office. 
                      
                      #DidYouKnow we are hiring around the globe? If #NewYearNewJob is one of your #resolutions, apply here: <a href='https://t.co/x2DhKvOc1n'>https://t.co/x2DhKvOc1n</a> <a href='https://t.co/QlFjJ69PzX'>https://t.co/QlFjJ69PzX</a></li>
                      <li>Just hanging out with the #WeAreCisco #WomenInTech at day 3 of #GHC19 capturing their awesome stories. This is @jeantuJT - who was hired at Grace Hopper as an intern and is now a full-time Cisconian. 🙌 <a href='https://t.co/CYTewBzypQ'>https://t.co/CYTewBzypQ</a></li>
                      <li>During my last semester I had big goals and lots of offers to interview, but many of them I didn’t accept because the role or company wasn’t a good fit, but with Cisco I was offered my dream job. Patti, an #engineer, made her dreams come true with Cisco! #WeAreCisco <a href='https://t.co/CPb354Rhk4'>https://t.co/CPb354Rhk4</a></li>
                      <li>☑️ Resume
                      ☑️ Interview
                      ☑️ New Job
                      ☑️ Baby
                      
                      Read the four moments Ale and her family experienced in her first year that showed how Cisco is dedicated to not only working moms and families, but all employees, all the time. <a href='https://t.co/aaJE9DEZjQ'>https://t.co/aaJE9DEZjQ</a> <a href='https://t.co/wIFVuNGMiT'>https://t.co/wIFVuNGMiT</a></li>
                      <li>In her role as a Senior Manager, Ecosystem Development, @fairygodboss asked Jessica what's her #1 piece of advice for women who are looking for jobs? 
                      
                      You have incredible #WorkLifeBalance when you find a hobby that pays. For me, that is #cybersecurity. <a href='https://t.co/9HE1YF1HgL'>https://t.co/9HE1YF1HgL</a> <a href='https://t.co/Qu23z9mTPr'>https://t.co/Qu23z9mTPr</a></li>
                      <li>@storkbitetech We love adding to the Cisco family, Danny! ☺ Be sure to keep an eye out on our open roles in your area of interest here: <a href='https://t.co/x2DhKvOc1n'>https://t.co/x2DhKvOc1n</a></li>
                      <li>We're big on teams. For the first time an intern cohort participated in Power of Teams; we set teams up to be more effective. After 6 hours, we bonded in a way uncommon in most places of employment. It was one of the most meaningful days of my career. #NationalInternDay <a href='https://t.co/fEyWvMikdQ'>https://t.co/fEyWvMikdQ</a></li>
                      <li>I’m glad I never have to miss picking up my son from school, and it’s all thanks to the incredible culture Cisco Security has instilled in all its employees – family first. Christopher shares how he landed his dream job at Cisco Security: <a href='https://t.co/hSPSSZfppC'>https://t.co/hSPSSZfppC</a> <a href='https://t.co/50MLjTolVJ'>https://t.co/50MLjTolVJ</a></li>
                      <li>1.2 million computing-related jobs will exist in the U.S. by 2022, with only enough computer degree graduates to fill 39%. Cisconians spend their time volunteering at Cisco's  Girls in IT Day to advocate for women in #technology. 📷. Yvette F.
                      
                      Join us: <a href='https://t.co/x2DhKvwACN'>https://t.co/x2DhKvwACN</a> <a href='https://t.co/zQX9eaTKIF'>https://t.co/zQX9eaTKIF</a></li>
                      <li>@jusBmeek Hello! It varies. Sometimes it depends on the volume of applications, or the hiring manager’s process, etc. Keep applying and we will cross our fingers for you! 🤞</li>
                      <li>We're 😍 over this view of our #Bangalore office captured by Cisco Technical Analyst Pulkit P. 
                      
                      We're #hiring in all corners of the world. Want to join us? <a href='https://t.co/x2DhKvOc1n'>https://t.co/x2DhKvOc1n</a> <a href='https://t.co/2D3Rzvzxnk'>https://t.co/2D3Rzvzxnk</a></li>
                      <li>#DidYouKnow: Hiring Jedis, we are ➡️ <a href='https://t.co/FUPQe4ZQHZ.'>https://t.co/FUPQe4ZQHZ.</a> #MayThe4thBeWithYou #StarWarsDay <a href='https://t.co/Nn9fYdoAbj'>https://t.co/Nn9fYdoAbj</a></li>
                      <li>Thank you for calling Cisco. Yes, we're hiring future Cisconians! People matter most at Cisco, no matter what age. 😍 #TakeYourChildToWorkDay #TakeYourKidsToWorkDay
                      
                      Want to adventure with us? Check out open roles: <a href='https://t.co/x2DhKvOc1n'>https://t.co/x2DhKvOc1n</a> 
                      
                      📷: Huong N. <a href='https://t.co/9F4dBK0vMB'>https://t.co/9F4dBK0vMB</a></li>
                      <li>Who gets to meet our Executive leadership team during their first few months at #Cisco?!
                      
                      This is one of the winning teams at the New Hire Orientation program that was held recently in #SanJose. 😊 <a href='https://t.co/Bq8gGryEFT'>https://t.co/Bq8gGryEFT</a></li>
                      <li>In today's blog, Anamaria shares how she became Cisco's Cookie Queen 🍪 and her recipe for recruiting top talent for #Cisco in the New Year.
                      
                      <a href='https://t.co/PrMI3QgeNQ'>https://t.co/PrMI3QgeNQ</a> <a href='https://t.co/c8RaCPFRNc'>https://t.co/c8RaCPFRNc</a></li>
                      <li>How do you use your professional skills to #GiveBack to the community? Amber tells us how she used her #tech knowledge to help people get better jobs!
                      <a href='https://t.co/1zTE4a5hox'>https://t.co/1zTE4a5hox</a>
                      
                      #GivingTuesday #Technology <a href='https://t.co/2PMP7xjQ8M'>https://t.co/2PMP7xjQ8M</a></li>
                      <li>Cisco Recruiter, Frances B. learned how to love #SocialMedia and is now using it as a Recruiting Tool!  <a href='https://t.co/ipUG97ym1G'>https://t.co/ipUG97ym1G</a> <a href='https://t.co/pNEi6nHfjg'>https://t.co/pNEi6nHfjg</a></li>
                      <li>When you can't beat those #WeAreCisco #LoveWhereYouWork vibes -- JOIN 'EM! 🤙 We're hiring! 😎 <a href='https://t.co/x2DhKvOc1n'>https://t.co/x2DhKvOc1n</a> <a href='https://t.co/qvXX447TQx'>https://t.co/qvXX447TQx</a></li>
                      <li>Tune in tomorrow on Facebook to get all your questions about #jobs and #CareerTips at Cisco answered. <a href='https://t.co/yb2a2Vfrkz'>https://t.co/yb2a2Vfrkz</a></li>
                      <li>Looking to land that coveted #IT position? @LearningatCisco VP Par Merat shares why upskilling is important for that dream job. (via: @TechRepublic) <a href='https://t.co/KHQ72SPMmM'>https://t.co/KHQ72SPMmM</a></li>
                      <li>Work is an activity, rather than a place. What about the future of non-office jobs? 🤔 Read more from Cisco Chief Technologist @chintancsco: ⬇️  
                      
                      #FutureOfWork</li>
                      <li>This week we released our Data Privacy Benchmark Study and celebrated as Cisco was named the Best Employer in Canada according to Forbes. Learn all about this and more in our moments from the week⚡️: <a href='https://t.co/a5M1f9ssa1'>https://t.co/a5M1f9ssa1</a> <a href='https://t.co/PcqIv1uo1C'>https://t.co/PcqIv1uo1C</a></li>
                      <li>RT: I’m proud that @Cisco is joining over 30 partner organizations in supporting @OneTen. Together, we aim to upskill, hire, and advance 1M Black Americans over 10 years and drive progress toward a more #InclusiveFuture. <a href='https://t.co/ApZDZZnr2S'>https://t.co/ApZDZZnr2S</a></li>
                      <li>#SmallBusinesses in the U.S. can add $1.8T to the Global GDP growth by 2024. Here are three critical reasons why small businesses need to make #IT their first hire.</li>
                      <li>Are you starting a new job remotely? Check out @duosec for tips on setting goals and onboarding successfully.</li>
                      <li>Chairman &amp; CEO @ChuckRobbins discusses Cisco’s conscious culture and commitment to social justice during the #BloombergEquality Summit. Watch the interview: <a href='https://t.co/YZBnukt5UU'>https://t.co/YZBnukt5UU</a>
                      
                      #WeAreCisco <a href='https://t.co/tFbkksvnBL'>https://t.co/tFbkksvnBL</a></li>
                      <li>Real-time video from the scene of an emergency means keeping more people safe. See how firefighters are using Cisco technology to do their jobs more efficiently. <a href='https://t.co/hpfaQD71uH'>https://t.co/hpfaQD71uH</a></li>
                      <li>A changing digital landscape means new job titles. Which one fits you? The #IT roles you’re likely to hear a lot more in the future. <a href='https://t.co/8UnrHhtYuR'>https://t.co/8UnrHhtYuR</a> Via @networkworld
                      
                      #NetworkingTrends <a href='https://t.co/sD83nE9GYY'>https://t.co/sD83nE9GYY</a></li>
                      <li>Starting a new job is stressful. But starting a new job while #WFH? 😳Check out how #collaboration solutions can help the onboarding and training process. <a href='https://t.co/fBcNGHvUnu'>https://t.co/fBcNGHvUnu</a> #HR <a href='https://t.co/aqX7gENHHW'>https://t.co/aqX7gENHHW</a></li>
                      <li>Find out how we offer #veterans and military personnel many pathways to meaningful employment using Cisco's Talent Bridge for Veterans: <a href='https://t.co/IJXKswqvY1'>https://t.co/IJXKswqvY1</a> via @connectingvets</li>
                      <li>Starting a new job is stressful. But starting a new job while #WFH? 😳Check out how #collaboration solutions can help the onboarding and training process. <a href='https://t.co/i0Ef7SZoUQ'>https://t.co/i0Ef7SZoUQ</a> #HR <a href='https://t.co/jVEnnu4L3o'>https://t.co/jVEnnu4L3o</a></li>
                      <li>Future technologies will bring new type of jobs. See how @CiscoNetAcad is helping to prepare the new workforce. <a href='https://t.co/f1bol1lMBS'>https://t.co/f1bol1lMBS</a> @CiscoCSR #education #networking <a href='https://t.co/5qAZsAG0LX'>https://t.co/5qAZsAG0LX</a></li>
                      <li>RT: @Cisco committed to empower 10 million young people with tech skills to boost employment. Meet the young South African already benefiting. #Mandela100 <a href='https://t.co/czBFlApFiI'>https://t.co/czBFlApFiI</a>  <a href='https://t.co/yTLmWJzHfb'>https://t.co/yTLmWJzHfb</a></li>
                      <li>Looking for the #IT factor? Every tech company is too. See how we're addressing the skills gap with @CiscoNetAcad. <a href='https://t.co/O3lJDVIpK1'>https://t.co/O3lJDVIpK1</a> #networking #jobs</li>
                      <li>250,000 service members exit the military each year. Read how we offer #veterans and military personnel pathways to meaningful employment. <a href='https://t.co/wfdfPHWGUz'>https://t.co/wfdfPHWGUz</a> #VeteransDay #NetAcad</li>
                      <li>READY PLAYER ONE! 🎮 Check out how gaming can help fill the #cybersecurity job shortage: <a href='https://t.co/iAyruqvBKj'>https://t.co/iAyruqvBKj</a> 
                      #security #education <a href='https://t.co/JMoYVGNhdS'>https://t.co/JMoYVGNhdS</a></li>
                      <li>This week we learned from a #Talos blog about fake hiring sites and about #Webex's 360 degree approach to security! Read about this and more in this week in review. <a href='https://t.co/d2dfa0OHqX'>https://t.co/d2dfa0OHqX</a></li>
                      <li>GAME ON! 🎮 Check out how gaming can help fill the #cybersecurity job shortage: <a href='https://t.co/P9WmuNK3oR'>https://t.co/P9WmuNK3oR</a> 
                      #security #education</li>
                      <li>Engineer Yianni Thallas says having a #disability doesn't change anything when it comes to his work at Cisco. Why hiring people with disabilities is good business. <a href='https://t.co/3vJvA6w4r1'>https://t.co/3vJvA6w4r1</a> via @nypost <a href='https://t.co/W5oD9QSQkQ'>https://t.co/W5oD9QSQkQ</a></li>
                      <li>From employee experience to recruitment, #AI has the potential to transform the HR world. <a href='https://t.co/37fZ6DIdFe'>https://t.co/37fZ6DIdFe</a></li>
                      <li>The future of employee #recruitment can be in the hands of #AI. <a href='https://t.co/WRLVpubWTo'>https://t.co/WRLVpubWTo</a> #HR</li>

            <br> <br>
          </div>
        </div>

    </section>


  </main>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../static/SecondPage/assets/vendor/aos/aos.js"></script>
  <script src="../../static/SecondPage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../static/SecondPage/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/typed.js/typed.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/SecondPage/assets/js/main.js"></script>

</body>

</html>