<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Team iNova</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/SecondPage/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/SecondPage/assets/css/style.css" rel="stylesheet">

  <style>
  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .card{
    width: 100%;
    height: 350px;
    margin: 30px auto;
  }
  .scrollable{
    overflow-y: auto;
    max-height: 330px;
  }
  </style>

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../../static/SecondPage/assets/img/cisco.jpg" alt="">
        <h1 class="text-light"><a href="http://127.0.0.1:5000/cisco/">Cisco</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="http://127.0.0.1:5000/cisco/mission/" class="nav-link"><span>Mission & Vision</span></a></li>
          <li><a href="http://127.0.0.1:5000/cisco/erg/" class="nav-link"><span>Employee Community</span></a></li>
          <li><a href="http://127.0.0.1:5000/cisco/ratings/" class="nav-link"><span>Ratings & Reports</span></a></li>
          <li><a href="http://127.0.0.1:5000/cisco/employee/" class="nav-link"><span>Employee Comments</span></a></li>
          <li><a href="http://127.0.0.1:5000/cisco/hiring/" class="nav-link"><span>Inclusive Hiring </span></a></li>
          <li><a href="http://127.0.0.1:5000/cisco/questions/" class="nav-link"><span>Submit a Question</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <section id="mission" class="mission">
      <div class="container">

        <div class="section-title">
          <h2> Mission Statement</h2>
          <h5> Our mission is to shape the future of the Internet by creating unprecedented value and opportunity for our customers, employees, investors, and ecosystem partners. </h5>
          <br> <br>
          <h2> Vision Statement</h2>
          <h5> Our vision is to change the way we work, live, play, and learn. </h5>
          <br> <br>
          <h2> Corporate Values</h2>
          <h5> Our people, our technology, and changing the world. </h5>
          <br> <br>
          <h2> The Valuable 500 Commitment </h2>
          <h5> <b> Valuable Leader: </b> Chuck Robbins <br> <br>
               <b> Cisco’s Valuable 500 Commitment: </b> Commitment to be submitted.
          </h5>
        </div>
      </div> <br>
      <div class="container">
        <div class="section-title">
          <h2>Leadership Tweets</h2>
            <div class="row">
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <center> <h4> Chuck Robbins </h4>
                          <img src="../../static/SecondPage/assets/img/chuck_cisco.jpg" alt="" width="100" height="100"> </center> <br>
                          <li>Thanks, @selenagomez! @Cisco is proud to partner with @glblctzn for #VaxLive: The Concert to Reunite the World! We're committing $5M to #COVAX to ensure frontline workers and the most vulnerable have access to vaccines. Together we can power an inclusive recovery for all. https://t.co/AiCSV4dism</li>
                          <li>Technology and broadband are key to creating a cleaner, greener world. As Congress and @POTUS explore how to strengthen infrastructure and the environment, @Cisco hopes broadband prevails as a way to power a more inclusive &amp; sustainable future. https://t.co/PpGMrA0oZB</li>
                          <li>Love hearing @FranKatsoudas share how our @Cisco purpose guided us over the past year and why focusing on people is the key to driving an inclusive recovery. This is crucial for every organization as we move forward and look to a brighter future. #CiscoLive #InclusiveFuture https://t.co/PaNFZpa3XS</li>
                          <li>We’re more focused than ever on providing simple and inclusive #collaboration experiences with @Webex. @jpatel41 was back on stage at #CiscoLive sharing more about new features and devices to create engaging experiences and keep customers connected and productive. @Cisco https://t.co/1HAuwFjkai</li>
                          <li>Congratulations to the amazing @CiscoPortugal team for being named #1 Best Place to work in Portugal by @GPTW_Portugal! This is an incredible accomplishment - thank you for all your hard work and your dedication to @Cisco’s culture!</li>
                          <li>Fantastic demo by @tnight to show how our technology comes together with the #CXCloud dashboard to help customers continue to enable an inclusive pandemic recovery. #CiscoLive @Cisco https://t.co/TKsxSgc6yi</li>
                          <li>Love seeing the creativity and innovation of our @Cisco Ireland team as they celebrate #StPatricksDay highlighting the Irish culture and spirit over @Webex! @CiscoUKI #GRMAWebex https://t.co/SYbNbWc31j</li>
                          <li>I’m excited to welcome @MariannaTessel to the @Cisco Board of Directors! Her successful track record of building a culture of innovation and her experience with software make her a great addition to our Board. Welcome, Marianna! https://t.co/LN8y5Txeu0</li>
                          <li>Introducing real-time language translation in @Webex! This incredible innovation will translate from English to over 100 languages, creating more inclusive meetings where everyone can have a voice! @Cisco</li>
                          <li>Incredible to see the House pass the #EqualityAct to protect all Americans against discrimination based on sexual orientation or gender identity. A huge step in the right direction as we work toward a more #InclusiveFuture. https://t.co/wwSTD4x3ww</li>
                          <li>Congrats to the incredible @Cisco_Japan team for being named #1 @GPTW_Japan! I’m proud of this team and the fantastic culture you have built in Japan - thanks for all you do for @Cisco! https://t.co/ddHMzTiOKk</li>
                          <li>Amazing news! I’m excited to see how @Cisco technology can help support an inclusive pandemic recovery in Japan and beyond! https://t.co/Gj91L6g865</li>
                          <li>Amazing to see these two legends leading the way and having an open, honest conversation about mental health! I’m proud that @Cisco is playing a role in making this happen! @CharlesHaleyHoF @RonnieLottHOF https://t.co/r3m7GoDZ2w</li>
                          <li>This past weekend, we lost a great man, a great leader, and, most importantly, a great friend. Rick Justice helped build @Cisco and shape our amazing culture. He was so special to so many and an incredible mentor to me. I will be forever grateful. RIP, Rick - we miss you.</li>
                          <li>.@Cisco is proud to join @WEF’s Partnering for Racial Justice in Business initiative, along with 47 other organizations around the world. This is another step toward creating a more equitable and inclusive future.</li>
                          <li>.@Cisco stands ready to work with the Biden Administration and Congress to drive progress, recover from the pandemic, bridge the digital divide, and create a more inclusive future for all.</li>
                          <li>We’re excited to welcome @Slidoapp to @Cisco! Adding interactive Q&amp;A, polling, and quizzes to @Webex will increase interaction and create a better and more inclusive meeting experience for all! https://t.co/w5Jj2431Oq</li>
                          <li>Congratulations President- &amp; Vice President-elect @JoeBiden &amp; @KamalaHarris! We at @Cisco share your belief that we must build a more inclusive future for all. We look forward to working with you to strengthen the economy, recover from COVID-19 and unite our country.</li>
                          <li>Love seeing @Cisco in the Top 10 of @Forbes America's Best Employers for New Graduates! The young people at Cisco bring amazing ideas and a fresh perspective, and they add so much to our incredible culture! #WeAreCisco</li>
                          <li>Amazing news and a big step in the right direction! Thank you @Scotus for protecting the LGBTQ community from workplace discrimination. No one’s employment should ever be affected by who they love or how they identify. https://t.co/Y7VItMmBfs</li>
                          <li>I’m looking forward to connecting with our customers and partners on June 16 &amp; 17 for #CiscoLive. Thank you for your understanding and trust during this time. I can’t wait to discuss the opportunities ahead and how we can work together to power an inclusive future. @Cisco https://t.co/NIz07urpSf</li>
                          <li>Today marks the beginning of #PrideMonth, a celebration of the LGBTQ+ community and a reminder of the discrimination they have endured for far too long. We must be allies and continue standing up against bigotry in all its forms. #PRIDE2020 @CiscoPrideERO</li>
                          <li>Today is #GAAD - Global Accessibility Awareness Day. Technology is critical to increasing digital access &amp; inclusion for the 1B+ people with disabilities which deserves more attention. @Cisco is committed to inclusion &amp; unlocking possibilities for all, but we have more to do!</li>
                          <li>I continue to be so proud of this team and the amazing culture we have built together! @Cisco #WeAreCisco https://t.co/KXsaYECHmd</li>
                          <li>So proud that our teams from @CiscoSaudia and @Cisco #UAE were both named #2 on Great Place to Work! Incredible recognition of our amazing people and culture around the world! @CiscoMiddleEast #GPTWME</li>
                          <li>I love hearing about how our employees are adjusting to working from home and how they’re integrating their families into their work lives. Thank you for sharing this awesome story, Kashif! We’d love to have Azaan on our @Cisco engineering team one day! https://t.co/zpGBScZOhj</li>
                          <li>This #BlackHistoryMonth, we need to look for opportunities to get proximate to the Black experience, step up to the challenges of inequity and commit to creating new pathways to an inclusive future for all. #WeAreCisco #InclusionIsHappening @Cisco</li>
                          <li>Loved sharing and hearing people and culture best practices with @AneelB, @MBushGPTW, @JulieSweet, and Lindsay Argalas today at #WEF20! It’s so critical we get this right for all of our employees! @Cisco https://t.co/v7v999sFIz</li>
                          <li>Thrilled to see @Cisco at #2 on @GPTW_US's Best Workplaces for Diversity for 2019! I’m proud of the progress we continue to make to create a more diverse and inclusive workplace for all! #WeAreCisco #InclusionIsHappening https://t.co/UwH1cuvtHI</li>
                          <li>Today I lost a great friend and we all lost an incredible leader and light in our community.  Bernard was a tireless advocate for the homeless, those with mental health issues and anyone who could benefit from his huge heart.  It is truly a sad day... https://t.co/euT7y4wF2y</li>
                          <li>It was my deepest privilege to help launch #GlobalGoalLive w/ @GlblCtzn. This is indeed our moment. Time to step up, inspire change &amp; empower the next generation of global leaders to shape a more inclusive future for all. #ForPeopleForPlanet #PossibleDream @Cisco @Hughcevans https://t.co/Z6MqNqs8Ii</li>
                          <li>Thrilled to see @Cisco as one of the Disability Equality Index’s Best Places to Work! Proud of the strides we’ve made in inclusion and diversity!#InclusionIsHappening #DEI https://t.co/k8Ttls2MeU</li>
                          <li>Thank you @RolaDagher for continuing to emphasize the importance of #MentalHealth. You’re right…creating an open and honest culture starts with leaders and you’re doing an incredible job of paving the way for @Cisco and @CiscoCanada! https://t.co/WYbHqguBnd #EndTheStigma</li>
                          <li>Celebrating inclusivity and diversity is an integral part of @Cisco's culture - and is also at the core of what makes our country great. This #PrideMonth, I'm proud to be supporting all of my #LGBTQ friends and colleagues. #EqualityForAll #CiscoPride https://t.co/tK3D8yD1W2</li>
                          <li>Great meeting with @DasShaktikanta today in Mumbai! @Cisco is committed to @RBI and supporting the acceleration of India’s digital transformation, financial inclusion, cybersecurity and innovation. https://t.co/AS5IfyJBI1</li>
                          <li>On this #MemorialDay we remember all of those who paid the ultimate sacrifice so we can enjoy our freedom.  As we celebrate them and their families, let's try to remember that we are one nation - a nation strengthened by our diversity - but one nation.</li>
                          <li>Congratulations, Prime Minister @narendramodi! This is a testament to your visionary leadership and the progress India has made toward an inclusive, digital-first economy. @Cisco and I look forward to continuing to partner with you on India’s digital journey! @cisco_in</li>
                          <li>At @Cisco, we believe mental health is health. This #MentalHealthMonth, I encourage everyone to talk openly with those who might be struggling and check in with yourself. We must work together to #BreakTheStigma around mental health. #MHM19</li>
                          <li>Thank you to Disability Matters North America for this great honor! Proud of all the work @Cisco does to help those with disabilities. #WeAreCisco https://t.co/8WJ1CNQBlp</li>
                          "<li>Had a great time with the @Cisco team in Seoul today! Thank you for continuing to lead in innovation and for living our amazing culture everyday! #WeAreCisco @CiscoAPAC @markpatt
                          @Miyuki_Suzuki1 https://t.co/gFBnlNO31N</li>"
                          <li>Proud to see that our incredible people and transparent culture helped make @Cisco #12 on @LinkedIn’s list of most sought-after U.S. places to work! #WeAreCisco #LinkedInTopCompanies https://t.co/DEiDcoOlaz</li>
                          "<li>Proud of the great culture we have  at @Cisco - thanks to @FranKatsoudas for all of the great leadership and thanks to @PatrickMoorhead and @Forbes for the great story.
                          https://t.co/nbNpI7T8kv</li>"
                          <li>Honored to participate in tonight’s @Cisco Diversity in Tech Reception at #MWC19 – thanks to the team for this important discussion! Please join me in committing to sponsor diverse talent by taking the Multiplier Effect Pledge: https://t.co/TlVr9GxtLZ #MultiplyTechDiversity https://t.co/wfC4pyMHFx</li>
                          <li>Today marks the beginning of #BlackHistoryMonth, a time to celebrate &amp; honor the lives and achievements of African-Americans and recognize the adversity they have faced - and continue to face. Together, we must keep working toward a more inclusive world. @Cisco #WeAreCisco</li>
                          <li>Thanks to my friend @BernardJTyson for hosting such an important discussion on mental health with @CliftonLeaf. Together we can change the conversation and make it #safetotalk. #mentalhealthishealth #WEF19 #TimetoAct @Cisco https://t.co/J0nShxHHpG</li>
                          <li>I am so humbled by the leadership and culture we have at @Cisco - @RolaDagher is an amazing example - we are proud of her and fortunate to have her as one of our leaders.  https://t.co/VH3nwoltYx</li>
                          <li>Excited to be partnering with @2ndharvest today celebrating our culture of giving back and day of service with the @Cisco team! #BetheBridge #WeAreCisco #LoveWhereYouWork https://t.co/ZcKb20WZQe</li>
                          <li>Proud to be #7! A testament to our collective efforts &amp; belief that a diverse workforce matters. Thanks to our teams around the world for embracing this. Now let’s keep going - we have more to do!  @Cisco #WeAreCisco @s_slate90 @FranKatsoudas https://t.co/XuUfEfzM2Q</li>
                          "<li>Had a great time with our #CiscoEgypt team today! This team truly
                          shows why @Cisco is such a great place to work. Thanks for your energy,
                          commitment to innovation and our culture! #WeAreCisco https://t.co/ztnP5ZWVPD</li>"
                          <li>Today we still fight the stigma and discrimination surrounding AIDS. Let us honor the memory of those we’ve lost and dedicate ourselves to ending this pandemic. #WorldAidsDay #BetheBridge @Cisco https://t.co/DpVndwuEEt</li>
                          <li>We stand with Pittsburgh today and our hearts are with the victims, the first responders and their families.  We must continue to fight for inclusion, tolerance and peace in our great country.</li>
                          <li>So proud of our teams around the world that make up the incredible culture @Cisco – we moved up to #8 because of all of you! Thanks to @FortuneMagazine #GPTW for the honor &amp; recognition. #WeAreCisco.  https://t.co/UmSHgPWl0A</li>
                          <li>Today on #WorldMentalHealthDay and everyday, we are committed to making @Cisco an open, supportive environment for everyone. It's so important to continue working to destigmatize mental health by coming together, speaking up, and seeking support. #SafeToTalk #WeAreCisco</li>
                          <li>What impresses me most about our teams @Cisco is their passion for our culture of giving back, having fun and delivering results. Thank you, Melbourne! @CiscoANZ #WeAreCisco @kenboal @Miyuki_Suzuki1 https://t.co/uuKbgS5fm5</li>
                          <li>What an amazing group of @Cisco women in Buenos Aires! Thanks for the taking the time and always making such a positive impact on our business and culture. @Cisco_LA @ciscoconosur #CiscoArgentina #WeAreCisco https://t.co/1XZTaX4voI</li>
                          <li>Great spending time with Chilean industry leaders for a fascinating conversation on culture, transformation and innovation. Thanks to @icare_chile for hosting! @Cisco_LA @ciscoconosur @Cisco https://t.co/obHc7r8jcd</li>
                          <li>What a warm welcome from the @Cisco Galway team! What a great example of our amazing Cisco culture, innovation and giving back. Thanks @CiscoUKI for a fantastic visit! #WeAreCiscoGalway #WeAreCisco https://t.co/3wPwLwvLH8</li>
                          <li>A huge thank you to our amazing team in India! Great spending time with you and seeing all of the great passion for culture and innovation that comes out of @cisco_in. See you soon! @Cisco #WeAreCisco https://t.co/61Fb5Iw9fV</li>
                          <li>Great discussion with industry and government leaders @NITIAayog Roundtable. India is transforming with speed &amp; scale to open up bigger opportunities for its citizens through growth, inclusion and investment. @cisco @cisco_in https://t.co/1XLeGIljCi</li>
                          <li>Proud to work with the state of Israel to connect Israel through digital hubs using @Cisco technology. Great #innovation comes from #partnerships and #inclusion - important to build a future where everyone has the opportunity to thrive! @CiscoIsrael @PresidentRuvi #startupnation https://t.co/yEKB5izOUM</li>
                          <li>I’m honored to have the opportunity to support @Cisco’s @YvetteKanouff in her efforts to #MultiplyDiversity with the Multiplier Effect Pledge, encouraging more diversity in tech. So important for men to be engaged! #MentorHer https://t.co/xA8hrAhkwF</li>
                          <li>RT @FranKatsoudas: Power of Inclusion and diversity. Early morning with 70 exec leaders @Cisco. No coffee needed-almost. #WeAreCisco https:…</li>
                          <li>RT @Cisco: On #InternationalWomensDay, Cisco highlights women who continually fight for a more inclusive, gender-equal world. #BeBoldForCha…</li>
                          <li>Today we honor Martin Luther King Jr. as we build a culture of respect, empowerment and innovation #WeAreCisco  #MLKDay2017 @Cisco https://t.co/HFh4X9TkVL</li>
                          <li>RT @dominikgrau: .@ChuckRobbins -a broader look: technology + education + diversity + democracy as key drivers to reduce poverty, inequalit…</li>
                          <li>Great discussion with key leaders of employee resource groups and key innovators in @cisco_in @Cisco - thanks for all you do! https://t.co/WL31Xt0HRN</li>
                          <li>RT @CiscoCollab: .@jdrosen2 on “Apple and Cisco's Revamped Mobile Enterprise” https://t.co/lkkiJLwD3Q #mobility #CiscoSpark #voip https://t…</li>
                          <li>Cisco unearths its inner startup culture via companywide innovation contest!  https://t.co/eblZMITaPI @Cisco</li>
                          <li>RT @ChrisDedicoat: Very proud of @tunji_at_cisco for being named a #diversity champion!! 5th best in the World https://t.co/VjZirfedQG via…</li>
                          <li>RT @Cisco: Cisco is against discrimination of any kind. #WeAreNotThis #WeAreCisco https://t.co/Q4YjxeAMYL</li>
                          <li>Enjoyed chat with Steve Saunders at MWC - great discussion on technology, culture and our future! @SSatLR @Cisco https://t.co/a5lOWCcoZJ</li>
                          <li>@CiscoCanada shows continued focus on diversity and entrepreneurship with the Women Entrepreneurs' Circle https://t.co/W87smNdYkm @cisco</li>
                          <li>Proud of our diverse leadership team!  @Cisco @CiscoEWN https://t.co/6xuOSQpaNN</li>
                          <li>Great inclusion and collaboration event last night!  Congratulations @s_slate90 @cisco https://t.co/NdYZlsAenY</li>
                          <li>RT @CiscoPubPolicy: #GirlsPowerTech "Building a diverse talent pipeline into the future”@ChuckRobbins http://t.co/J1ik217Tgx #GirlsinICT ht…</li>

                          </p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </section>
  </main>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../static/SecondPage/assets/vendor/aos/aos.js"></script>
  <script src="../../static/SecondPage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../static/SecondPage/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/typed.js/typed.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/SecondPage/assets/js/main.js"></script>

</body>

</html>