<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/jpg" href="../../static/secondary-pages/assets/img/handshake.png"/>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Project Inclusion</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/secondary-pages/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/secondary-pages/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/secondary-pages/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/secondary-pages/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../static/secondary-pages/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/secondary-pages/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/secondary-pages/assets/css/style.css" rel="stylesheet">

  <style>
  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .card{
    width: 100%;
    height: 550px;
    margin: 5px auto;
  }
  .scrollable{
    overflow-y: auto;
    max-height: 330px;
  }
  </style>

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../../static/secondary-pages/assets/img/cisco.jpg" alt="">
        <h1 class="text-light"><a href="/cisco/">Cisco</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/cisco/mission/" class="nav-link"><span>Mission & Vision</span></a></li>
          <li><a href="/cisco/erg/" class="nav-link"><span>Employee Community</span></a></li>
          <li><a href="/cisco/ratings/" class="nav-link"><span>Ratings & Reports</span></a></li>
          <li><a href="/cisco/employee/" class="nav-link"><span>Employee Comments</span></a></li>
          <li><a href="/cisco/hiring/" class="nav-link"><span>Inclusive Hiring </span></a></li>
          <li><a href="/cisco/questions/" class="nav-link"><span>Feedback Form</span></a></li>
          <li> <a href="/" class="nav-link"><span> Return to Home </span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <section id="mission" class="mission">
      <div class="container"  style="font-family: 'Raleway', sans-serif">

        <div class="section-title">
          <h2> Mission Statement</h2>
          Our mission is to shape the future of the Internet by creating unprecedented value and opportunity for our customers, employees, investors, and ecosystem partners.
          <br> <br>
          <h2> Vision Statement</h2>
          Our vision is to change the way we work, live, play, and learn.
          <br> <br>
          <h2> Corporate Values</h2>
          Our people, our technology, and changing the world.
          <br> <br>
          <h2> The Valuable 500 Commitment </h2>
          <b> Valuable Leader: </b> Chuck Robbins <br> <br>
               <b> Cisco’s Valuable 500 Commitment: </b> Commitment to be submitted.
        </div>
      </div>
      <div class="container">
        <div class="section-title" style="font-family: 'Raleway', sans-serif">
          <h2>Leadership Tweets</h2>
            <div class="row">
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <center> <h4> <b> Chuck Robbins </b> </h4> <h6> <b> Chief Executive Officer </b> </h6>
                          <img src="../../static/secondary-pages/assets/img/chuck_cisco.jpg" alt="" width="100" height="100"> </center> <br>
                    <div class="scrollable">
                      <p class="card-text">
                          <li>I’m excited to welcome @socioevents to @Cisco! Their end-to-end event management platform will help us continue to create inclusive hybrid meeting and event experiences that are 10X better for all participants! <a href='https://t.co/YXLJFTJ9sH'>https://t.co/YXLJFTJ9sH</a></li>
                          <li>Thanks, @selenagomez! @Cisco is proud to partner with @glblctzn for #VaxLive: The Concert to Reunite the World! We're committing $5M to #COVAX to ensure frontline workers and the most vulnerable have access to vaccines. Together we can power an inclusive recovery for all. <a href='https://t.co/AiCSV4dism'>https://t.co/AiCSV4dism</a></li>
                          <li>Technology and broadband are key to creating a cleaner, greener world. As Congress and @POTUS explore how to strengthen infrastructure and the environment, @Cisco hopes broadband prevails as a way to power a more inclusive &amp; sustainable future. <a href='https://t.co/PpGMrA0oZB'>https://t.co/PpGMrA0oZB</a></li>
                          <li>Love hearing @FranKatsoudas share how our @Cisco purpose guided us over the past year and why focusing on people is the key to driving an inclusive recovery. This is crucial for every organization as we move forward and look to a brighter future. #CiscoLive #InclusiveFuture <a href='https://t.co/PaNFZpa3XS'>https://t.co/PaNFZpa3XS</a></li>
                          <li>We’re more focused than ever on providing simple and inclusive #collaboration experiences with @Webex. @jpatel41 was back on stage at #CiscoLive sharing more about new features and devices to create engaging experiences and keep customers connected and productive. @Cisco <a href='https://t.co/1HAuwFjkai'>https://t.co/1HAuwFjkai</a></li>
                          <li>Congratulations to the amazing @CiscoPortugal team for being named #1 Best Place to work in Portugal by @GPTW_Portugal! This is an incredible accomplishment - thank you for all your hard work and your dedication to @Cisco’s culture!</li>
                          <li>Fantastic demo by @tnight to show how our technology comes together with the #CXCloud dashboard to help customers continue to enable an inclusive pandemic recovery. #CiscoLive @Cisco <a href='https://t.co/TKsxSgc6yi'>https://t.co/TKsxSgc6yi</a></li>
                          <li>Love seeing the creativity and innovation of our @Cisco Ireland team as they celebrate #StPatricksDay highlighting the Irish culture and spirit over @Webex! @CiscoUKI #GRMAWebex <a href='https://t.co/SYbNbWc31j'>https://t.co/SYbNbWc31j</a></li>
                          <li>I’m excited to welcome @MariannaTessel to the @Cisco Board of Directors! Her successful track record of building a culture of innovation and her experience with software make her a great addition to our Board. Welcome, Marianna! <a href='https://t.co/LN8y5Txeu0'>https://t.co/LN8y5Txeu0</a></li>
                          <li>Introducing real-time language translation in @Webex! This incredible innovation will translate from English to over 100 languages, creating more inclusive meetings where everyone can have a voice! @Cisco</li>
                          <li>Congrats to the incredible @Cisco_Japan team for being named #1 @GPTW_Japan! I’m proud of this team and the fantastic culture you have built in Japan - thanks for all you do for @Cisco! <a href='https://t.co/ddHMzTiOKk'>https://t.co/ddHMzTiOKk</a></li>
                          <li>Amazing news! I’m excited to see how @Cisco technology can help support an inclusive pandemic recovery in Japan and beyond! <a href='https://t.co/Gj91L6g865'>https://t.co/Gj91L6g865</a></li>
                          <li>This past weekend, we lost a great man, a great leader, and, most importantly, a great friend. Rick Justice helped build @Cisco and shape our amazing culture. He was so special to so many and an incredible mentor to me. I will be forever grateful. RIP, Rick - we miss you.</li>
                          <li>.@Cisco is proud to join @WEF’s Partnering for Racial Justice in Business initiative, along with 47 other organizations around the world. This is another step toward creating a more equitable and inclusive future.</li>
                          <li>.@Cisco stands ready to work with the Biden Administration and Congress to drive progress, recover from the pandemic, bridge the digital divide, and create a more inclusive future for all.</li>
                          <li>I’m proud that @Cisco is joining over 30 partner organizations in supporting @OneTen. Together, we aim to upskill, hire, and advance 1M Black Americans over 10 years and drive progress toward a more #InclusiveFuture. <a href='https://t.co/ApZDZZnr2S'>https://t.co/ApZDZZnr2S</a></li>
                          <li>We’re excited to welcome @Slidoapp to @Cisco! Adding interactive Q&amp;A, polling, and quizzes to @Webex will increase interaction and create a better and more inclusive meeting experience for all! <a href='https://t.co/w5Jj2431Oq'>https://t.co/w5Jj2431Oq</a></li>
                          <li>Congratulations President- &amp; Vice President-elect @JoeBiden &amp; @KamalaHarris! We at @Cisco share your belief that we must build a more inclusive future for all. We look forward to working with you to strengthen the economy, recover from COVID-19 and unite our country.</li>
                          <li>Love seeing @Cisco in the Top 10 of @Forbes America's Best Employers for New Graduates! The young people at Cisco bring amazing ideas and a fresh perspective, and they add so much to our incredible culture! #WeAreCisco</li>
                          <li>At @Cisco, we know there is so much opportunity to connect the world and make a real impact through our technology and our actions. Together, we can Power an Inclusive Future for all: <a href='https://t.co/Q4yKMGUA8M'>https://t.co/Q4yKMGUA8M</a> #CiscoLive</li>
                          <li>Amazing news and a big step in the right direction! Thank you @Scotus for protecting the LGBTQ community from workplace discrimination. No one’s employment should ever be affected by who they love or how they identify. <a href='https://t.co/Y7VItMmBfs'>https://t.co/Y7VItMmBfs</a></li>
                          <li>I’m looking forward to connecting with our customers and partners on June 16 &amp; 17 for #CiscoLive. Thank you for your understanding and trust during this time. I can’t wait to discuss the opportunities ahead and how we can work together to power an inclusive future. @Cisco <a href='https://t.co/NIz07urpSf'>https://t.co/NIz07urpSf</a></li>
                          <li>Today is #GAAD - Global Accessibility Awareness Day. Technology is critical to increasing digital access &amp; inclusion for the 1B+ people with disabilities which deserves more attention. @Cisco is committed to inclusion &amp; unlocking possibilities for all, but we have more to do!</li>
                          <li>I continue to be so proud of this team and the amazing culture we have built together! @Cisco #WeAreCisco <a href='https://t.co/KXsaYECHmd'>https://t.co/KXsaYECHmd</a></li>
                          <li>So proud that our teams from @CiscoSaudia and @Cisco #UAE were both named #2 on Great Place to Work! Incredible recognition of our amazing people and culture around the world! @CiscoMiddleEast #GPTWME</li>
                          <li>This #BlackHistoryMonth, we need to look for opportunities to get proximate to the Black experience, step up to the challenges of inequity and commit to creating new pathways to an inclusive future for all. #WeAreCisco #InclusionIsHappening @Cisco</li>
                          <li>Loved sharing and hearing people and culture best practices with @AneelB, @MBushGPTW, @JulieSweet, and Lindsay Argalas today at #WEF20! It’s so critical we get this right for all of our employees! @Cisco <a href='https://t.co/v7v999sFIz'>https://t.co/v7v999sFIz</a></li>
                          <li>Thrilled to see @Cisco at #2 on @GPTW_US's Best Workplaces for Diversity for 2019! I’m proud of the progress we continue to make to create a more diverse and inclusive workplace for all! #WeAreCisco #InclusionIsHappening <a href='https://t.co/UwH1cuvtHI'>https://t.co/UwH1cuvtHI</a></li>
                          <li>It was my deepest privilege to help launch #GlobalGoalLive w/ @GlblCtzn. This is indeed our moment. Time to step up, inspire change &amp; empower the next generation of global leaders to shape a more inclusive future for all. #ForPeopleForPlanet #PossibleDream @Cisco @Hughcevans <a href='https://t.co/Z6MqNqs8Ii'>https://t.co/Z6MqNqs8Ii</a></li>
                          <li>Thrilled to see @Cisco as one of the Disability Equality Index’s Best Places to Work! Proud of the strides we’ve made in inclusion and diversity!#InclusionIsHappening #DEI <a href='https://t.co/k8Ttls2MeU'>https://t.co/k8Ttls2MeU</a></li>
                          <li>Glad to see the U.S. House take a step toward a fairer immigration system with #HR1044. Ensuring all people have the same chance at a green card allows us to build a high-skilled workforce and encourages hiring to help us accelerate economic growth. @Cisco <a href='https://t.co/PElca6wq0g'>https://t.co/PElca6wq0g</a></li>
                          <li>Thank you @RolaDagher for continuing to emphasize the importance of #MentalHealth. You’re right…creating an open and honest culture starts with leaders and you’re doing an incredible job of paving the way for @Cisco and @CiscoCanada! <a href='https://t.co/WYbHqguBnd'>https://t.co/WYbHqguBnd</a> #EndTheStigma</li>
                          <li>Celebrating inclusivity and diversity is an integral part of @Cisco's culture - and is also at the core of what makes our country great. This #PrideMonth, I'm proud to be supporting all of my #LGBTQ friends and colleagues. #EqualityForAll #CiscoPride <a href='https://t.co/tK3D8yD1W2'>https://t.co/tK3D8yD1W2</a></li>
                          <li>Great meeting with @DasShaktikanta today in Mumbai! @Cisco is committed to @RBI and supporting the acceleration of India’s digital transformation, financial inclusion, cybersecurity and innovation. <a href='https://t.co/AS5IfyJBI1'>https://t.co/AS5IfyJBI1</a></li>
                          <li>On this #MemorialDay we remember all of those who paid the ultimate sacrifice so we can enjoy our freedom.  As we celebrate them and their families, let's try to remember that we are one nation - a nation strengthened by our diversity - but one nation.</li>
                          <li>Congratulations, Prime Minister @narendramodi! This is a testament to your visionary leadership and the progress India has made toward an inclusive, digital-first economy. @Cisco and I look forward to continuing to partner with you on India’s digital journey! @cisco_in</li>
                          <li>Unbelievable - congrats @warriors - such a great representation of why ‘teams’ win!!!!</li>
                          <li>Thank you to Disability Matters North America for this great honor! Proud of all the work @Cisco does to help those with disabilities. #WeAreCisco <a href='https://t.co/8WJ1CNQBlp'>https://t.co/8WJ1CNQBlp</a></li>
                          "<li>Had a great time with the @Cisco team in Seoul today! Thank you for continuing to lead in innovation and for living our amazing culture everyday! #WeAreCisco @CiscoAPAC @markpatt
                          @Miyuki_Suzuki1 <a href='https://t.co/gFBnlNO31N'>https://t.co/gFBnlNO31N</a></li>"
                          <li>Proud to see that our incredible people and transparent culture helped make @Cisco #12 on @LinkedIn’s list of most sought-after U.S. places to work! #WeAreCisco #LinkedInTopCompanies <a href='https://t.co/DEiDcoOlaz'>https://t.co/DEiDcoOlaz</a></li>
                          "<li>Proud of the great culture we have  at @Cisco - thanks to @FranKatsoudas for all of the great leadership and thanks to @PatrickMoorhead and @Forbes for the great story.
                          <a href='https://t.co/nbNpI7T8kv'>https://t.co/nbNpI7T8kv</a></li>"
                          <li>Congratulations @s_slate90 for being one of @blackenterprise’s Most Powerful Women in Corporate Diversity! So inspired by all you do to make @Cisco a great place to work for everyone! #WeAreCisco <a href='https://t.co/VAfIB0lwDj'>https://t.co/VAfIB0lwDj</a></li>
                          <li>Honored to participate in tonight’s @Cisco Diversity in Tech Reception at #MWC19 – thanks to the team for this important discussion! Please join me in committing to sponsor diverse talent by taking the Multiplier Effect Pledge: <a href='https://t.co/TlVr9GxtLZ'>https://t.co/TlVr9GxtLZ</a> #MultiplyTechDiversity <a href='https://t.co/wfC4pyMHFx'>https://t.co/wfC4pyMHFx</a></li>
                          <li>Today marks the beginning of #BlackHistoryMonth, a time to celebrate &amp; honor the lives and achievements of African-Americans and recognize the adversity they have faced - and continue to face. Together, we must keep working toward a more inclusive world. @Cisco #WeAreCisco</li>
                          <li>Congratulations, @CiscoTSJoe - happy for you and @PureStorage -- great hire, Charlie G! <a href='https://t.co/FxCvmb9huM'>https://t.co/FxCvmb9huM</a></li>
                          <li>I am so humbled by the leadership and culture we have at @Cisco - @RolaDagher is an amazing example - we are proud of her and fortunate to have her as one of our leaders.  <a href='https://t.co/VH3nwoltYx'>https://t.co/VH3nwoltYx</a></li>
                          <li>Excited to be partnering with @2ndharvest today celebrating our culture of giving back and day of service with the @Cisco team! #BetheBridge #WeAreCisco #LoveWhereYouWork <a href='https://t.co/ZcKb20WZQe'>https://t.co/ZcKb20WZQe</a></li>
                          <li>Proud to be #7! A testament to our collective efforts &amp; belief that a diverse workforce matters. Thanks to our teams around the world for embracing this. Now let’s keep going - we have more to do!  @Cisco #WeAreCisco @s_slate90 @FranKatsoudas <a href='https://t.co/XuUfEfzM2Q'>https://t.co/XuUfEfzM2Q</a></li>
                          "<li>Had a great time with our #CiscoEgypt team today! This team truly
                          shows why @Cisco is such a great place to work. Thanks for your energy,
                          commitment to innovation and our culture! #WeAreCisco <a href='https://t.co/ztnP5ZWVPD'>https://t.co/ztnP5ZWVPD</a></li>"
                          "<li>Proud to announce @Cisco’s commitment to prepare 10 million
                          people, just like the amazing @SosoLuningo, for jobs in the digital economy in the next 5 years at the
                          #GlobalCitizen #Mandela100 Festival. #BeTheBridge.  <a href='https://t.co/bHr5Jr4HmT'>https://t.co/bHr5Jr4HmT</a></li>"
                          <li>We stand with Pittsburgh today and our hearts are with the victims, the first responders and their families.  We must continue to fight for inclusion, tolerance and peace in our great country.</li>
                          <li>So proud of our teams around the world that make up the incredible culture @Cisco – we moved up to #8 because of all of you! Thanks to @FortuneMagazine #GPTW for the honor &amp; recognition. #WeAreCisco.  <a href='https://t.co/UmSHgPWl0A'>https://t.co/UmSHgPWl0A</a></li>
                          <li>What impresses me most about our teams @Cisco is their passion for our culture of giving back, having fun and delivering results. Thank you, Melbourne! @CiscoANZ #WeAreCisco @kenboal @Miyuki_Suzuki1 <a href='https://t.co/uuKbgS5fm5'>https://t.co/uuKbgS5fm5</a></li>
                          <li>Honored to partner with @mauriciomacri to expand @Cisco NetAcad program to prepare Argentinians for jobs of the future in ICT and cyber - and help build the foundation for Argentina’s digital strategy and are committed to our long term partnership with Argentina! #CiscoArgentina <a href='https://t.co/td9bXeE6QU'>https://t.co/td9bXeE6QU</a></li>
                          <li>What an amazing group of @Cisco women in Buenos Aires! Thanks for the taking the time and always making such a positive impact on our business and culture. @Cisco_LA @ciscoconosur #CiscoArgentina #WeAreCisco <a href='https://t.co/1XZTaX4voI'>https://t.co/1XZTaX4voI</a></li>
                          <li>Great spending time with Chilean industry leaders for a fascinating conversation on culture, transformation and innovation. Thanks to @icare_chile for hosting! @Cisco_LA @ciscoconosur @Cisco <a href='https://t.co/obHc7r8jcd'>https://t.co/obHc7r8jcd</a></li>
                          <li>What a warm welcome from the @Cisco Galway team! What a great example of our amazing Cisco culture, innovation and giving back. Thanks @CiscoUKI for a fantastic visit! #WeAreCiscoGalway #WeAreCisco <a href='https://t.co/3wPwLwvLH8'>https://t.co/3wPwLwvLH8</a></li>
                          <li>A huge thank you to our amazing team in India! Great spending time with you and seeing all of the great passion for culture and innovation that comes out of @cisco_in. See you soon! @Cisco #WeAreCisco <a href='https://t.co/61Fb5Iw9fV'>https://t.co/61Fb5Iw9fV</a></li>
                          <li>Great discussion with industry and government leaders @NITIAayog Roundtable. India is transforming with speed &amp; scale to open up bigger opportunities for its citizens through growth, inclusion and investment. @cisco @cisco_in <a href='https://t.co/1XLeGIljCi'>https://t.co/1XLeGIljCi</a></li>
                          <li>Proud to work with the state of Israel to connect Israel through digital hubs using @Cisco technology. Great #innovation comes from #partnerships and #inclusion - important to build a future where everyone has the opportunity to thrive! @CiscoIsrael @PresidentRuvi #startupnation <a href='https://t.co/yEKB5izOUM'>https://t.co/yEKB5izOUM</a></li>
                          <li>RT: Shari Slate, @Cisco VP, Chief Inclusion &amp; Collaboration Officer is an inspiring example of a trailblazing leader.  Join us Mar 07 at “Women Of Impact -Together, For Change”  #WomenInTech #WeAreCisco #WOI2018 <a href='https://t.co/KEn1pCnyNS'>https://t.co/KEn1pCnyNS</a></li>
                          <li>I’m honored to have the opportunity to support @Cisco’s @YvetteKanouff in her efforts to #MultiplyDiversity with the Multiplier Effect Pledge, encouraging more diversity in tech. So important for men to be engaged! #MentorHer <a href='https://t.co/xA8hrAhkwF'>https://t.co/xA8hrAhkwF</a></li>
                          "<li>@Cisco is proud to partner with 10 other companies on SkillSET, bringing together our
                          strengths to help educate the high-skilled workers needed for jobs now and into the future
                          #WEF18 #WEFSkillSet <a href='https://t.co/o6N5PNDf9y'>https://t.co/o6N5PNDf9y</a></li>"
                          <li>RT: Proud of @Cisco_Germany &amp; @ReDISchool work to skill &amp; employ refugees in technology jobs. @Tuszik @ChuckRobbins  <a href='https://t.co/TAlLXnxL57'>https://t.co/TAlLXnxL57</a></li>
                          <li>RT: Power of Inclusion and diversity. Early morning with 70 exec leaders @Cisco. No coffee needed-almost. #WeAreCisco <a href='https://t.co/Dhfe38Ujge'>https://t.co/Dhfe38Ujge</a></li>
                          <li>RT: On #InternationalWomensDay, Cisco highlights women who continually fight for a more inclusive, gender-equal world. #BeBoldForChange <a href='https://t.co/1NKhuAD2zB'>https://t.co/1NKhuAD2zB</a></li>
                          <li>Today we honor Martin Luther King Jr. as we build a culture of respect, empowerment and innovation #WeAreCisco  #MLKDay2017 @Cisco <a href='https://t.co/HFh4X9TkVL'>https://t.co/HFh4X9TkVL</a></li>
                          <li>RT: .@ChuckRobbins -a broader look: technology + education + diversity + democracy as key drivers to reduce poverty, inequality? #wef #wef17 <a href='https://t.co/yMStzbBckP'>https://t.co/yMStzbBckP</a></li>
                          <li>Cisco unearths its inner startup culture via companywide innovation contest!  <a href='https://t.co/eblZMITaPI'>https://t.co/eblZMITaPI</a> @Cisco</li>
                          <li>RT: Very proud of @tunji_at_cisco for being named a #diversity champion!! 5th best in the World <a href='https://t.co/VjZirfedQG'>https://t.co/VjZirfedQG</a> via @FT @Cisco</li>
                          <li>Enjoyed chat with Steve Saunders at MWC - great discussion on technology, culture and our future! @SSatLR @Cisco <a href='https://t.co/a5lOWCcoZJ'>https://t.co/a5lOWCcoZJ</a></li>
                          <li>@CiscoCanada shows continued focus on diversity and entrepreneurship with the Women Entrepreneurs' Circle <a href='https://t.co/W87smNdYkm'>https://t.co/W87smNdYkm</a> @cisco</li>
                          <li>Proud of our diverse leadership team!  @Cisco @CiscoEWN <a href='https://t.co/6xuOSQpaNN'>https://t.co/6xuOSQpaNN</a></li>
                          <li>RT: “ACI has taken an open approach to accommodate automation of network services from multiple vendors” <a href='http://t.co/VJmvxbK2nS'>http://t.co/VJmvxbK2nS</a></li>
                          <li>Great inclusion and collaboration event last night!  Congratulations @s_slate90 @cisco <a href='https://t.co/NdYZlsAenY'>https://t.co/NdYZlsAenY</a></li>
                          <li>RT: #GirlsPowerTech "Building a diverse talent pipeline into the future”@ChuckRobbins <a href='http://t.co/J1ik217Tgx'>http://t.co/J1ik217Tgx</a> #GirlsinICT <a href='http://t.co/kNG6Sv6Zxl'>http://t.co/kNG6Sv6Zxl</a></li>

                          </p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </section>
  </main>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../static/secondary-pages/assets/vendor/aos/aos.js"></script>
  <script src="../../static/secondary-pages/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/secondary-pages/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/secondary-pages/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/secondary-pages/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../static/secondary-pages/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../static/secondary-pages/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/secondary-pages/assets/vendor/typed.js/typed.min.js"></script>
  <script src="../../static/secondary-pages/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/secondary-pages/assets/js/main.js"></script>

</body>

</html>