<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" type="image/jpg" href="../../static/SecondPage/assets/img/handshake.png"/>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Team iNova</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/SecondPage/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/SecondPage/assets/css/style.css" rel="stylesheet">


  <style type="text/css">

    body{
        /*background-color: #f5f5f5;*/
        margin: 0;
        padding: 0;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .page {
        margin: 40px;
    }

    h1{
        margin: 40px 0 60px 0;
    }

    .dark-area {
        /*background-color: #666;*/
        padding: 40px;
        margin: 0 -40px 20px -40px;
        clear: both;
    }

    .clearfix:before,.clearfix:after {content: " "; display: table;}
    .clearfix:after {clear: both;}
    .clearfix {*zoom: 1;}

  </style>
  <style>
  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .card{
    width: 100%;
    height: 280px;
    margin: 5px auto;
  }
  .scrollable{
    overflow-y: auto;
    max-height: 250px;
  }
  </style>

  <link rel="stylesheet" href="../../static/SecondPage/assets/css/circle.css">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../../static/SecondPage/assets/img/cisco.jpg" alt="">
        <h1 class="text-light"><a href="/cisco/">Cisco</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/cisco/mission/" class="nav-link"><span>Mission & Vision</span></a></li>
          <li><a href="/cisco/erg/" class="nav-link"><span>Employee Community</span></a></li>
          <li><a href="/cisco/ratings/" class="nav-link"><span>Ratings & Reports</span></a></li>
          <li><a href="/cisco/employee/" class="nav-link"><span>Employee Comments</span></a></li>
          <li><a href="/cisco/hiring/" class="nav-link"><span>Inclusive Hiring </span></a></li>
          <li><a href="/cisco/questions/" class="nav-link"><span>Feedback Form</span></a></li>
          <li> <a href="/" class="nav-link"><span> Return to Home </span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">
    <section id="ratings" class="ratings">
      <div class="container">
        <div class="section-title">
          <h2>Ratings</h2>
            <div class="row">
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> Glassdoor Diversity and Inclusion Rating </h4> <br>
                          <div class="clearfix" style="font-family: 'Raleway', sans-serif">
                            <div class="c100 p88">
                              <span>4.4/5</span>
                              <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                              </div>
                            </div> Company ratings on Glassdoor are determined by recent employee feedback. Glassdoor calculates company ratings using a proprietary ratings algorithm, with an emphasis on recency of reviews. Generally, the more recent the review, the heavier its weight towards the overall rating on Glassdoor. This approach gives job seekers and employers what they've asked for - the freshest perspective on what it’s really like to work inside any company, according to employees.
                          </div> <br>
                          </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="card">
                  <div class="card-body">
                    <div class="scrollable">
                      <p class="card-text">
                        <h4> Disability:IN Rating </h4> <br>
                          <div class="clearfix" style="font-family: 'Raleway', sans-serif">
                            <div class="c100 p100">
                              <span>100/100</span>
                              <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                              </div>
                            </div>
                            The Disability Equality Index (DEI) is a comprehensive benchmarking tool that helps companies build a roadmap of measurable, tangible actions that they can take to achieve disability inclusion and equality. Each company receives a score, on a scale of zero (0) to 100, with those earning 80 and above recognized as “Best Places to Work for Disability Inclusion.”
                            Fortune 1000 companies realize environmental, social and governance factors impact their management, culture, brand and financial well-being. While many companies have identified methods to advance their disability inclusion, companies had recognized current benchmarking tools were inadequate in evaluating disability inclusion as part of their company’s diversity and inclusion, or broader, sustainability efforts.
                            A joint initiative of Disability:IN and the American Association of People with Disabilities (AAPD), the DEI is an objective, reflective, forward-thinking and CONFIDENTAL disability inclusion rating tool to assist business.
                          </div> <br>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="container">
        <div class="section-title">
          <h2>Diversity and Inclusion Report</h2>
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <p class="card-text" style="font-family: 'Raleway', sans-serif">We are inventing new ways to multiply the power of
                    our people and developing innovative solutions to some of our most business-critical challenges and
                    opportunities while expanding our commitment to fair pay and accelerating our diverse talent.
                    We are investing in our emerging diverse leaders and creating new realms of inclusion through
                    technology. Cisco is partnering across the globe to multiply our impact and taking a stand for
                    social justice throughout our communities.
                  </p>
                  <br>
                  <a href="https://www.cisco.com/c/en/us/about/inclusion-diversity/us.html" class="btn btn-primary">Read the full report here</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

  </main>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../static/SecondPage/assets/vendor/aos/aos.js"></script>
  <script src="../../static/SecondPage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/php-email-form/validate.js"></script>
  <script src="../../static/SecondPage/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../static/SecondPage/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/typed.js/typed.min.js"></script>
  <script src="../../static/SecondPage/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/SecondPage/assets/js/main.js"></script>

</body>

</html>